Search_WebContentCrawl/Nifi_Flows/custom-crawl-StaticContentIndexDatabaseConnectorPipe-Attachment.json
{
  "snapshotMetadata" : {
    "version" : 2,
    "timestamp" : 1630599433630,
    "author" : "anonymous",
    "comments" : "final version"
  },
  "flowContents" : {
    "identifier" : "8e2684c5-ca68-3431-b15c-2ae1c39e8345",
    "name" : "custom-crawl - DatabaseCustomConnectorPipe",
    "comments" : "{\n  \"version\": \"9.1.5.0\",\n  \"level\": \"9.1/search-registry-app=v9-1-5-0\"\n}",
    "position" : {
      "x" : 7248.0,
      "y" : 1072.0
    },
    "processGroups" : [ {
      "identifier" : "b48af0a7-75cb-36d9-a294-ef37b9bc2810",
      "name" : "Custom Connector Pipe",
      "comments" : "",
      "position" : {
        "x" : 1880.0,
        "y" : -368.0
      },
      "processGroups" : [ {
        "identifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
        "name" : "Fetch URL And Invoke Search",
        "comments" : "",
        "position" : {
          "x" : 1160.0,
          "y" : -824.0
        },
        "processGroups" : [ ],
        "remoteProcessGroups" : [ ],
        "processors" : [ {
          "identifier" : "0827185b-cc63-31c4-b162-cb779add70f8",
          "name" : "Log error message",
          "comments" : "",
          "position" : {
            "x" : -5104.0,
            "y" : 800.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.11.4"
          },
          "style" : {
            "background-color" : "#ff0000"
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "properties" : {
            "logger.message.text" : "Base64 encoding error",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "logger.message.severity" : "E",
            "logger.message.code" : "DI2009E"
          },
          "propertyDescriptors" : {
            "logger.message.text" : {
              "name" : "logger.message.text",
              "displayName" : "logger.message.text",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.severity" : {
              "name" : "logger.message.severity",
              "displayName" : "logger.message.severity",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.code" : {
              "name" : "logger.message.code",
              "displayName" : "logger.message.code",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "NONE",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "0d93456c-cd41-38e3-9828-ac7d5c0666b9",
          "name" : "UpdateAttribute",
          "comments" : "",
          "position" : {
            "x" : -3664.0,
            "y" : 1408.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "properties" : {
            "Delete Attributes Expression" : "data.\\d+",
            "filename" : "${filename}",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "file_type" : "${file.path:substringAfterLast('.')}"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "filename" : {
              "name" : "filename",
              "displayName" : "filename",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "file_type" : {
              "name" : "file_type",
              "displayName" : "file_type",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "8dc06759-5f7e-35fb-ab36-01528819a52a",
          "name" : "Base64EncodeContent",
          "comments" : "",
          "position" : {
            "x" : -3696.0,
            "y" : 1192.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.Base64EncodeContent",
          "properties" : {
            "Mode" : "Encode"
          },
          "propertyDescriptors" : {
            "Mode" : {
              "name" : "Mode",
              "displayName" : "Mode",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "c6e8e742-7ef4-3ef3-b2ef-ac2edeb2d36a",
          "name" : "AttributesToJSON",
          "comments" : "",
          "position" : {
            "x" : -4368.0,
            "y" : 1432.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.AttributesToJSON",
          "properties" : {
            "Destination" : "flowfile-attribute",
            "Null Value" : "false",
            "Attributes List" : "filename,fileABSPath,data,title,file_type",
            "Include Core Attributes" : "true"
          },
          "propertyDescriptors" : {
            "attributes-to-json-regex" : {
              "name" : "attributes-to-json-regex",
              "displayName" : "Attributes Regular Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Destination" : {
              "name" : "Destination",
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Null Value" : {
              "name" : "Null Value",
              "displayName" : "Null Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Attributes List" : {
              "name" : "Attributes List",
              "displayName" : "Attributes List",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Include Core Attributes" : {
              "name" : "Include Core Attributes",
              "displayName" : "Include Core Attributes",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "85546e4a-4513-3336-8615-00f2922adbff",
          "name" : "Log error message",
          "comments" : "",
          "position" : {
            "x" : -5008.0,
            "y" : 2008.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.11.4"
          },
          "style" : {
            "background-color" : "#ff0000"
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "properties" : {
            "logger.message.text" : "Successfully initialized ${index.name} index schema",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "logger.message.severity" : "E",
            "logger.message.code" : "DI2009E",
            "logger.message.parameter" : "[ \"${index.name}\" ]"
          },
          "propertyDescriptors" : {
            "logger.message.text" : {
              "name" : "logger.message.text",
              "displayName" : "logger.message.text",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.severity" : {
              "name" : "logger.message.severity",
              "displayName" : "logger.message.severity",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.code" : {
              "name" : "logger.message.code",
              "displayName" : "logger.message.code",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.parameter" : {
              "name" : "logger.message.parameter",
              "displayName" : "logger.message.parameter",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "NONE",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "9cd8fa8c-8475-34f4-89b7-ed022f9127ec",
          "name" : "ReplaceText",
          "comments" : "",
          "position" : {
            "x" : -4312.0,
            "y" : 864.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ReplaceText",
          "properties" : {
            "Regular Expression" : "\\p{C}",
            "Replacement Value" : "",
            "Evaluation Mode" : "Entire text",
            "Line-by-Line Evaluation Mode" : "All",
            "Character Set" : "UTF-8",
            "Maximum Buffer Size" : "10 MB",
            "Replacement Strategy" : "Regex Replace"
          },
          "propertyDescriptors" : {
            "Regular Expression" : {
              "name" : "Regular Expression",
              "displayName" : "Search Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Replacement Value" : {
              "name" : "Replacement Value",
              "displayName" : "Replacement Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Evaluation Mode" : {
              "name" : "Evaluation Mode",
              "displayName" : "Evaluation Mode",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Line-by-Line Evaluation Mode" : {
              "name" : "Line-by-Line Evaluation Mode",
              "displayName" : "Line-by-Line Evaluation Mode",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Character Set" : {
              "name" : "Character Set",
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Maximum Buffer Size" : {
              "name" : "Maximum Buffer Size",
              "displayName" : "Maximum Buffer Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Replacement Strategy" : {
              "name" : "Replacement Strategy",
              "displayName" : "Replacement Strategy",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "c4467dea-3359-3f6f-ae7e-c5d35e033b2d",
          "name" : "Log error message",
          "comments" : "",
          "position" : {
            "x" : -5088.0,
            "y" : 1552.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.11.4"
          },
          "style" : {
            "background-color" : "#ff0000"
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "properties" : {
            "logger.message.text" : "AttributeToJsonError",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "logger.message.severity" : "E",
            "logger.message.code" : "DI2009E"
          },
          "propertyDescriptors" : {
            "logger.message.text" : {
              "name" : "logger.message.text",
              "displayName" : "logger.message.text",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.severity" : {
              "name" : "logger.message.severity",
              "displayName" : "logger.message.severity",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.code" : {
              "name" : "logger.message.code",
              "displayName" : "logger.message.code",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "NONE",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "1d2f8a6b-649f-304d-a9d8-0c018572e407",
          "name" : "PUT ElasticSearch Attachment",
          "comments" : "",
          "position" : {
            "x" : -4400.0,
            "y" : 1816.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "properties" : {
            "use-etag" : "false",
            "Proxy Type" : "http",
            "Connection Timeout" : "15 secs",
            "send-message-body" : "true",
            "Always Output Response" : "false",
            "etag-max-cache-size" : "10MB",
            "Use Chunked Encoding" : "false",
            "Follow Redirects" : "False",
            "Remote URL" : "${SEARCH_URL}/${index.name}/_doc/${filename}?pipeline=attachment",
            "Content-Type" : "application/json",
            "Read Timeout" : "45 secs",
            "Max Length To Put In Attribute" : "256",
            "ignore-response-content" : "false",
            "Digest Authentication" : "false",
            "HTTP Method" : "PUT",
            "Add Response Headers to Request" : "false",
            "Include Date Header" : "True",
            "Penalize on \"No Retry\"" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "name" : "Proxy Host",
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Attributes to Send" : {
              "name" : "Attributes to Send",
              "displayName" : "Attributes to Send",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "use-etag" : {
              "name" : "use-etag",
              "displayName" : "Use HTTP ETag",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "name" : "proxy-configuration-service",
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "sensitive" : false
            },
            "Proxy Type" : {
              "name" : "Proxy Type",
              "displayName" : "Proxy Type",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Basic Authentication Password" : {
              "name" : "Basic Authentication Password",
              "displayName" : "Basic Authentication Password",
              "identifiesControllerService" : false,
              "sensitive" : true
            },
            "Connection Timeout" : {
              "name" : "Connection Timeout",
              "displayName" : "Connection Timeout",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "send-message-body" : {
              "name" : "send-message-body",
              "displayName" : "Send Message Body",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Always Output Response" : {
              "name" : "Always Output Response",
              "displayName" : "Always Output Response",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "etag-max-cache-size" : {
              "name" : "etag-max-cache-size",
              "displayName" : "Maximum ETag Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Put Response Body In Attribute" : {
              "name" : "Put Response Body In Attribute",
              "displayName" : "Put Response Body In Attribute",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Use Chunked Encoding" : {
              "name" : "Use Chunked Encoding",
              "displayName" : "Use Chunked Encoding",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Follow Redirects" : {
              "name" : "Follow Redirects",
              "displayName" : "Follow Redirects",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Remote URL" : {
              "name" : "Remote URL",
              "displayName" : "Remote URL",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Content-Type" : {
              "name" : "Content-Type",
              "displayName" : "Content-Type",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "invokehttp-proxy-user" : {
              "name" : "invokehttp-proxy-user",
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Read Timeout" : {
              "name" : "Read Timeout",
              "displayName" : "Read Timeout",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Max Length To Put In Attribute" : {
              "name" : "Max Length To Put In Attribute",
              "displayName" : "Max Length To Put In Attribute",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "invokehttp-proxy-password" : {
              "name" : "invokehttp-proxy-password",
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "sensitive" : true
            },
            "ignore-response-content" : {
              "name" : "ignore-response-content",
              "displayName" : "Ignore response's content",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Proxy Port" : {
              "name" : "Proxy Port",
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "SSL Context Service" : {
              "name" : "SSL Context Service",
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "sensitive" : false
            },
            "Digest Authentication" : {
              "name" : "Digest Authentication",
              "displayName" : "Use Digest Authentication",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "HTTP Method" : {
              "name" : "HTTP Method",
              "displayName" : "HTTP Method",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Add Response Headers to Request" : {
              "name" : "Add Response Headers to Request",
              "displayName" : "Add Response Headers to Request",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Basic Authentication Username" : {
              "name" : "Basic Authentication Username",
              "displayName" : "Basic Authentication Username",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Include Date Header" : {
              "name" : "Include Date Header",
              "displayName" : "Include Date Header",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Penalize on \"No Retry\"" : {
              "name" : "Penalize on \"No Retry\"",
              "displayName" : "Penalize on \"No Retry\"",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "e168f08c-7c42-3eeb-b918-eba4d59cdb6e",
          "name" : "Populate Request",
          "comments" : "",
          "position" : {
            "x" : -3880.0,
            "y" : 1616.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ReplaceText",
          "properties" : {
            "Regular Expression" : "(?s)(^.*$)",
            "Replacement Value" : "${JSONAttributes}",
            "Evaluation Mode" : "Entire text",
            "Line-by-Line Evaluation Mode" : "All",
            "Character Set" : "UTF-8",
            "Maximum Buffer Size" : "5 MB",
            "Replacement Strategy" : "Regex Replace"
          },
          "propertyDescriptors" : {
            "Regular Expression" : {
              "name" : "Regular Expression",
              "displayName" : "Search Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Replacement Value" : {
              "name" : "Replacement Value",
              "displayName" : "Replacement Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Evaluation Mode" : {
              "name" : "Evaluation Mode",
              "displayName" : "Evaluation Mode",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Line-by-Line Evaluation Mode" : {
              "name" : "Line-by-Line Evaluation Mode",
              "displayName" : "Line-by-Line Evaluation Mode",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Character Set" : {
              "name" : "Character Set",
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Maximum Buffer Size" : {
              "name" : "Maximum Buffer Size",
              "displayName" : "Maximum Buffer Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Replacement Strategy" : {
              "name" : "Replacement Strategy",
              "displayName" : "Replacement Strategy",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ "failure" ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "443130f5-be1b-346f-8682-155843f7007c",
          "name" : "Log error message",
          "comments" : "",
          "position" : {
            "x" : -5096.0,
            "y" : 1328.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.11.4"
          },
          "style" : {
            "background-color" : "#ff0000"
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "properties" : {
            "logger.message.text" : "Unmatched ExtractText",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "logger.message.severity" : "E",
            "logger.message.code" : "DI2009E"
          },
          "propertyDescriptors" : {
            "logger.message.text" : {
              "name" : "logger.message.text",
              "displayName" : "logger.message.text",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.severity" : {
              "name" : "logger.message.severity",
              "displayName" : "logger.message.severity",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.code" : {
              "name" : "logger.message.code",
              "displayName" : "logger.message.code",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "NONE",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "55e2213f-1068-323c-aa5a-1122ff9e8716",
          "name" : "ExtractText",
          "comments" : "",
          "position" : {
            "x" : -4376.0,
            "y" : 1224.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExtractText",
          "properties" : {
            "Enable Unicode Predefined Character Classes" : "false",
            "Permit Whitespace and Comments in Pattern" : "false",
            "Enable Unicode-aware Case Folding" : "false",
            "data" : "(.*)",
            "Enable DOTALL Mode" : "false",
            "Enable Unix Lines Mode" : "false",
            "Maximum Buffer Size" : "10 MB",
            "Enable Canonical Equivalence" : "false",
            "Enable Case-insensitive Matching" : "false",
            "Enable Multiline Mode" : "false",
            "Maximum Capture Group Length" : "10000000",
            "Enable Literal Parsing of the Pattern" : "false",
            "Character Set" : "UTF-8",
            "Include Capture Group 0" : "true",
            "extract-text-enable-repeating-capture-group" : "false"
          },
          "propertyDescriptors" : {
            "Enable Unicode Predefined Character Classes" : {
              "name" : "Enable Unicode Predefined Character Classes",
              "displayName" : "Enable Unicode Predefined Character Classes",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Permit Whitespace and Comments in Pattern" : {
              "name" : "Permit Whitespace and Comments in Pattern",
              "displayName" : "Permit Whitespace and Comments in Pattern",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Enable Unicode-aware Case Folding" : {
              "name" : "Enable Unicode-aware Case Folding",
              "displayName" : "Enable Unicode-aware Case Folding",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "data" : {
              "name" : "data",
              "displayName" : "data",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Enable DOTALL Mode" : {
              "name" : "Enable DOTALL Mode",
              "displayName" : "Enable DOTALL Mode",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Enable Unix Lines Mode" : {
              "name" : "Enable Unix Lines Mode",
              "displayName" : "Enable Unix Lines Mode",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Maximum Buffer Size" : {
              "name" : "Maximum Buffer Size",
              "displayName" : "Maximum Buffer Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Enable Canonical Equivalence" : {
              "name" : "Enable Canonical Equivalence",
              "displayName" : "Enable Canonical Equivalence",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Enable Case-insensitive Matching" : {
              "name" : "Enable Case-insensitive Matching",
              "displayName" : "Enable Case-insensitive Matching",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Enable Multiline Mode" : {
              "name" : "Enable Multiline Mode",
              "displayName" : "Enable Multiline Mode",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Maximum Capture Group Length" : {
              "name" : "Maximum Capture Group Length",
              "displayName" : "Maximum Capture Group Length",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Enable Literal Parsing of the Pattern" : {
              "name" : "Enable Literal Parsing of the Pattern",
              "displayName" : "Enable Literal Parsing of the Pattern",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Character Set" : {
              "name" : "Character Set",
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Include Capture Group 0" : {
              "name" : "Include Capture Group 0",
              "displayName" : "Include Capture Group 0",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "extract-text-enable-repeating-capture-group" : {
              "name" : "extract-text-enable-repeating-capture-group",
              "displayName" : "Enable repeating capture group",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "7a167c25-b8ae-37bf-9b05-72e78bdeb7e4",
          "name" : "Log error message",
          "comments" : "",
          "position" : {
            "x" : -3096.0,
            "y" : 1312.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.11.4"
          },
          "style" : {
            "background-color" : "#ff0000"
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "properties" : {
            "logger.message.text" : "Base64 encoding error",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "logger.message.severity" : "E",
            "logger.message.code" : "DI2009E"
          },
          "propertyDescriptors" : {
            "logger.message.text" : {
              "name" : "logger.message.text",
              "displayName" : "logger.message.text",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.severity" : {
              "name" : "logger.message.severity",
              "displayName" : "logger.message.severity",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.code" : {
              "name" : "logger.message.code",
              "displayName" : "logger.message.code",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "NONE",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "cfc7daca-1b47-3ac1-9a21-fde8671d923d",
          "name" : "Log error message",
          "comments" : "",
          "position" : {
            "x" : -3112.0,
            "y" : 1088.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.11.4"
          },
          "style" : {
            "background-color" : "#ff0000"
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "properties" : {
            "logger.message.text" : "FetchFle error.",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "logger.message.severity" : "E",
            "logger.message.code" : "DI2009E"
          },
          "propertyDescriptors" : {
            "logger.message.text" : {
              "name" : "logger.message.text",
              "displayName" : "logger.message.text",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.severity" : {
              "name" : "logger.message.severity",
              "displayName" : "logger.message.severity",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.code" : {
              "name" : "logger.message.code",
              "displayName" : "logger.message.code",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "NONE",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "990600eb-d635-39f0-8cbd-4aad5da25db2",
          "name" : "FetchFile",
          "comments" : "",
          "position" : {
            "x" : -3712.0,
            "y" : 880.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.FetchFile",
          "properties" : {
            "Move Conflict Strategy" : "Keep Existing",
            "Log level when file not found" : "ERROR",
            "Log level when permission denied" : "ERROR",
            "File to Fetch" : "${fileABSPath}",
            "Completion Strategy" : "Delete File"
          },
          "propertyDescriptors" : {
            "Move Conflict Strategy" : {
              "name" : "Move Conflict Strategy",
              "displayName" : "Move Conflict Strategy",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Log level when file not found" : {
              "name" : "Log level when file not found",
              "displayName" : "Log level when file not found",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Move Destination Directory" : {
              "name" : "Move Destination Directory",
              "displayName" : "Move Destination Directory",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Log level when permission denied" : {
              "name" : "Log level when permission denied",
              "displayName" : "Log level when permission denied",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "File to Fetch" : {
              "name" : "File to Fetch",
              "displayName" : "File to Fetch",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Completion Strategy" : {
              "name" : "Completion Strategy",
              "displayName" : "Completion Strategy",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        } ],
        "inputPorts" : [ {
          "identifier" : "92ff5a3d-928a-3cf4-9fb8-5603cfe54902",
          "name" : "INPUT",
          "comments" : "",
          "position" : {
            "x" : -4352.0,
            "y" : 624.0
          },
          "type" : "INPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "allowRemoteAccess" : false,
          "componentType" : "INPUT_PORT",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        } ],
        "outputPorts" : [ {
          "identifier" : "2f734255-89e7-3e9f-9470-c8d7891d8cb6",
          "name" : "SUCCESS",
          "comments" : "",
          "position" : {
            "x" : -4664.0,
            "y" : 2232.0
          },
          "type" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "allowRemoteAccess" : false,
          "componentType" : "OUTPUT_PORT",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "eb523345-9e71-3fef-9661-b54d5b67d915",
          "name" : "ERROR",
          "comments" : "",
          "position" : {
            "x" : -3976.0,
            "y" : 2264.0
          },
          "type" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "allowRemoteAccess" : false,
          "componentType" : "OUTPUT_PORT",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        } ],
        "connections" : [ {
          "identifier" : "a4431bef-6c37-3105-b687-49fb16512eb5",
          "name" : "",
          "source" : {
            "id" : "c6e8e742-7ef4-3ef3-b2ef-ac2edeb2d36a",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "AttributesToJSON",
            "comments" : ""
          },
          "destination" : {
            "id" : "e168f08c-7c42-3eeb-b918-eba4d59cdb6e",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Populate Request",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "dd5fb6e9-c49d-37bc-acce-2ba5cc3aeef7",
          "name" : "",
          "source" : {
            "id" : "e168f08c-7c42-3eeb-b918-eba4d59cdb6e",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Populate Request",
            "comments" : ""
          },
          "destination" : {
            "id" : "1d2f8a6b-649f-304d-a9d8-0c018572e407",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "PUT ElasticSearch Attachment",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "f981c1c5-a179-36c0-8660-d279b2824dd6",
          "name" : "",
          "source" : {
            "id" : "55e2213f-1068-323c-aa5a-1122ff9e8716",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "ExtractText",
            "comments" : ""
          },
          "destination" : {
            "id" : "443130f5-be1b-346f-8682-155843f7007c",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "unmatched" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "67982d83-5607-3bb1-b277-2b3ebf84165b",
          "name" : "",
          "source" : {
            "id" : "d45d0cba-5039-3204-a3aa-c6e9183f1751",
            "type" : "FUNNEL",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Funnel",
            "comments" : ""
          },
          "destination" : {
            "id" : "eb523345-9e71-3fef-9661-b54d5b67d915",
            "type" : "OUTPUT_PORT",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "ERROR",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "270b331b-ef34-3de6-a46e-3779dba12e87",
          "name" : "",
          "source" : {
            "id" : "0d93456c-cd41-38e3-9828-ac7d5c0666b9",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "UpdateAttribute",
            "comments" : ""
          },
          "destination" : {
            "id" : "c6e8e742-7ef4-3ef3-b2ef-ac2edeb2d36a",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "AttributesToJSON",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "eb43ff41-441f-3453-8fb8-fdf6e0c9b352",
          "name" : "",
          "source" : {
            "id" : "c6e8e742-7ef4-3ef3-b2ef-ac2edeb2d36a",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "AttributesToJSON",
            "comments" : ""
          },
          "destination" : {
            "id" : "c4467dea-3359-3f6f-ae7e-c5d35e033b2d",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "failure" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "2a84dbed-be89-3b61-91aa-43f63194fc18",
          "name" : "",
          "source" : {
            "id" : "8c5cf5a1-95e7-32bb-8786-6af279e64e03",
            "type" : "FUNNEL",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Funnel",
            "comments" : ""
          },
          "destination" : {
            "id" : "eb523345-9e71-3fef-9661-b54d5b67d915",
            "type" : "OUTPUT_PORT",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "ERROR",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "6c1e1b10-cb14-3c38-9d84-96111e309f02",
          "name" : "",
          "source" : {
            "id" : "55e2213f-1068-323c-aa5a-1122ff9e8716",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "ExtractText",
            "comments" : ""
          },
          "destination" : {
            "id" : "0d93456c-cd41-38e3-9828-ac7d5c0666b9",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "UpdateAttribute",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "matched" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "51ecb22f-62fb-3cc6-93b5-eeb625877201",
          "name" : "",
          "source" : {
            "id" : "92ff5a3d-928a-3cf4-9fb8-5603cfe54902",
            "type" : "INPUT_PORT",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "INPUT",
            "comments" : ""
          },
          "destination" : {
            "id" : "990600eb-d635-39f0-8cbd-4aad5da25db2",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "FetchFile",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "6aecfda8-14a4-33cc-804c-1e622b1f0dac",
          "name" : "",
          "source" : {
            "id" : "990600eb-d635-39f0-8cbd-4aad5da25db2",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "FetchFile",
            "comments" : ""
          },
          "destination" : {
            "id" : "cfc7daca-1b47-3ac1-9a21-fde8671d923d",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "failure", "permission.denied", "not.found" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "1ecb3b43-2587-3009-aef6-3a3333db942a",
          "name" : "",
          "source" : {
            "id" : "443130f5-be1b-346f-8682-155843f7007c",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "destination" : {
            "id" : "8c5cf5a1-95e7-32bb-8786-6af279e64e03",
            "type" : "FUNNEL",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Funnel",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "f49c086c-ce42-3c34-a47e-ad954caea820",
          "name" : "",
          "source" : {
            "id" : "cfc7daca-1b47-3ac1-9a21-fde8671d923d",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "destination" : {
            "id" : "d45d0cba-5039-3204-a3aa-c6e9183f1751",
            "type" : "FUNNEL",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Funnel",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "722c932a-2af4-3eef-b09c-569895991107",
          "name" : "",
          "source" : {
            "id" : "9cd8fa8c-8475-34f4-89b7-ed022f9127ec",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "ReplaceText",
            "comments" : ""
          },
          "destination" : {
            "id" : "55e2213f-1068-323c-aa5a-1122ff9e8716",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "ExtractText",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "70bae080-aec6-387c-9296-66649c934b92",
          "name" : "",
          "source" : {
            "id" : "9cd8fa8c-8475-34f4-89b7-ed022f9127ec",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "ReplaceText",
            "comments" : ""
          },
          "destination" : {
            "id" : "0827185b-cc63-31c4-b162-cb779add70f8",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "failure" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "725dc6e1-0266-3c13-a386-72924ec89c3d",
          "name" : "",
          "source" : {
            "id" : "1d2f8a6b-649f-304d-a9d8-0c018572e407",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "PUT ElasticSearch Attachment",
            "comments" : ""
          },
          "destination" : {
            "id" : "85546e4a-4513-3336-8615-00f2922adbff",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "Response" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "8644a895-49fb-32de-8907-0d396cb80a39",
          "name" : "",
          "source" : {
            "id" : "85546e4a-4513-3336-8615-00f2922adbff",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "destination" : {
            "id" : "2f734255-89e7-3e9f-9470-c8d7891d8cb6",
            "type" : "OUTPUT_PORT",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "SUCCESS",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "c4d5f2ec-4c90-3c82-b0c4-0d33c27cf769",
          "name" : "",
          "source" : {
            "id" : "990600eb-d635-39f0-8cbd-4aad5da25db2",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "FetchFile",
            "comments" : ""
          },
          "destination" : {
            "id" : "8dc06759-5f7e-35fb-ab36-01528819a52a",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Base64EncodeContent",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "ae0e739c-41f2-35bb-8285-9e439745d212",
          "name" : "",
          "source" : {
            "id" : "0827185b-cc63-31c4-b162-cb779add70f8",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "destination" : {
            "id" : "8c5cf5a1-95e7-32bb-8786-6af279e64e03",
            "type" : "FUNNEL",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Funnel",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "23f262bc-c305-3905-af98-14e02ff459ad",
          "name" : "",
          "source" : {
            "id" : "7a167c25-b8ae-37bf-9b05-72e78bdeb7e4",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "destination" : {
            "id" : "d45d0cba-5039-3204-a3aa-c6e9183f1751",
            "type" : "FUNNEL",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Funnel",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "af2c7322-d06c-31fa-a840-476a200a9358",
          "name" : "",
          "source" : {
            "id" : "8dc06759-5f7e-35fb-ab36-01528819a52a",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Base64EncodeContent",
            "comments" : ""
          },
          "destination" : {
            "id" : "7a167c25-b8ae-37bf-9b05-72e78bdeb7e4",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "failure" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "493709c9-357f-3264-8ad9-71e610a93810",
          "name" : "",
          "source" : {
            "id" : "c4467dea-3359-3f6f-ae7e-c5d35e033b2d",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "destination" : {
            "id" : "8c5cf5a1-95e7-32bb-8786-6af279e64e03",
            "type" : "FUNNEL",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Funnel",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "fcbefc37-ac44-3820-87e1-c4ddbcb7c507",
          "name" : "",
          "source" : {
            "id" : "8dc06759-5f7e-35fb-ab36-01528819a52a",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Base64EncodeContent",
            "comments" : ""
          },
          "destination" : {
            "id" : "9cd8fa8c-8475-34f4-89b7-ed022f9127ec",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "ReplaceText",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        } ],
        "labels" : [ ],
        "funnels" : [ {
          "identifier" : "d45d0cba-5039-3204-a3aa-c6e9183f1751",
          "position" : {
            "x" : -2400.0,
            "y" : 1040.0
          },
          "componentType" : "FUNNEL",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "8c5cf5a1-95e7-32bb-8786-6af279e64e03",
          "position" : {
            "x" : -6115.733958368788,
            "y" : 1334.2782472695326
          },
          "componentType" : "FUNNEL",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        } ],
        "controllerServices" : [ ],
        "variables" : { },
        "componentType" : "PROCESS_GROUP",
        "groupIdentifier" : "b48af0a7-75cb-36d9-a294-ef37b9bc2810"
      }, {
        "identifier" : "f10136de-26a8-32d2-95c6-98925b197c01",
        "name" : "CrawlContent",
        "comments" : "",
        "position" : {
          "x" : 1784.0,
          "y" : -808.0
        },
        "processGroups" : [ ],
        "remoteProcessGroups" : [ ],
        "processors" : [ {
          "identifier" : "9faab7cc-895c-381b-a3ea-f4fe45b332fe",
          "name" : "RouteFIleIfURLExist",
          "comments" : "",
          "position" : {
            "x" : 9708.004721989064,
            "y" : 3021.774362688238
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteText",
          "properties" : {
            "Routing Strategy" : "Route to each matching Property Name",
            "Ignore Leading/Trailing Whitespace" : "true",
            "potential URL" : "((<a[^>]+href=\\\")(?:https?:\\/\\/)(?:[0-9a-z\\.-]+)\\.(?:[a-z\\.]{2,6})(?:[\\/\\w \\.-]*)(\\.html|\\.jsp)(\\\"[^>]*>))",
            "Matching Strategy" : "Contains Regular Expression",
            "Character Set" : "UTF-8",
            "Ignore Case" : "true"
          },
          "propertyDescriptors" : {
            "Routing Strategy" : {
              "name" : "Routing Strategy",
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Ignore Leading/Trailing Whitespace" : {
              "name" : "Ignore Leading/Trailing Whitespace",
              "displayName" : "Ignore Leading/Trailing Whitespace",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "potential URL" : {
              "name" : "potential URL",
              "displayName" : "potential URL",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Matching Strategy" : {
              "name" : "Matching Strategy",
              "displayName" : "Matching Strategy",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Character Set" : {
              "name" : "Character Set",
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Ignore Case" : {
              "name" : "Ignore Case",
              "displayName" : "Ignore Case",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Grouping Regular Expression" : {
              "name" : "Grouping Regular Expression",
              "displayName" : "Grouping Regular Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ "original" ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "f10136de-26a8-32d2-95c6-98925b197c01"
        }, {
          "identifier" : "d0385230-1e1d-370f-9782-8c9bd65fef19",
          "name" : "Log failures",
          "comments" : "",
          "position" : {
            "x" : 9744.0,
            "y" : 2717.79931640625
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogAttribute",
          "properties" : {
            "character-set" : "UTF-8",
            "Log Level" : "info",
            "attributes-to-log-regex" : ".*",
            "Log Payload" : "false"
          },
          "propertyDescriptors" : {
            "Log prefix" : {
              "name" : "Log prefix",
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "character-set" : {
              "name" : "character-set",
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Log Level" : {
              "name" : "Log Level",
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "attributes-to-ignore-regex" : {
              "name" : "attributes-to-ignore-regex",
              "displayName" : "Attributes to Ignore by Regular Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Attributes to Ignore" : {
              "name" : "Attributes to Ignore",
              "displayName" : "Attributes to Ignore",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Attributes to Log" : {
              "name" : "Attributes to Log",
              "displayName" : "Attributes to Log",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "attributes-to-log-regex" : {
              "name" : "attributes-to-log-regex",
              "displayName" : "Attributes to Log by Regular Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Log Payload" : {
              "name" : "Log Payload",
              "displayName" : "Log Payload",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ "success" ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "f10136de-26a8-32d2-95c6-98925b197c01"
        }, {
          "identifier" : "2515266e-27e4-3a08-bcc3-6275c2e6e9b7",
          "name" : "Replace filename",
          "comments" : "",
          "position" : {
            "x" : 10272.0,
            "y" : 1976.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "properties" : {
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "updatedFileName" : "${url:replaceAll\n ('/', '_')}"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "updatedFileName" : {
              "name" : "updatedFileName",
              "displayName" : "updatedFileName",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "f10136de-26a8-32d2-95c6-98925b197c01"
        }, {
          "identifier" : "e8dd7421-281f-33f1-ba7e-d537a768115e",
          "name" : "SplitXml",
          "comments" : "",
          "position" : {
            "x" : 10840.0,
            "y" : 2976.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.SplitXml",
          "properties" : {
            "Split Depth" : "2"
          },
          "propertyDescriptors" : {
            "Split Depth" : {
              "name" : "Split Depth",
              "displayName" : "Split Depth",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "f10136de-26a8-32d2-95c6-98925b197c01"
        }, {
          "identifier" : "6990c90f-7b78-3da0-b41c-3761929ff931",
          "name" : "InvokeHTTP",
          "comments" : "",
          "position" : {
            "x" : 10736.0,
            "y" : 2232.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "properties" : {
            "use-etag" : "false",
            "Proxy Type" : "http",
            "Connection Timeout" : "10 secs",
            "send-message-body" : "true",
            "Always Output Response" : "false",
            "etag-max-cache-size" : "10MB",
            "Use Chunked Encoding" : "false",
            "Follow Redirects" : "True",
            "Remote URL" : "${url}",
            "Content-Type" : "${mime.type}",
            "Read Timeout" : "15 secs",
            "Max Length To Put In Attribute" : "256",
            "ignore-response-content" : "false",
            "SSL Context Service" : "7bb66b71-68df-3cc0-9426-ac37d059ce8e",
            "Digest Authentication" : "false",
            "HTTP Method" : "GET",
            "Add Response Headers to Request" : "false",
            "Include Date Header" : "True",
            "Penalize on \"No Retry\"" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "name" : "Proxy Host",
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Attributes to Send" : {
              "name" : "Attributes to Send",
              "displayName" : "Attributes to Send",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "use-etag" : {
              "name" : "use-etag",
              "displayName" : "Use HTTP ETag",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "name" : "proxy-configuration-service",
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "sensitive" : false
            },
            "Proxy Type" : {
              "name" : "Proxy Type",
              "displayName" : "Proxy Type",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Basic Authentication Password" : {
              "name" : "Basic Authentication Password",
              "displayName" : "Basic Authentication Password",
              "identifiesControllerService" : false,
              "sensitive" : true
            },
            "Connection Timeout" : {
              "name" : "Connection Timeout",
              "displayName" : "Connection Timeout",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "send-message-body" : {
              "name" : "send-message-body",
              "displayName" : "Send Message Body",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Always Output Response" : {
              "name" : "Always Output Response",
              "displayName" : "Always Output Response",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "etag-max-cache-size" : {
              "name" : "etag-max-cache-size",
              "displayName" : "Maximum ETag Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Put Response Body In Attribute" : {
              "name" : "Put Response Body In Attribute",
              "displayName" : "Put Response Body In Attribute",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Use Chunked Encoding" : {
              "name" : "Use Chunked Encoding",
              "displayName" : "Use Chunked Encoding",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Follow Redirects" : {
              "name" : "Follow Redirects",
              "displayName" : "Follow Redirects",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Remote URL" : {
              "name" : "Remote URL",
              "displayName" : "Remote URL",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Content-Type" : {
              "name" : "Content-Type",
              "displayName" : "Content-Type",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "invokehttp-proxy-user" : {
              "name" : "invokehttp-proxy-user",
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Read Timeout" : {
              "name" : "Read Timeout",
              "displayName" : "Read Timeout",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Max Length To Put In Attribute" : {
              "name" : "Max Length To Put In Attribute",
              "displayName" : "Max Length To Put In Attribute",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "invokehttp-proxy-password" : {
              "name" : "invokehttp-proxy-password",
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "sensitive" : true
            },
            "ignore-response-content" : {
              "name" : "ignore-response-content",
              "displayName" : "Ignore response's content",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Proxy Port" : {
              "name" : "Proxy Port",
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "SSL Context Service" : {
              "name" : "SSL Context Service",
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "sensitive" : false
            },
            "Digest Authentication" : {
              "name" : "Digest Authentication",
              "displayName" : "Use Digest Authentication",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "HTTP Method" : {
              "name" : "HTTP Method",
              "displayName" : "HTTP Method",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Add Response Headers to Request" : {
              "name" : "Add Response Headers to Request",
              "displayName" : "Add Response Headers to Request",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Basic Authentication Username" : {
              "name" : "Basic Authentication Username",
              "displayName" : "Basic Authentication Username",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Include Date Header" : {
              "name" : "Include Date Header",
              "displayName" : "Include Date Header",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Penalize on \"No Retry\"" : {
              "name" : "Penalize on \"No Retry\"",
              "displayName" : "Penalize on \"No Retry\"",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 10,
          "autoTerminatedRelationships" : [ "No Retry", "Original", "Failure" ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "f10136de-26a8-32d2-95c6-98925b197c01"
        }, {
          "identifier" : "59e7f56f-6d55-35cf-b7a6-d58eb246f418",
          "name" : "InvokeHTTP",
          "comments" : "",
          "position" : {
            "x" : 8384.067897410458,
            "y" : 2559.276658594381
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "properties" : {
            "use-etag" : "false",
            "Proxy Type" : "http",
            "Connection Timeout" : "10 secs",
            "send-message-body" : "true",
            "Always Output Response" : "false",
            "etag-max-cache-size" : "10MB",
            "Use Chunked Encoding" : "false",
            "Follow Redirects" : "True",
            "Remote URL" : "https://help.hcltechsw.com/",
            "Content-Type" : "${mime.type}",
            "Read Timeout" : "15 secs",
            "Max Length To Put In Attribute" : "256",
            "ignore-response-content" : "false",
            "SSL Context Service" : "7bb66b71-68df-3cc0-9426-ac37d059ce8e",
            "Digest Authentication" : "false",
            "HTTP Method" : "GET",
            "Add Response Headers to Request" : "false",
            "Include Date Header" : "True",
            "Penalize on \"No Retry\"" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "name" : "Proxy Host",
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Attributes to Send" : {
              "name" : "Attributes to Send",
              "displayName" : "Attributes to Send",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "use-etag" : {
              "name" : "use-etag",
              "displayName" : "Use HTTP ETag",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "name" : "proxy-configuration-service",
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "sensitive" : false
            },
            "Proxy Type" : {
              "name" : "Proxy Type",
              "displayName" : "Proxy Type",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Basic Authentication Password" : {
              "name" : "Basic Authentication Password",
              "displayName" : "Basic Authentication Password",
              "identifiesControllerService" : false,
              "sensitive" : true
            },
            "Connection Timeout" : {
              "name" : "Connection Timeout",
              "displayName" : "Connection Timeout",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "send-message-body" : {
              "name" : "send-message-body",
              "displayName" : "Send Message Body",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Always Output Response" : {
              "name" : "Always Output Response",
              "displayName" : "Always Output Response",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "etag-max-cache-size" : {
              "name" : "etag-max-cache-size",
              "displayName" : "Maximum ETag Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Put Response Body In Attribute" : {
              "name" : "Put Response Body In Attribute",
              "displayName" : "Put Response Body In Attribute",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Use Chunked Encoding" : {
              "name" : "Use Chunked Encoding",
              "displayName" : "Use Chunked Encoding",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Follow Redirects" : {
              "name" : "Follow Redirects",
              "displayName" : "Follow Redirects",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Remote URL" : {
              "name" : "Remote URL",
              "displayName" : "Remote URL",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Content-Type" : {
              "name" : "Content-Type",
              "displayName" : "Content-Type",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "invokehttp-proxy-user" : {
              "name" : "invokehttp-proxy-user",
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Read Timeout" : {
              "name" : "Read Timeout",
              "displayName" : "Read Timeout",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Max Length To Put In Attribute" : {
              "name" : "Max Length To Put In Attribute",
              "displayName" : "Max Length To Put In Attribute",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "invokehttp-proxy-password" : {
              "name" : "invokehttp-proxy-password",
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "sensitive" : true
            },
            "ignore-response-content" : {
              "name" : "ignore-response-content",
              "displayName" : "Ignore response's content",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Proxy Port" : {
              "name" : "Proxy Port",
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "SSL Context Service" : {
              "name" : "SSL Context Service",
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "sensitive" : false
            },
            "Digest Authentication" : {
              "name" : "Digest Authentication",
              "displayName" : "Use Digest Authentication",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "HTTP Method" : {
              "name" : "HTTP Method",
              "displayName" : "HTTP Method",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Add Response Headers to Request" : {
              "name" : "Add Response Headers to Request",
              "displayName" : "Add Response Headers to Request",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Basic Authentication Username" : {
              "name" : "Basic Authentication Username",
              "displayName" : "Basic Authentication Username",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Include Date Header" : {
              "name" : "Include Date Header",
              "displayName" : "Include Date Header",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Penalize on \"No Retry\"" : {
              "name" : "Penalize on \"No Retry\"",
              "displayName" : "Penalize on \"No Retry\"",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ "No Retry", "Original", "Failure" ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "f10136de-26a8-32d2-95c6-98925b197c01"
        }, {
          "identifier" : "828984ab-f98b-32e5-b970-7f613cb70e5d",
          "name" : "Log failures",
          "comments" : "",
          "position" : {
            "x" : 9160.791534081858,
            "y" : 1920.506169702209
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogAttribute",
          "properties" : {
            "character-set" : "UTF-8",
            "Log Level" : "info",
            "attributes-to-log-regex" : ".*",
            "Log Payload" : "false"
          },
          "propertyDescriptors" : {
            "Log prefix" : {
              "name" : "Log prefix",
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "character-set" : {
              "name" : "character-set",
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Log Level" : {
              "name" : "Log Level",
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "attributes-to-ignore-regex" : {
              "name" : "attributes-to-ignore-regex",
              "displayName" : "Attributes to Ignore by Regular Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Attributes to Ignore" : {
              "name" : "Attributes to Ignore",
              "displayName" : "Attributes to Ignore",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Attributes to Log" : {
              "name" : "Attributes to Log",
              "displayName" : "Attributes to Log",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "attributes-to-log-regex" : {
              "name" : "attributes-to-log-regex",
              "displayName" : "Attributes to Log by Regular Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Log Payload" : {
              "name" : "Log Payload",
              "displayName" : "Log Payload",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ "success" ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "f10136de-26a8-32d2-95c6-98925b197c01"
        }, {
          "identifier" : "aa66c300-c398-3052-ab5b-01815774ab90",
          "name" : "PutFile",
          "comments" : "",
          "position" : {
            "x" : 9208.0,
            "y" : 3152.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutFile",
          "properties" : {
            "Group" : "nifi",
            "Owner" : "nifi",
            "Create Missing Directories" : "true",
            "Permissions" : "777",
            "Directory" : "${filepath}",
            "Conflict Resolution Strategy" : "fail"
          },
          "propertyDescriptors" : {
            "Group" : {
              "name" : "Group",
              "displayName" : "Group",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Owner" : {
              "name" : "Owner",
              "displayName" : "Owner",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Create Missing Directories" : {
              "name" : "Create Missing Directories",
              "displayName" : "Create Missing Directories",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Permissions" : {
              "name" : "Permissions",
              "displayName" : "Permissions",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Maximum File Count" : {
              "name" : "Maximum File Count",
              "displayName" : "Maximum File Count",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Last Modified Time" : {
              "name" : "Last Modified Time",
              "displayName" : "Last Modified Time",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Directory" : {
              "name" : "Directory",
              "displayName" : "Directory",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "name" : "Conflict Resolution Strategy",
              "displayName" : "Conflict Resolution Strategy",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ "failure" ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "f10136de-26a8-32d2-95c6-98925b197c01"
        }, {
          "identifier" : "0797d9e2-cab8-3f18-93d3-6d5420c31efd",
          "name" : "Pass on successes",
          "comments" : "",
          "position" : {
            "x" : 8992.0,
            "y" : 2421.79931640625
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
          "properties" : {
            "200-202" : "${invokehttp.status.code:equals(200 ):or(\n\t${invokehttp.status.code:equals(201)}\n):or(\n\t${invokehttp.status.code:equals(202)}\n):or(\n\t${invokehttp.status.code:equals(304)}\n)}",
            "Routing Strategy" : "Route to Property name"
          },
          "propertyDescriptors" : {
            "200-202" : {
              "name" : "200-202",
              "displayName" : "200-202",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Routing Strategy" : {
              "name" : "Routing Strategy",
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "f10136de-26a8-32d2-95c6-98925b197c01"
        }, {
          "identifier" : "18707955-2821-32aa-b433-126aa30ca5c0",
          "name" : "Remove duplicates",
          "comments" : "",
          "position" : {
            "x" : 11152.0,
            "y" : 2496.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.DetectDuplicate",
          "properties" : {
            "Cache Entry Identifier" : "${url}",
            "Cache The Entry Identifier" : "false",
            "FlowFile Description" : "${now()}",
            "Distributed Cache Service" : "3c4e6b54-e4ee-3b79-806b-92a1cb14c2fe"
          },
          "propertyDescriptors" : {
            "Cache Entry Identifier" : {
              "name" : "Cache Entry Identifier",
              "displayName" : "Cache Entry Identifier",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Cache The Entry Identifier" : {
              "name" : "Cache The Entry Identifier",
              "displayName" : "Cache The Entry Identifier",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Age Off Duration" : {
              "name" : "Age Off Duration",
              "displayName" : "Age Off Duration",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "FlowFile Description" : {
              "name" : "FlowFile Description",
              "displayName" : "FlowFile Description",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Distributed Cache Service" : {
              "name" : "Distributed Cache Service",
              "displayName" : "Distributed Cache Service",
              "identifiesControllerService" : true,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 5,
          "autoTerminatedRelationships" : [ "failure", "duplicate" ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "f10136de-26a8-32d2-95c6-98925b197c01"
        }, {
          "identifier" : "4cca73f3-9289-303a-a7de-8f28185088c3",
          "name" : "Update filename",
          "comments" : "",
          "position" : {
            "x" : 9720.0,
            "y" : 1976.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "properties" : {
            "filename" : "${invokehttp.tx.id}-${updatedFileName}",
            "filepath" : "/nifi/extDocs/",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "fileABSPath" : "/nifi/extDocs/${invokehttp.tx.id}-${updatedFileName}"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "filename" : {
              "name" : "filename",
              "displayName" : "filename",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "filepath" : {
              "name" : "filepath",
              "displayName" : "filepath",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "fileABSPath" : {
              "name" : "fileABSPath",
              "displayName" : "fileABSPath",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "f10136de-26a8-32d2-95c6-98925b197c01"
        }, {
          "identifier" : "e209847f-c4fb-3c11-81a9-7daa991dfa55",
          "name" : "Extract URL",
          "comments" : "",
          "position" : {
            "x" : 10824.0,
            "y" : 2728.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExtractText",
          "properties" : {
            "Enable Unicode Predefined Character Classes" : "false",
            "Permit Whitespace and Comments in Pattern" : "false",
            "Enable Unicode-aware Case Folding" : "false",
            "Enable DOTALL Mode" : "false",
            "Enable Unix Lines Mode" : "false",
            "Maximum Buffer Size" : "10 MB",
            "Enable Canonical Equivalence" : "false",
            "url" : "((?:https?:\\/\\/)(?:[0-9a-z\\.-]+)\\.(?:[a-z\\.]{2,6})(?:[\\/\\w \\.-]*)(\\.html|\\.jsp))",
            "Enable Case-insensitive Matching" : "false",
            "Enable Multiline Mode" : "false",
            "Maximum Capture Group Length" : "4000",
            "Enable Literal Parsing of the Pattern" : "false",
            "Character Set" : "UTF-8",
            "Include Capture Group 0" : "false",
            "extract-text-enable-repeating-capture-group" : "false"
          },
          "propertyDescriptors" : {
            "Enable Unicode Predefined Character Classes" : {
              "name" : "Enable Unicode Predefined Character Classes",
              "displayName" : "Enable Unicode Predefined Character Classes",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Permit Whitespace and Comments in Pattern" : {
              "name" : "Permit Whitespace and Comments in Pattern",
              "displayName" : "Permit Whitespace and Comments in Pattern",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Enable Unicode-aware Case Folding" : {
              "name" : "Enable Unicode-aware Case Folding",
              "displayName" : "Enable Unicode-aware Case Folding",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Enable DOTALL Mode" : {
              "name" : "Enable DOTALL Mode",
              "displayName" : "Enable DOTALL Mode",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Enable Unix Lines Mode" : {
              "name" : "Enable Unix Lines Mode",
              "displayName" : "Enable Unix Lines Mode",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Maximum Buffer Size" : {
              "name" : "Maximum Buffer Size",
              "displayName" : "Maximum Buffer Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Enable Canonical Equivalence" : {
              "name" : "Enable Canonical Equivalence",
              "displayName" : "Enable Canonical Equivalence",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "url" : {
              "name" : "url",
              "displayName" : "url",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Enable Case-insensitive Matching" : {
              "name" : "Enable Case-insensitive Matching",
              "displayName" : "Enable Case-insensitive Matching",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Enable Multiline Mode" : {
              "name" : "Enable Multiline Mode",
              "displayName" : "Enable Multiline Mode",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Maximum Capture Group Length" : {
              "name" : "Maximum Capture Group Length",
              "displayName" : "Maximum Capture Group Length",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Enable Literal Parsing of the Pattern" : {
              "name" : "Enable Literal Parsing of the Pattern",
              "displayName" : "Enable Literal Parsing of the Pattern",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Character Set" : {
              "name" : "Character Set",
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Include Capture Group 0" : {
              "name" : "Include Capture Group 0",
              "displayName" : "Include Capture Group 0",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "extract-text-enable-repeating-capture-group" : {
              "name" : "extract-text-enable-repeating-capture-group",
              "displayName" : "Enable repeating capture group",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 5,
          "autoTerminatedRelationships" : [ "unmatched" ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "f10136de-26a8-32d2-95c6-98925b197c01"
        } ],
        "inputPorts" : [ {
          "identifier" : "bd586970-2094-3d46-b77a-c0039a208ecc",
          "name" : "Input",
          "position" : {
            "x" : 7377.434785617991,
            "y" : 2294.7783191480016
          },
          "type" : "INPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "allowRemoteAccess" : false,
          "componentType" : "INPUT_PORT",
          "groupIdentifier" : "f10136de-26a8-32d2-95c6-98925b197c01"
        } ],
        "outputPorts" : [ {
          "identifier" : "3d680cab-d5d2-3e1f-958b-866e2d4d10c7",
          "name" : "Output",
          "position" : {
            "x" : 9256.0,
            "y" : 3752.0
          },
          "type" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "allowRemoteAccess" : false,
          "componentType" : "OUTPUT_PORT",
          "groupIdentifier" : "f10136de-26a8-32d2-95c6-98925b197c01"
        } ],
        "connections" : [ {
          "identifier" : "73216ce2-6c95-38fc-96bc-a1fd7c94e286",
          "name" : "",
          "source" : {
            "id" : "6990c90f-7b78-3da0-b41c-3761929ff931",
            "type" : "PROCESSOR",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "InvokeHTTP",
            "comments" : ""
          },
          "destination" : {
            "id" : "6990c90f-7b78-3da0-b41c-3761929ff931",
            "type" : "PROCESSOR",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "InvokeHTTP",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "Retry" ],
          "backPressureObjectThreshold" : 0,
          "backPressureDataSizeThreshold" : "0 MB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ {
            "x" : 11352.884270575203,
            "y" : 2265.5902391748846
          }, {
            "x" : 11352.884270575203,
            "y" : 2332.5902391748846
          } ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "f10136de-26a8-32d2-95c6-98925b197c01"
        }, {
          "identifier" : "49ff4a83-b8f6-3fb0-935d-d4601776370e",
          "name" : "",
          "source" : {
            "id" : "0797d9e2-cab8-3f18-93d3-6d5420c31efd",
            "type" : "PROCESSOR",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "Pass on successes",
            "comments" : ""
          },
          "destination" : {
            "id" : "6f44a735-f939-3dd9-bcc7-43d7846dc917",
            "type" : "FUNNEL",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "Funnel",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "200-202" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "f10136de-26a8-32d2-95c6-98925b197c01"
        }, {
          "identifier" : "9dea3098-dd07-3762-9a84-0c85cd3268e9",
          "name" : "",
          "source" : {
            "id" : "aa66c300-c398-3052-ab5b-01815774ab90",
            "type" : "PROCESSOR",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "PutFile",
            "comments" : ""
          },
          "destination" : {
            "id" : "3d680cab-d5d2-3e1f-958b-866e2d4d10c7",
            "type" : "OUTPUT_PORT",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "Output"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "f10136de-26a8-32d2-95c6-98925b197c01"
        }, {
          "identifier" : "f6421426-439f-3b0e-adb1-ca817c1531fe",
          "name" : "",
          "source" : {
            "id" : "6f44a735-f939-3dd9-bcc7-43d7846dc917",
            "type" : "FUNNEL",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "Funnel",
            "comments" : ""
          },
          "destination" : {
            "id" : "aa66c300-c398-3052-ab5b-01815774ab90",
            "type" : "PROCESSOR",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "PutFile",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "f10136de-26a8-32d2-95c6-98925b197c01"
        }, {
          "identifier" : "d6e97501-c2d2-39dd-9c0c-cef30c8b9b4e",
          "name" : "",
          "source" : {
            "id" : "9faab7cc-895c-381b-a3ea-f4fe45b332fe",
            "type" : "PROCESSOR",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "RouteFIleIfURLExist",
            "comments" : ""
          },
          "destination" : {
            "id" : "e8dd7421-281f-33f1-ba7e-d537a768115e",
            "type" : "PROCESSOR",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "SplitXml",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "potential URL" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "f10136de-26a8-32d2-95c6-98925b197c01"
        }, {
          "identifier" : "82b8cbd2-9364-3677-8b66-c59920233f58",
          "name" : "",
          "source" : {
            "id" : "59e7f56f-6d55-35cf-b7a6-d58eb246f418",
            "type" : "PROCESSOR",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "InvokeHTTP",
            "comments" : ""
          },
          "destination" : {
            "id" : "6f44a735-f939-3dd9-bcc7-43d7846dc917",
            "type" : "FUNNEL",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "Funnel",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "Response" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "f10136de-26a8-32d2-95c6-98925b197c01"
        }, {
          "identifier" : "19681bfc-d038-3e53-a545-3712cd5c7123",
          "name" : "",
          "source" : {
            "id" : "2515266e-27e4-3a08-bcc3-6275c2e6e9b7",
            "type" : "PROCESSOR",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "Replace filename",
            "comments" : ""
          },
          "destination" : {
            "id" : "4cca73f3-9289-303a-a7de-8f28185088c3",
            "type" : "PROCESSOR",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "Update filename",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "f10136de-26a8-32d2-95c6-98925b197c01"
        }, {
          "identifier" : "1dc598ff-f3f9-32c3-bc50-5dcc80090e0f",
          "name" : "",
          "source" : {
            "id" : "59e7f56f-6d55-35cf-b7a6-d58eb246f418",
            "type" : "PROCESSOR",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "InvokeHTTP",
            "comments" : ""
          },
          "destination" : {
            "id" : "59e7f56f-6d55-35cf-b7a6-d58eb246f418",
            "type" : "PROCESSOR",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "InvokeHTTP",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "Retry" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ {
            "x" : 8853.067897410458,
            "y" : 2598.276658594381
          }, {
            "x" : 8853.067897410458,
            "y" : 2648.276658594381
          } ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "f10136de-26a8-32d2-95c6-98925b197c01"
        }, {
          "identifier" : "f2ee00d7-f33f-3df1-8f5b-1c933e4fded4",
          "name" : "",
          "source" : {
            "id" : "59e7f56f-6d55-35cf-b7a6-d58eb246f418",
            "type" : "PROCESSOR",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "InvokeHTTP",
            "comments" : ""
          },
          "destination" : {
            "id" : "9faab7cc-895c-381b-a3ea-f4fe45b332fe",
            "type" : "PROCESSOR",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "RouteFIleIfURLExist",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "Response" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "f10136de-26a8-32d2-95c6-98925b197c01"
        }, {
          "identifier" : "e404f95e-2d6c-31fe-97da-120cdf0b7f04",
          "name" : "",
          "source" : {
            "id" : "bd586970-2094-3d46-b77a-c0039a208ecc",
            "type" : "INPUT_PORT",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "Input"
          },
          "destination" : {
            "id" : "59e7f56f-6d55-35cf-b7a6-d58eb246f418",
            "type" : "PROCESSOR",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "InvokeHTTP",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "f10136de-26a8-32d2-95c6-98925b197c01"
        }, {
          "identifier" : "00f09f86-4751-3dec-a3b0-365b468f59c9",
          "name" : "",
          "source" : {
            "id" : "4cca73f3-9289-303a-a7de-8f28185088c3",
            "type" : "PROCESSOR",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "Update filename",
            "comments" : ""
          },
          "destination" : {
            "id" : "0797d9e2-cab8-3f18-93d3-6d5420c31efd",
            "type" : "PROCESSOR",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "Pass on successes",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "f10136de-26a8-32d2-95c6-98925b197c01"
        }, {
          "identifier" : "e6ad5e07-fed6-3602-b8b2-ef03c8104713",
          "name" : "",
          "source" : {
            "id" : "0797d9e2-cab8-3f18-93d3-6d5420c31efd",
            "type" : "PROCESSOR",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "Pass on successes",
            "comments" : ""
          },
          "destination" : {
            "id" : "828984ab-f98b-32e5-b970-7f613cb70e5d",
            "type" : "PROCESSOR",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "Log failures",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "unmatched" ],
          "backPressureObjectThreshold" : 0,
          "backPressureDataSizeThreshold" : "0 MB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "f10136de-26a8-32d2-95c6-98925b197c01"
        }, {
          "identifier" : "10d9975c-fc6c-3b57-ad73-03642d95dda7",
          "name" : "",
          "source" : {
            "id" : "6990c90f-7b78-3da0-b41c-3761929ff931",
            "type" : "PROCESSOR",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "InvokeHTTP",
            "comments" : ""
          },
          "destination" : {
            "id" : "2515266e-27e4-3a08-bcc3-6275c2e6e9b7",
            "type" : "PROCESSOR",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "Replace filename",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "Response" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "f10136de-26a8-32d2-95c6-98925b197c01"
        }, {
          "identifier" : "0263c62b-c32d-33dd-ae54-a7d2ef922e77",
          "name" : "",
          "source" : {
            "id" : "18707955-2821-32aa-b433-126aa30ca5c0",
            "type" : "PROCESSOR",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "Remove duplicates",
            "comments" : ""
          },
          "destination" : {
            "id" : "6990c90f-7b78-3da0-b41c-3761929ff931",
            "type" : "PROCESSOR",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "InvokeHTTP",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "non-duplicate" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "f10136de-26a8-32d2-95c6-98925b197c01"
        }, {
          "identifier" : "e86eef3a-1e42-3b6c-82ce-712895d5f70d",
          "name" : "",
          "source" : {
            "id" : "9faab7cc-895c-381b-a3ea-f4fe45b332fe",
            "type" : "PROCESSOR",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "RouteFIleIfURLExist",
            "comments" : ""
          },
          "destination" : {
            "id" : "d0385230-1e1d-370f-9782-8c9bd65fef19",
            "type" : "PROCESSOR",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "Log failures",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "unmatched" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "f10136de-26a8-32d2-95c6-98925b197c01"
        }, {
          "identifier" : "371aa0a5-e7bd-32ea-a824-1ff6b183b194",
          "name" : "",
          "source" : {
            "id" : "e8dd7421-281f-33f1-ba7e-d537a768115e",
            "type" : "PROCESSOR",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "SplitXml",
            "comments" : ""
          },
          "destination" : {
            "id" : "e209847f-c4fb-3c11-81a9-7daa991dfa55",
            "type" : "PROCESSOR",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "Extract URL",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "split" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "f10136de-26a8-32d2-95c6-98925b197c01"
        }, {
          "identifier" : "786a8bc9-ab12-3477-a2c1-00c4ebad27ad",
          "name" : "",
          "source" : {
            "id" : "e209847f-c4fb-3c11-81a9-7daa991dfa55",
            "type" : "PROCESSOR",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "Extract URL",
            "comments" : ""
          },
          "destination" : {
            "id" : "18707955-2821-32aa-b433-126aa30ca5c0",
            "type" : "PROCESSOR",
            "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
            "name" : "Remove duplicates",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "matched" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "f10136de-26a8-32d2-95c6-98925b197c01"
        } ],
        "labels" : [ ],
        "funnels" : [ {
          "identifier" : "6f44a735-f939-3dd9-bcc7-43d7846dc917",
          "position" : {
            "x" : 9329.041033093767,
            "y" : 2778.088009709073
          },
          "componentType" : "FUNNEL",
          "groupIdentifier" : "f10136de-26a8-32d2-95c6-98925b197c01"
        } ],
        "controllerServices" : [ ],
        "variables" : { },
        "componentType" : "PROCESS_GROUP",
        "groupIdentifier" : "b48af0a7-75cb-36d9-a294-ef37b9bc2810"
      } ],
      "remoteProcessGroups" : [ {
        "identifier" : "04e763f2-fe1e-3fa4-8755-1413179da303",
        "name" : "NiFi Flow",
        "comments" : "",
        "position" : {
          "x" : 440.0,
          "y" : -824.0
        },
        "targetUri" : "http://localhost:30600/nifi",
        "targetUris" : "http://localhost:30600/nifi",
        "communicationsTimeout" : "30 sec",
        "yieldDuration" : "10 sec",
        "transportProtocol" : "RAW",
        "proxyHost" : "",
        "proxyUser" : "",
        "inputPorts" : [ {
          "identifier" : "daa7970c-129d-3691-b4fe-de2615b20d15",
          "name" : "Bulk Description INPUT",
          "comments" : "",
          "remoteGroupId" : "04e763f2-fe1e-3fa4-8755-1413179da303",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "3f99c419-0177-1000-fb5b-f5ed07076172",
          "groupIdentifier" : "04e763f2-fe1e-3fa4-8755-1413179da303"
        }, {
          "identifier" : "4bb09ea1-420a-365a-8a04-244c07497cba",
          "name" : "Bulk Store INPUT",
          "comments" : "",
          "remoteGroupId" : "04e763f2-fe1e-3fa4-8755-1413179da303",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "3f99c3a9-0177-1000-9e71-0ce581d84cfa",
          "groupIdentifier" : "04e763f2-fe1e-3fa4-8755-1413179da303"
        }, {
          "identifier" : "2b906033-f476-30ce-9898-428aeffe65cc",
          "name" : "Bulk Catalog INPUT",
          "comments" : "",
          "remoteGroupId" : "04e763f2-fe1e-3fa4-8755-1413179da303",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "3f99c3be-0177-1000-baa6-16b938a37a95",
          "groupIdentifier" : "04e763f2-fe1e-3fa4-8755-1413179da303"
        }, {
          "identifier" : "2410e45c-6c2e-3c2b-b729-71be3f0712f7",
          "name" : "Bulk URL INPUT",
          "comments" : "",
          "remoteGroupId" : "04e763f2-fe1e-3fa4-8755-1413179da303",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "3f99c433-0177-1000-155b-bfefcfa647df",
          "groupIdentifier" : "04e763f2-fe1e-3fa4-8755-1413179da303"
        }, {
          "identifier" : "2723b7e8-d8be-3e63-b67a-d7879261d866",
          "name" : "Run INPUT",
          "comments" : "",
          "remoteGroupId" : "04e763f2-fe1e-3fa4-8755-1413179da303",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "3f99c377-0177-1000-ede8-0560d4605961",
          "groupIdentifier" : "04e763f2-fe1e-3fa4-8755-1413179da303"
        }, {
          "identifier" : "290b456c-b445-3f42-99a3-161e16c1731d",
          "name" : "Logger INPUT",
          "comments" : "",
          "remoteGroupId" : "04e763f2-fe1e-3fa4-8755-1413179da303",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "3f99c33c-0177-1000-d495-4d5cad3146da",
          "groupIdentifier" : "04e763f2-fe1e-3fa4-8755-1413179da303"
        }, {
          "identifier" : "0e2887e5-205a-3b25-9188-1d322785d9ce",
          "name" : "Bulk Category INPUT",
          "comments" : "",
          "remoteGroupId" : "04e763f2-fe1e-3fa4-8755-1413179da303",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "3f99c3e5-0177-1000-cf89-02b00c53e536",
          "groupIdentifier" : "04e763f2-fe1e-3fa4-8755-1413179da303"
        }, {
          "identifier" : "441a7980-5abe-35f8-a146-fb1104463b7d",
          "name" : "Bulk Product INPUT",
          "comments" : "",
          "remoteGroupId" : "04e763f2-fe1e-3fa4-8755-1413179da303",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "3f99c3fa-0177-1000-d742-1bce892cc483",
          "groupIdentifier" : "04e763f2-fe1e-3fa4-8755-1413179da303"
        }, {
          "identifier" : "c76eb61d-838e-3b02-a3d6-5ff31752f51b",
          "name" : "Terminal INPUT",
          "comments" : "",
          "remoteGroupId" : "04e763f2-fe1e-3fa4-8755-1413179da303",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "3f99c38f-0177-1000-7b71-6a10910d542c",
          "groupIdentifier" : "04e763f2-fe1e-3fa4-8755-1413179da303"
        }, {
          "identifier" : "782a9d44-2c24-398f-8242-3fb9e1a781cc",
          "name" : "Bulk Attribute INPUT",
          "comments" : "",
          "remoteGroupId" : "04e763f2-fe1e-3fa4-8755-1413179da303",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "3f99c3cf-0177-1000-580b-b4abc90f38c3",
          "groupIdentifier" : "04e763f2-fe1e-3fa4-8755-1413179da303"
        } ],
        "outputPorts" : [ ],
        "componentType" : "REMOTE_PROCESS_GROUP",
        "groupIdentifier" : "b48af0a7-75cb-36d9-a294-ef37b9bc2810"
      } ],
      "processors" : [ ],
      "inputPorts" : [ {
        "identifier" : "3546f6f1-f693-3ae2-a3af-cc49cf8b25ec",
        "name" : "INPUT",
        "comments" : "",
        "position" : {
          "x" : 1848.0,
          "y" : -1040.0
        },
        "type" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "allowRemoteAccess" : false,
        "componentType" : "INPUT_PORT",
        "groupIdentifier" : "b48af0a7-75cb-36d9-a294-ef37b9bc2810"
      } ],
      "outputPorts" : [ {
        "identifier" : "27ef224f-0791-3aa6-a788-83a97ba13753",
        "name" : "OUTPUT",
        "comments" : "",
        "position" : {
          "x" : 1232.0,
          "y" : -496.0
        },
        "type" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "groupIdentifier" : "b48af0a7-75cb-36d9-a294-ef37b9bc2810"
      } ],
      "connections" : [ {
        "identifier" : "4b46fd55-4608-3fdb-b8ee-914e2094a0d0",
        "name" : "",
        "source" : {
          "id" : "2f734255-89e7-3e9f-9470-c8d7891d8cb6",
          "type" : "OUTPUT_PORT",
          "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
          "name" : "SUCCESS",
          "comments" : ""
        },
        "destination" : {
          "id" : "27ef224f-0791-3aa6-a788-83a97ba13753",
          "type" : "OUTPUT_PORT",
          "groupId" : "b48af0a7-75cb-36d9-a294-ef37b9bc2810",
          "name" : "OUTPUT",
          "comments" : ""
        },
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "" ],
        "backPressureObjectThreshold" : 10000,
        "backPressureDataSizeThreshold" : "1 GB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ ],
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute" : "",
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "componentType" : "CONNECTION",
        "groupIdentifier" : "b48af0a7-75cb-36d9-a294-ef37b9bc2810"
      }, {
        "identifier" : "ff8dded0-735c-3ea8-b4a7-30954a3a3101",
        "name" : "",
        "source" : {
          "id" : "eb523345-9e71-3fef-9661-b54d5b67d915",
          "type" : "OUTPUT_PORT",
          "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
          "name" : "ERROR",
          "comments" : ""
        },
        "destination" : {
          "id" : "290b456c-b445-3f42-99a3-161e16c1731d",
          "type" : "REMOTE_INPUT_PORT",
          "groupId" : "04e763f2-fe1e-3fa4-8755-1413179da303",
          "name" : "Logger INPUT",
          "comments" : ""
        },
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "" ],
        "backPressureObjectThreshold" : 10000,
        "backPressureDataSizeThreshold" : "1 GB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ ],
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute" : "",
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "componentType" : "CONNECTION",
        "groupIdentifier" : "b48af0a7-75cb-36d9-a294-ef37b9bc2810"
      }, {
        "identifier" : "bae4f04d-23b6-3d4e-bc1a-098977768260",
        "name" : "",
        "source" : {
          "id" : "3d680cab-d5d2-3e1f-958b-866e2d4d10c7",
          "type" : "OUTPUT_PORT",
          "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
          "name" : "Output"
        },
        "destination" : {
          "id" : "92ff5a3d-928a-3cf4-9fb8-5603cfe54902",
          "type" : "INPUT_PORT",
          "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
          "name" : "INPUT",
          "comments" : ""
        },
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "" ],
        "backPressureObjectThreshold" : 10000,
        "backPressureDataSizeThreshold" : "1 GB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ ],
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute" : "",
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "componentType" : "CONNECTION",
        "groupIdentifier" : "b48af0a7-75cb-36d9-a294-ef37b9bc2810"
      }, {
        "identifier" : "1904ef05-8977-3cfd-a03f-6f40d7cdc32c",
        "name" : "",
        "source" : {
          "id" : "3546f6f1-f693-3ae2-a3af-cc49cf8b25ec",
          "type" : "INPUT_PORT",
          "groupId" : "b48af0a7-75cb-36d9-a294-ef37b9bc2810",
          "name" : "INPUT",
          "comments" : ""
        },
        "destination" : {
          "id" : "bd586970-2094-3d46-b77a-c0039a208ecc",
          "type" : "INPUT_PORT",
          "groupId" : "f10136de-26a8-32d2-95c6-98925b197c01",
          "name" : "Input"
        },
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "" ],
        "backPressureObjectThreshold" : 10000,
        "backPressureDataSizeThreshold" : "1 GB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ ],
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute" : "",
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "componentType" : "CONNECTION",
        "groupIdentifier" : "b48af0a7-75cb-36d9-a294-ef37b9bc2810"
      } ],
      "labels" : [ {
        "identifier" : "52fb5b76-c6be-340f-b1c1-31e01a60aad8",
        "position" : {
          "x" : 624.0,
          "y" : -944.0
        },
        "label" : "Fetch URL And Invoke Search",
        "width" : 1280.0,
        "height" : 408.0,
        "style" : {
          "font-size" : "20px"
        },
        "componentType" : "LABEL",
        "groupIdentifier" : "b48af0a7-75cb-36d9-a294-ef37b9bc2810"
      } ],
      "funnels" : [ ],
      "controllerServices" : [ ],
      "variables" : { },
      "componentType" : "PROCESS_GROUP",
      "groupIdentifier" : "8e2684c5-ca68-3431-b15c-2ae1c39e8345"
    } ],
    "remoteProcessGroups" : [ ],
    "processors" : [ ],
    "inputPorts" : [ {
      "identifier" : "aac39888-c9f2-334f-8fb4-249eda63f2fe",
      "name" : "INPUT",
      "comments" : "",
      "position" : {
        "x" : 1952.0,
        "y" : -680.0
      },
      "type" : "INPUT_PORT",
      "concurrentlySchedulableTaskCount" : 1,
      "allowRemoteAccess" : false,
      "componentType" : "INPUT_PORT",
      "groupIdentifier" : "8e2684c5-ca68-3431-b15c-2ae1c39e8345"
    } ],
    "outputPorts" : [ {
      "identifier" : "a6773122-8203-3d7d-b845-a0c84b8a204f",
      "name" : "OUTPUT",
      "comments" : "",
      "position" : {
        "x" : 1952.0,
        "y" : 40.0
      },
      "type" : "OUTPUT_PORT",
      "concurrentlySchedulableTaskCount" : 1,
      "allowRemoteAccess" : false,
      "componentType" : "OUTPUT_PORT",
      "groupIdentifier" : "8e2684c5-ca68-3431-b15c-2ae1c39e8345"
    } ],
    "connections" : [ {
      "identifier" : "c84bb355-e99d-3d69-a535-191727997ec6",
      "name" : "",
      "source" : {
        "id" : "27ef224f-0791-3aa6-a788-83a97ba13753",
        "type" : "OUTPUT_PORT",
        "groupId" : "b48af0a7-75cb-36d9-a294-ef37b9bc2810",
        "name" : "OUTPUT",
        "comments" : ""
      },
      "destination" : {
        "id" : "a6773122-8203-3d7d-b845-a0c84b8a204f",
        "type" : "OUTPUT_PORT",
        "groupId" : "8e2684c5-ca68-3431-b15c-2ae1c39e8345",
        "name" : "OUTPUT",
        "comments" : ""
      },
      "labelIndex" : 1,
      "zIndex" : 0,
      "selectedRelationships" : [ "" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "8e2684c5-ca68-3431-b15c-2ae1c39e8345"
    }, {
      "identifier" : "d4fae3ce-707c-3f11-b2e2-23cbb9ea2daf",
      "name" : "",
      "source" : {
        "id" : "aac39888-c9f2-334f-8fb4-249eda63f2fe",
        "type" : "INPUT_PORT",
        "groupId" : "8e2684c5-ca68-3431-b15c-2ae1c39e8345",
        "name" : "INPUT",
        "comments" : ""
      },
      "destination" : {
        "id" : "3546f6f1-f693-3ae2-a3af-cc49cf8b25ec",
        "type" : "INPUT_PORT",
        "groupId" : "b48af0a7-75cb-36d9-a294-ef37b9bc2810",
        "name" : "INPUT",
        "comments" : ""
      },
      "labelIndex" : 1,
      "zIndex" : 0,
      "selectedRelationships" : [ "" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "8e2684c5-ca68-3431-b15c-2ae1c39e8345"
    } ],
    "labels" : [ {
      "identifier" : "73a00de0-36e6-3632-8e06-8f191440f708",
      "position" : {
        "x" : 1808.0,
        "y" : -456.0
      },
      "label" : "Custom Connector Pipe (Database)",
      "width" : 528.0,
      "height" : 336.0,
      "style" : {
        "background-color" : "#cceeff",
        "font-size" : "24px"
      },
      "componentType" : "LABEL",
      "groupIdentifier" : "8e2684c5-ca68-3431-b15c-2ae1c39e8345"
    } ],
    "funnels" : [ ],
    "controllerServices" : [ {
      "identifier" : "efdd999a-d8a6-3af0-9c72-c7a927c233c5",
      "name" : "Database Connection Pool",
      "comments" : "",
      "type" : "org.apache.nifi.dbcp.DBCPConnectionPool",
      "bundle" : {
        "group" : "org.apache.nifi",
        "artifact" : "nifi-dbcp-service-nar",
        "version" : "1.11.4"
      },
      "controllerServiceApis" : [ {
        "type" : "org.apache.nifi.dbcp.DBCPService",
        "bundle" : {
          "group" : "org.apache.nifi",
          "artifact" : "nifi-standard-services-api-nar",
          "version" : "1.11.4"
        }
      } ],
      "properties" : {
        "dbcp-min-idle-conns" : "0",
        "Max Wait Time" : "500 millis",
        "Database Driver Class Name" : "com.ibm.db2.jcc.DB2Driver",
        "dbcp-min-evictable-idle-time" : "30 mins",
        "Database Driver Location(s)" : "${AUTH_JDBC_DRIVER_LOCATION}",
        "Max Total Connections" : "8",
        "dbcp-max-conn-lifetime" : "-1",
        "Database Connection URL" : "${AUTH_JDBC_URL}",
        "dbcp-time-between-eviction-runs" : "-1",
        "Database User" : "${AUTH_JDBC_USER_NAME}",
        "dbcp-soft-min-evictable-idle-time" : "-1",
        "database-driver-locations" : "${AUTH_JDBC_DRIVER_LOCATION}",
        "dbcp-max-idle-conns" : "8"
      },
      "propertyDescriptors" : {
        "dbcp-min-idle-conns" : {
          "name" : "dbcp-min-idle-conns",
          "displayName" : "Minimum Idle Connections",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "Max Wait Time" : {
          "name" : "Max Wait Time",
          "displayName" : "Max Wait Time",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "Database Driver Class Name" : {
          "name" : "Database Driver Class Name",
          "displayName" : "Database Driver Class Name",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "dbcp-min-evictable-idle-time" : {
          "name" : "dbcp-min-evictable-idle-time",
          "displayName" : "Minimum Evictable Idle Time",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "Database Driver Location(s)" : {
          "name" : "Database Driver Location(s)",
          "displayName" : "Database Driver Location(s)",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "Max Total Connections" : {
          "name" : "Max Total Connections",
          "displayName" : "Max Total Connections",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "kerberos-credentials-service" : {
          "name" : "kerberos-credentials-service",
          "displayName" : "Kerberos Credentials Service",
          "identifiesControllerService" : true,
          "sensitive" : false
        },
        "dbcp-max-conn-lifetime" : {
          "name" : "dbcp-max-conn-lifetime",
          "displayName" : "Max Connection Lifetime",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "Validation-query" : {
          "name" : "Validation-query",
          "displayName" : "Validation query",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "Database Connection URL" : {
          "name" : "Database Connection URL",
          "displayName" : "Database Connection URL",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "dbcp-time-between-eviction-runs" : {
          "name" : "dbcp-time-between-eviction-runs",
          "displayName" : "Time Between Eviction Runs",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "Database User" : {
          "name" : "Database User",
          "displayName" : "Database User",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "dbcp-soft-min-evictable-idle-time" : {
          "name" : "dbcp-soft-min-evictable-idle-time",
          "displayName" : "Soft Minimum Evictable Idle Time",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "database-driver-locations" : {
          "name" : "database-driver-locations",
          "displayName" : "Database Driver Location(s)",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "dbcp-max-idle-conns" : {
          "name" : "dbcp-max-idle-conns",
          "displayName" : "Max Idle Connections",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "Password" : {
          "name" : "Password",
          "displayName" : "Password",
          "identifiesControllerService" : false,
          "sensitive" : true
        }
      },
      "componentType" : "CONTROLLER_SERVICE",
      "groupIdentifier" : "8e2684c5-ca68-3431-b15c-2ae1c39e8345"
    }, {
      "identifier" : "3dd3e9b0-805a-3960-bf24-042d2bc47cef",
      "name" : "Json Record Set Writer",
      "comments" : "",
      "type" : "org.apache.nifi.json.JsonRecordSetWriter",
      "bundle" : {
        "group" : "org.apache.nifi",
        "artifact" : "nifi-record-serialization-services-nar",
        "version" : "1.11.4"
      },
      "controllerServiceApis" : [ {
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory",
        "bundle" : {
          "group" : "org.apache.nifi",
          "artifact" : "nifi-standard-services-api-nar",
          "version" : "1.11.4"
        }
      } ],
      "properties" : {
        "compression-level" : "1",
        "Pretty Print JSON" : "false",
        "compression-format" : "none",
        "Schema Write Strategy" : "schema-name",
        "suppress-nulls" : "never-suppress",
        "output-grouping" : "output-array",
        "schema-name" : "output_schema",
        "schema-registry" : "16a07256-9b4e-3ed5-b7aa-1f7d9a4cd3d7",
        "schema-access-strategy" : "schema-name",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "schema-branch" : {
          "name" : "schema-branch",
          "displayName" : "Schema Branch",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "compression-level" : {
          "name" : "compression-level",
          "displayName" : "Compression Level",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "schema-cache" : {
          "name" : "schema-cache",
          "displayName" : "Schema Cache",
          "identifiesControllerService" : true,
          "sensitive" : false
        },
        "Timestamp Format" : {
          "name" : "Timestamp Format",
          "displayName" : "Timestamp Format",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "Date Format" : {
          "name" : "Date Format",
          "displayName" : "Date Format",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "Pretty Print JSON" : {
          "name" : "Pretty Print JSON",
          "displayName" : "Pretty Print JSON",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "compression-format" : {
          "name" : "compression-format",
          "displayName" : "Compression Format",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "name" : "Schema Write Strategy",
          "displayName" : "Schema Write Strategy",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "suppress-nulls" : {
          "name" : "suppress-nulls",
          "displayName" : "Suppress Null Values",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "output-grouping" : {
          "name" : "output-grouping",
          "displayName" : "Output Grouping",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "schema-name" : {
          "name" : "schema-name",
          "displayName" : "Schema Name",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "schema-registry" : {
          "name" : "schema-registry",
          "displayName" : "Schema Registry",
          "identifiesControllerService" : true,
          "sensitive" : false
        },
        "Time Format" : {
          "name" : "Time Format",
          "displayName" : "Time Format",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "name" : "schema-access-strategy",
          "displayName" : "Schema Access Strategy",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "schema-version" : {
          "name" : "schema-version",
          "displayName" : "Schema Version",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "schema-text" : {
          "name" : "schema-text",
          "displayName" : "Schema Text",
          "identifiesControllerService" : false,
          "sensitive" : false
        }
      },
      "componentType" : "CONTROLLER_SERVICE",
      "groupIdentifier" : "8e2684c5-ca68-3431-b15c-2ae1c39e8345"
    }, {
      "identifier" : "bb657b8d-c808-3055-b9df-14e877031635",
      "name" : "Json Tree Reader",
      "comments" : "",
      "type" : "org.apache.nifi.json.JsonTreeReader",
      "bundle" : {
        "group" : "org.apache.nifi",
        "artifact" : "nifi-record-serialization-services-nar",
        "version" : "1.11.4"
      },
      "controllerServiceApis" : [ {
        "type" : "org.apache.nifi.serialization.RecordReaderFactory",
        "bundle" : {
          "group" : "org.apache.nifi",
          "artifact" : "nifi-standard-services-api-nar",
          "version" : "1.11.4"
        }
      } ],
      "properties" : {
        "schema-name" : "input_schema",
        "schema-registry" : "16a07256-9b4e-3ed5-b7aa-1f7d9a4cd3d7",
        "schema-access-strategy" : "schema-name",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "Timestamp Format" : {
          "name" : "Timestamp Format",
          "displayName" : "Timestamp Format",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "schema-inference-cache" : {
          "name" : "schema-inference-cache",
          "displayName" : "Schema Inference Cache",
          "identifiesControllerService" : true,
          "sensitive" : false
        },
        "Date Format" : {
          "name" : "Date Format",
          "displayName" : "Date Format",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "schema-branch" : {
          "name" : "schema-branch",
          "displayName" : "Schema Branch",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "schema-name" : {
          "name" : "schema-name",
          "displayName" : "Schema Name",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "schema-registry" : {
          "name" : "schema-registry",
          "displayName" : "Schema Registry",
          "identifiesControllerService" : true,
          "sensitive" : false
        },
        "Time Format" : {
          "name" : "Time Format",
          "displayName" : "Time Format",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "name" : "schema-access-strategy",
          "displayName" : "Schema Access Strategy",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "schema-version" : {
          "name" : "schema-version",
          "displayName" : "Schema Version",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "schema-text" : {
          "name" : "schema-text",
          "displayName" : "Schema Text",
          "identifiesControllerService" : false,
          "sensitive" : false
        }
      },
      "componentType" : "CONTROLLER_SERVICE",
      "groupIdentifier" : "8e2684c5-ca68-3431-b15c-2ae1c39e8345"
    }, {
      "identifier" : "16a07256-9b4e-3ed5-b7aa-1f7d9a4cd3d7",
      "name" : "AvroSchemaRegistry",
      "comments" : "",
      "type" : "org.apache.nifi.schemaregistry.services.AvroSchemaRegistry",
      "bundle" : {
        "group" : "org.apache.nifi",
        "artifact" : "nifi-registry-nar",
        "version" : "1.11.4"
      },
      "controllerServiceApis" : [ {
        "type" : "org.apache.nifi.schemaregistry.services.SchemaRegistry",
        "bundle" : {
          "group" : "org.apache.nifi",
          "artifact" : "nifi-standard-services-api-nar",
          "version" : "1.11.4"
        }
      } ],
      "properties" : {
        "avro-reg-validated-field-names" : "true",
        "input_schema" : "{\n  \"name\": \"catentry_attach_input\",\n  \"namespace\": \"nifi\",\n  \"type\": \"record\",\n  \"fields\": [\n    { \"name\": \"CATENTRY_ID\", \"type\": \"long\" },\n    { \"name\": \"PARTNUMBER\", \"type\": \"string\" },\n\t{ \"name\": \"FIELD4\", \"type\": \"string\" },\n\t{ \"name\": \"NAME\", \"type\": \"string\" },\n\t{ \"name\": \"SHORTDESCRIPTION\", \"type\": \"string\" }\n  ]\n}",
        "output_schema" : "{\n  \"name\": \"catentry_attach_output\",\n  \"namespace\": \"nifi\",\n  \"type\": \"record\",\n  \"fields\": [\n    { \"name\": \"CATENTRY_ID\", \"type\": \"long\" },\n    { \"name\": \"PARTNUMBER\", \"type\": \"string\" },\n\t{ \"name\": \"FIELD4\", \"type\": \"string\" },\n\t{ \"name\": \"NAME\", \"type\": \"string\" },\n\t{ \"name\": \"SHORTDESCRIPTION\", \"type\": \"string\" }\n  ]\n}"
      },
      "propertyDescriptors" : {
        "avro-reg-validated-field-names" : {
          "name" : "avro-reg-validated-field-names",
          "displayName" : "Validate Field Names",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "input_schema" : {
          "name" : "input_schema",
          "displayName" : "input_schema",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "output_schema" : {
          "name" : "output_schema",
          "displayName" : "output_schema",
          "identifiesControllerService" : false,
          "sensitive" : false
        }
      },
      "componentType" : "CONTROLLER_SERVICE",
      "groupIdentifier" : "8e2684c5-ca68-3431-b15c-2ae1c39e8345"
    } ],
    "variables" : {
      "connector.name" : "custom"
    },
    "componentType" : "PROCESS_GROUP"
  },
  "externalControllerServices" : {
    "7bb66b71-68df-3cc0-9426-ac37d059ce8e" : {
      "identifier" : "7bb66b71-68df-3cc0-9426-ac37d059ce8e",
      "name" : "StandardSSLContextService"
    },
    "3c4e6b54-e4ee-3b79-806b-92a1cb14c2fe" : {
      "identifier" : "3c4e6b54-e4ee-3b79-806b-92a1cb14c2fe",
      "name" : "DistributedMapCacheClientService"
    }
  },
  "parameterContexts" : { },
  "flowEncodingVersion" : "1.0"
}