Search_SiteContentPages/Backend/Search-registry-app/custom-crawl-SiteContentIndexSchemaUpdate.json
{
  "snapshotMetadata" : {
    "version" : 1,
    "timestamp" : 1672738250324,
    "author" : "anonymous",
    "comments" : ""
  },
  "flowContents" : {
    "identifier" : "6339114a-76dd-355a-9126-6d62fbbbd895",
    "instanceIdentifier" : "3d8f413e-5437-1fbf-f54c-521f25d8308f",
    "name" : "auth.sitecontent - custom-crawl-SiteContentIndexSchemaUpdate",
    "comments" : "{\n  \"version\": \"9.1.5.0\",\n  \"level\": \"9.1/search-registry-app=v9-1-5-0\"\n}",
    "position" : {
      "x" : 17050.0,
      "y" : 550.0
    },
    "processGroups" : [ {
      "identifier" : "47f84faa-dea2-3006-b82d-f3946aa0f362",
      "instanceIdentifier" : "67751635-595d-33b4-27f1-5ba854c17096",
      "name" : "SiteContent Update",
      "comments" : "",
      "position" : {
        "x" : 2456.0,
        "y" : -384.0
      },
      "processGroups" : [ {
        "identifier" : "e0f0864a-911f-3cdf-8c70-41173f11e920",
        "instanceIdentifier" : "7c9351e2-2b37-3173-5664-a41b46247336",
        "name" : "Setup Elasticsearch Index Schema",
        "comments" : "",
        "position" : {
          "x" : 1152.0,
          "y" : -824.0
        },
        "processGroups" : [ ],
        "remoteProcessGroups" : [ ],
        "processors" : [ {
          "identifier" : "a2976d24-b125-30fb-9131-28ecbb229280",
          "instanceIdentifier" : "5dfd8de6-84b1-3d87-f572-e45602685054",
          "name" : "Log info message",
          "comments" : "",
          "position" : {
            "x" : 1168.0,
            "y" : 776.0
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.16.2"
          },
          "properties" : {
            "logger.message.text" : "Successfully initialized ${index.name} index schema",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "logger.message.severity" : "I",
            "logger.message.code" : "DI1002I",
            "logger.message.parameter" : "[ \"${index.name}\" ]"
          },
          "propertyDescriptors" : {
            "logger.message.text" : {
              "name" : "logger.message.text",
              "displayName" : "logger.message.text",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.severity" : {
              "name" : "logger.message.severity",
              "displayName" : "logger.message.severity",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.code" : {
              "name" : "logger.message.code",
              "displayName" : "logger.message.code",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.parameter" : {
              "name" : "logger.message.parameter",
              "displayName" : "logger.message.parameter",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "style" : {
            "background-color" : "#ff0000"
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "NONE",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "retryCount" : 10,
          "retriedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "maxBackoffPeriod" : "10 mins",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "e0f0864a-911f-3cdf-8c70-41173f11e920"
        }, {
          "identifier" : "a637ff17-1ca8-369e-a7a7-43b0d2b29c3f",
          "instanceIdentifier" : "9b6ba65c-3fe1-364d-56f3-b8ab7a738b35",
          "name" : "Populate SiteContent Index schema",
          "comments" : "",
          "position" : {
            "x" : -176.0,
            "y" : 760.0
          },
          "type" : "org.apache.nifi.processors.standard.ReplaceText",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.16.2"
          },
          "properties" : {
            "Regular Expression" : "(?s)(^.*$)",
            "Replacement Value" : "{\n\t\"settings\": {\n\t\t\"number_of_shards\": \"3\",\n\t\t\"number_of_replicas\": 0,\n\t\t\"refresh_interval\": \"10s\",\n\t\t\"max_result_window\": 20000,\n\t\t\"index.store.type\": \"niofs\",\n\t\t\"analysis\": {\n\t\t\t\"normalizer\": {\n\t\t\t\t\"lowercase\": {\n\t\t\t\t\t\"type\": \"custom\",\n\t\t\t\t\t\"char_filter\": [],\n\t\t\t\t\t\"filter\": [\n\t\t\t\t\t\t\"lowercase\",\n\t\t\t\t\t\t\"asciifolding\"\n\t\t\t\t\t]\n\t\t\t\t}\n\t\t\t},\n\t\t\t\"analyzer\": {\n\t\t\t\t\"htmlStripAnalyzer\": {\n\t\t\t\t\t\"type\": \"custom\",\n\t\t\t\t\t\"tokenizer\": \"standard\",\n\t\t\t\t\t\"filter\": [\"lowercase\"],\n\t\t\t\t\t\"char_filter\": [\n\t\t\t\t\t\t\"html_strip\"\n\t\t\t\t\t]\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t},\n\t\"mappings\": {\n\t\t\"dynamic\": \"true\",\n\t\"date_detection\": \"false\",\n\t\"numeric_detection\": \"false\",\n\t\"properties\": {\n\t\t\"attachment\": {\n\t\t\t\"properties\": {\n\t\t\t\t\"content_type\": {\n\t\t\t\t\t\"type\": \"keyword\",\n\t\t\t\t\t\"doc_values\": \"true\",\n\t\t\t\t\t\"eager_global_ordinals\": \"false\",\n\t\t\t\t\t\"index\": \"true\",\n\t\t\t\t\t\"index_options\": \"docs\",\n\t\t\t\t\t\"norms\": \"false\",\n\t\t\t\t\t\"store\": \"true\"\n\t\t\t\t},\n\t\t\t\t\"title\": {\n\t\t\t\t\t\"type\": \"keyword\",\n\t\t\t\t\t\"doc_values\": \"true\",\n\t\t\t\t\t\"eager_global_ordinals\": \"false\",\n\t\t\t\t\t\"index\": \"true\",\n\t\t\t\t\t\"index_options\": \"docs\",\n\t\t\t\t\t\"norms\": \"false\",\n\t\t\t\t\t\"store\": \"true\"\n\t\t\t\t},\n\t\t\t\t\"content\": {\n\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\"doc_values\": \"true\",\n\t\t\t\t\t\"eager_global_ordinals\": \"false\",\n\t\t\t\t\t\"index\": \"true\",\n\t\t\t\t\t\"index_options\": \"docs\",\n\t\t\t\t\t\"norms\": \"false\",\n\t\t\t\t\t\"store\": \"true\"\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t\"file_type\": {\n\t\t\t\"type\": \"keyword\",\n\t\t\t\"doc_values\": \"true\",\n\t\t\t\"eager_global_ordinals\": \"true\",\n\t\t\t\"index\": \"true\",\n\t\t\t\"index_options\": \"docs\",\n\t\t\t\"norms\": \"false\",\n\t\t\t\"store\": \"true\"\n\t\t},\n\t\t\"filename\": {\n\t\t\t\"type\": \"text\",\n\t\t\t\"doc_values\": \"true\",\n\t\t\t\"eager_global_ordinals\": \"false\",\n\t\t\t\"index\": \"true\",\n\t\t\t\"index_options\": \"freqs\",\n\t\t\t\"norms\": \"false\",\n\t\t\t\"store\": \"true\"\n\t\t},\n\t\t\"fileABSPath\": {\n\t\t\t\"type\": \"keyword\",\n\t\t\t\"doc_values\": \"true\",\n\t\t\t\"eager_global_ordinals\": \"false\",\n\t\t\t\"index\": \"true\",\n\t\t\t\"index_options\": \"freqs\",\n\t\t\t\"norms\": \"false\",\n\t\t\t\"store\": \"true\"\n\t\t},\n\t\t\"title\": {\n\t\t\t\"type\": \"keyword\",\n\t\t\t\"doc_values\": \"true\",\n\t\t\t\"eager_global_ordinals\": \"true\",\n\t\t\t\"index\": \"true\",\n\t\t\t\"index_options\": \"docs\",\n\t\t\t\"norms\": \"false\",\n\t\t\t\"store\": \"true\"\n\t\t}\n\t}\n\t}\n}",
            "Evaluation Mode" : "Entire text",
            "Line-by-Line Evaluation Mode" : "All",
            "Character Set" : "UTF-8",
            "Maximum Buffer Size" : "1 MB",
            "Replacement Strategy" : "Always Replace"
          },
          "propertyDescriptors" : {
            "Regular Expression" : {
              "name" : "Regular Expression",
              "displayName" : "Search Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Replacement Value" : {
              "name" : "Replacement Value",
              "displayName" : "Replacement Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Evaluation Mode" : {
              "name" : "Evaluation Mode",
              "displayName" : "Evaluation Mode",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Line-by-Line Evaluation Mode" : {
              "name" : "Line-by-Line Evaluation Mode",
              "displayName" : "Line-by-Line Evaluation Mode",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Character Set" : {
              "name" : "Character Set",
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Maximum Buffer Size" : {
              "name" : "Maximum Buffer Size",
              "displayName" : "Maximum Buffer Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Replacement Strategy" : {
              "name" : "Replacement Strategy",
              "displayName" : "Replacement Strategy",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "style" : { },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "NONE",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ "failure" ],
          "scheduledState" : "ENABLED",
          "retryCount" : 10,
          "retriedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "maxBackoffPeriod" : "10 mins",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "e0f0864a-911f-3cdf-8c70-41173f11e920"
        }, {
          "identifier" : "b367e8e5-7489-3c52-975f-65033568b5d5",
          "instanceIdentifier" : "cb9bc88f-d0bd-3823-8d37-17e5458782e8",
          "name" : "Check index existence",
          "comments" : "",
          "position" : {
            "x" : -904.0,
            "y" : 824.0
          },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.16.2"
          },
          "properties" : {
            "use-etag" : "false",
            "Proxy Type" : "http",
            "cookie-strategy" : "DISABLED",
            "Connection Timeout" : "5 secs",
            "send-message-body" : "true",
            "set-form-filename" : "true",
            "Always Output Response" : "false",
            "etag-max-cache-size" : "10MB",
            "disable-http2" : "False",
            "idle-timeout" : "5 mins",
            "Use Chunked Encoding" : "false",
            "Follow Redirects" : "True",
            "Remote URL" : "${SEARCH_URL}/_cat/indices/${index.name}",
            "Content-Type" : "application/json",
            "flow-file-naming-strategy" : "RANDOM",
            "max-idle-connections" : "5",
            "Read Timeout" : "15 secs",
            "Max Length To Put In Attribute" : "256",
            "ignore-response-content" : "false",
            "Digest Authentication" : "false",
            "HTTP Method" : "GET",
            "Add Response Headers to Request" : "false",
            "Include Date Header" : "True",
            "Penalize on \"No Retry\"" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "name" : "Proxy Host",
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Attributes to Send" : {
              "name" : "Attributes to Send",
              "displayName" : "Attributes to Send",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "use-etag" : {
              "name" : "use-etag",
              "displayName" : "Use HTTP ETag",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "name" : "proxy-configuration-service",
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "sensitive" : false
            },
            "Proxy Type" : {
              "name" : "Proxy Type",
              "displayName" : "Proxy Type",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Basic Authentication Password" : {
              "name" : "Basic Authentication Password",
              "displayName" : "Basic Authentication Password",
              "identifiesControllerService" : false,
              "sensitive" : true
            },
            "cookie-strategy" : {
              "name" : "cookie-strategy",
              "displayName" : "Cookie Strategy",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Connection Timeout" : {
              "name" : "Connection Timeout",
              "displayName" : "Connection Timeout",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "send-message-body" : {
              "name" : "send-message-body",
              "displayName" : "Send Message Body",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "set-form-filename" : {
              "name" : "set-form-filename",
              "displayName" : "Set FlowFile Form Data File Name",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Always Output Response" : {
              "name" : "Always Output Response",
              "displayName" : "Always Output Response",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "etag-max-cache-size" : {
              "name" : "etag-max-cache-size",
              "displayName" : "Maximum ETag Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "disable-http2" : {
              "name" : "disable-http2",
              "displayName" : "Disable HTTP/2",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "idle-timeout" : {
              "name" : "idle-timeout",
              "displayName" : "Idle Timeout",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Put Response Body In Attribute" : {
              "name" : "Put Response Body In Attribute",
              "displayName" : "Put Response Body In Attribute",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Use Chunked Encoding" : {
              "name" : "Use Chunked Encoding",
              "displayName" : "Use Chunked Encoding",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Follow Redirects" : {
              "name" : "Follow Redirects",
              "displayName" : "Follow Redirects",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Remote URL" : {
              "name" : "Remote URL",
              "displayName" : "Remote URL",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Content-Type" : {
              "name" : "Content-Type",
              "displayName" : "Content-Type",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "form-body-form-name" : {
              "name" : "form-body-form-name",
              "displayName" : "FlowFile Form Data Name",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "flow-file-naming-strategy" : {
              "name" : "flow-file-naming-strategy",
              "displayName" : "FlowFile Naming Strategy",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "max-idle-connections" : {
              "name" : "max-idle-connections",
              "displayName" : "Max Idle Connections",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "invokehttp-proxy-user" : {
              "name" : "invokehttp-proxy-user",
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Read Timeout" : {
              "name" : "Read Timeout",
              "displayName" : "Read Timeout",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Max Length To Put In Attribute" : {
              "name" : "Max Length To Put In Attribute",
              "displayName" : "Max Length To Put In Attribute",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "invokehttp-proxy-password" : {
              "name" : "invokehttp-proxy-password",
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "sensitive" : true
            },
            "ignore-response-content" : {
              "name" : "ignore-response-content",
              "displayName" : "Ignore response's content",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Proxy Port" : {
              "name" : "Proxy Port",
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "SSL Context Service" : {
              "name" : "SSL Context Service",
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "sensitive" : false
            },
            "Digest Authentication" : {
              "name" : "Digest Authentication",
              "displayName" : "Use Digest Authentication",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "HTTP Method" : {
              "name" : "HTTP Method",
              "displayName" : "HTTP Method",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Add Response Headers to Request" : {
              "name" : "Add Response Headers to Request",
              "displayName" : "Add Response Headers to Request",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Basic Authentication Username" : {
              "name" : "Basic Authentication Username",
              "displayName" : "Basic Authentication Username",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "oauth2-access-token-provider" : {
              "name" : "oauth2-access-token-provider",
              "displayName" : "OAuth2 Access Token provider",
              "identifiesControllerService" : true,
              "sensitive" : false
            },
            "Include Date Header" : {
              "name" : "Include Date Header",
              "displayName" : "Include Date Header",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Penalize on \"No Retry\"" : {
              "name" : "Penalize on \"No Retry\"",
              "displayName" : "Penalize on \"No Retry\"",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Useragent" : {
              "name" : "Useragent",
              "displayName" : "Useragent",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "style" : { },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ "Original" ],
          "scheduledState" : "ENABLED",
          "retryCount" : 10,
          "retriedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "maxBackoffPeriod" : "10 mins",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "e0f0864a-911f-3cdf-8c70-41173f11e920"
        }, {
          "identifier" : "e2905576-112d-37f9-ba77-b62e5051fb5f",
          "instanceIdentifier" : "1af49cb1-a9ce-32c2-5432-68d2bed3156e",
          "name" : "PUT Elasticsearch",
          "comments" : "",
          "position" : {
            "x" : 560.0,
            "y" : 768.0
          },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.16.2"
          },
          "properties" : {
            "use-etag" : "false",
            "Proxy Type" : "http",
            "cookie-strategy" : "DISABLED",
            "Connection Timeout" : "15 secs",
            "send-message-body" : "true",
            "set-form-filename" : "true",
            "Always Output Response" : "false",
            "etag-max-cache-size" : "10MB",
            "disable-http2" : "False",
            "idle-timeout" : "5 mins",
            "Use Chunked Encoding" : "false",
            "Follow Redirects" : "False",
            "Remote URL" : "${SEARCH_URL}/${index.name}",
            "Content-Type" : "application/json",
            "flow-file-naming-strategy" : "RANDOM",
            "max-idle-connections" : "5",
            "Read Timeout" : "45 secs",
            "Max Length To Put In Attribute" : "256",
            "ignore-response-content" : "false",
            "Digest Authentication" : "false",
            "HTTP Method" : "PUT",
            "Add Response Headers to Request" : "false",
            "Include Date Header" : "True",
            "Penalize on \"No Retry\"" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "name" : "Proxy Host",
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Attributes to Send" : {
              "name" : "Attributes to Send",
              "displayName" : "Attributes to Send",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "use-etag" : {
              "name" : "use-etag",
              "displayName" : "Use HTTP ETag",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "name" : "proxy-configuration-service",
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "sensitive" : false
            },
            "Proxy Type" : {
              "name" : "Proxy Type",
              "displayName" : "Proxy Type",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Basic Authentication Password" : {
              "name" : "Basic Authentication Password",
              "displayName" : "Basic Authentication Password",
              "identifiesControllerService" : false,
              "sensitive" : true
            },
            "cookie-strategy" : {
              "name" : "cookie-strategy",
              "displayName" : "Cookie Strategy",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Connection Timeout" : {
              "name" : "Connection Timeout",
              "displayName" : "Connection Timeout",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "send-message-body" : {
              "name" : "send-message-body",
              "displayName" : "Send Message Body",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "set-form-filename" : {
              "name" : "set-form-filename",
              "displayName" : "Set FlowFile Form Data File Name",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Always Output Response" : {
              "name" : "Always Output Response",
              "displayName" : "Always Output Response",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "etag-max-cache-size" : {
              "name" : "etag-max-cache-size",
              "displayName" : "Maximum ETag Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "disable-http2" : {
              "name" : "disable-http2",
              "displayName" : "Disable HTTP/2",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "idle-timeout" : {
              "name" : "idle-timeout",
              "displayName" : "Idle Timeout",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Put Response Body In Attribute" : {
              "name" : "Put Response Body In Attribute",
              "displayName" : "Put Response Body In Attribute",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Use Chunked Encoding" : {
              "name" : "Use Chunked Encoding",
              "displayName" : "Use Chunked Encoding",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Follow Redirects" : {
              "name" : "Follow Redirects",
              "displayName" : "Follow Redirects",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Remote URL" : {
              "name" : "Remote URL",
              "displayName" : "Remote URL",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Content-Type" : {
              "name" : "Content-Type",
              "displayName" : "Content-Type",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "form-body-form-name" : {
              "name" : "form-body-form-name",
              "displayName" : "FlowFile Form Data Name",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "flow-file-naming-strategy" : {
              "name" : "flow-file-naming-strategy",
              "displayName" : "FlowFile Naming Strategy",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "max-idle-connections" : {
              "name" : "max-idle-connections",
              "displayName" : "Max Idle Connections",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "invokehttp-proxy-user" : {
              "name" : "invokehttp-proxy-user",
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Read Timeout" : {
              "name" : "Read Timeout",
              "displayName" : "Read Timeout",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Max Length To Put In Attribute" : {
              "name" : "Max Length To Put In Attribute",
              "displayName" : "Max Length To Put In Attribute",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "invokehttp-proxy-password" : {
              "name" : "invokehttp-proxy-password",
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "sensitive" : true
            },
            "ignore-response-content" : {
              "name" : "ignore-response-content",
              "displayName" : "Ignore response's content",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Proxy Port" : {
              "name" : "Proxy Port",
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "SSL Context Service" : {
              "name" : "SSL Context Service",
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "sensitive" : false
            },
            "Digest Authentication" : {
              "name" : "Digest Authentication",
              "displayName" : "Use Digest Authentication",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "HTTP Method" : {
              "name" : "HTTP Method",
              "displayName" : "HTTP Method",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Add Response Headers to Request" : {
              "name" : "Add Response Headers to Request",
              "displayName" : "Add Response Headers to Request",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Basic Authentication Username" : {
              "name" : "Basic Authentication Username",
              "displayName" : "Basic Authentication Username",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "oauth2-access-token-provider" : {
              "name" : "oauth2-access-token-provider",
              "displayName" : "OAuth2 Access Token provider",
              "identifiesControllerService" : true,
              "sensitive" : false
            },
            "Include Date Header" : {
              "name" : "Include Date Header",
              "displayName" : "Include Date Header",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Penalize on \"No Retry\"" : {
              "name" : "Penalize on \"No Retry\"",
              "displayName" : "Penalize on \"No Retry\"",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Useragent" : {
              "name" : "Useragent",
              "displayName" : "Useragent",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "style" : {
            "background-color" : "#005555"
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ "Original" ],
          "scheduledState" : "ENABLED",
          "retryCount" : 10,
          "retriedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "maxBackoffPeriod" : "10 mins",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "e0f0864a-911f-3cdf-8c70-41173f11e920"
        }, {
          "identifier" : "a5c0263f-c889-3d85-bbd8-3665a80359d2",
          "instanceIdentifier" : "1d8b3b44-d010-35d7-049a-994a1074bdab",
          "name" : "Log error message",
          "comments" : "",
          "position" : {
            "x" : 552.0,
            "y" : 528.0
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.16.2"
          },
          "properties" : {
            "logger.message.text" : "Update request sent to Elasticsearch in ${stage.name} cannot be completed with ${invokehttp.status.message} (${invokehttp.status.code}) status",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "logger.message.severity" : "E",
            "logger.message.response" : "${invokehttp.response.body}",
            "logger.message.code" : "DI2003E",
            "logger.message.parameter" : "[ \"${stage.name}\", \"${invokehttp.status.message}\", \"${invokehttp.status.code}\" ]"
          },
          "propertyDescriptors" : {
            "logger.message.text" : {
              "name" : "logger.message.text",
              "displayName" : "logger.message.text",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.severity" : {
              "name" : "logger.message.severity",
              "displayName" : "logger.message.severity",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.response" : {
              "name" : "logger.message.response",
              "displayName" : "logger.message.response",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.code" : {
              "name" : "logger.message.code",
              "displayName" : "logger.message.code",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.parameter" : {
              "name" : "logger.message.parameter",
              "displayName" : "logger.message.parameter",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "style" : {
            "background-color" : "#ff0000"
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "NONE",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "retryCount" : 10,
          "retriedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "maxBackoffPeriod" : "10 mins",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "e0f0864a-911f-3cdf-8c70-41173f11e920"
        }, {
          "identifier" : "f343afbe-b4ca-30b8-9ce8-f7b13ba616af",
          "instanceIdentifier" : "713492c7-6859-3654-3909-ce4f720f97b8",
          "name" : "Set SiteContent index name",
          "comments" : "",
          "position" : {
            "x" : -896.0,
            "y" : 480.0
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.16.2"
          },
          "properties" : {
            "index.name" : ".${environment.name}.${param.storeId}.sitecontent.${time.id}",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "index.name" : {
              "name" : "index.name",
              "displayName" : "index.name",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "style" : { },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "retryCount" : 10,
          "retriedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "maxBackoffPeriod" : "10 mins",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "e0f0864a-911f-3cdf-8c70-41173f11e920"
        } ],
        "inputPorts" : [ {
          "identifier" : "b9cee984-903d-36cf-af83-ae94e9b38d95",
          "instanceIdentifier" : "25c408bf-0305-3e8b-b29a-65e99dd6501e",
          "name" : "INPUT",
          "comments" : "",
          "position" : {
            "x" : -1392.0,
            "y" : 832.0
          },
          "type" : "INPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "scheduledState" : "ENABLED",
          "allowRemoteAccess" : false,
          "componentType" : "INPUT_PORT",
          "groupIdentifier" : "e0f0864a-911f-3cdf-8c70-41173f11e920"
        } ],
        "outputPorts" : [ {
          "identifier" : "7ad0fdfa-e7aa-344b-a2e6-75e38e203568",
          "instanceIdentifier" : "ee5635fc-fe31-36a3-6e54-edb45c5849de",
          "name" : "ERROR",
          "comments" : "",
          "position" : {
            "x" : 2064.0,
            "y" : 592.0
          },
          "type" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "scheduledState" : "ENABLED",
          "allowRemoteAccess" : false,
          "componentType" : "OUTPUT_PORT",
          "groupIdentifier" : "e0f0864a-911f-3cdf-8c70-41173f11e920"
        }, {
          "identifier" : "0f650541-e32f-38f0-8c2f-64a619cab2b5",
          "instanceIdentifier" : "38fcd7b6-63ee-3fa4-25d5-ec68b791663d",
          "name" : "SUCCESS",
          "comments" : "",
          "position" : {
            "x" : 2088.0,
            "y" : 952.0
          },
          "type" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "scheduledState" : "ENABLED",
          "allowRemoteAccess" : false,
          "componentType" : "OUTPUT_PORT",
          "groupIdentifier" : "e0f0864a-911f-3cdf-8c70-41173f11e920"
        } ],
        "connections" : [ {
          "identifier" : "da99788c-c3ba-30ee-a94e-c6d05eabb620",
          "instanceIdentifier" : "02ccc652-6158-33b2-70a6-937f6ccb8f45",
          "name" : "",
          "source" : {
            "id" : "b367e8e5-7489-3c52-975f-65033568b5d5",
            "type" : "PROCESSOR",
            "groupId" : "e0f0864a-911f-3cdf-8c70-41173f11e920",
            "name" : "Check index existence",
            "comments" : "",
            "instanceIdentifier" : "cb9bc88f-d0bd-3823-8d37-17e5458782e8"
          },
          "destination" : {
            "id" : "0f93f40b-2ce1-3065-8422-f5fbedfb245c",
            "type" : "FUNNEL",
            "groupId" : "e0f0864a-911f-3cdf-8c70-41173f11e920",
            "name" : "Funnel",
            "comments" : "",
            "instanceIdentifier" : "95c98f8a-82c3-3c2e-ddd3-7868f897fd56"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "Response", "Retry", "Failure" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "e0f0864a-911f-3cdf-8c70-41173f11e920"
        }, {
          "identifier" : "e1428c63-8bc9-3e66-9022-8f6a9e4fbcf2",
          "instanceIdentifier" : "d906ecd2-bf4e-3572-4e2c-97f9167cf02d",
          "name" : "",
          "source" : {
            "id" : "a2976d24-b125-30fb-9131-28ecbb229280",
            "type" : "PROCESSOR",
            "groupId" : "e0f0864a-911f-3cdf-8c70-41173f11e920",
            "name" : "Log info message",
            "comments" : "",
            "instanceIdentifier" : "5dfd8de6-84b1-3d87-f572-e45602685054"
          },
          "destination" : {
            "id" : "92197584-e3d1-371d-879f-b6b32ded38d4",
            "type" : "FUNNEL",
            "groupId" : "e0f0864a-911f-3cdf-8c70-41173f11e920",
            "name" : "Funnel",
            "comments" : "",
            "instanceIdentifier" : "5aae2c5b-bddd-316a-3a0d-476f68c838bf"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "e0f0864a-911f-3cdf-8c70-41173f11e920"
        }, {
          "identifier" : "c30f2f0b-0f3c-32e8-8b31-ca659811fd62",
          "instanceIdentifier" : "77e29b34-2345-3dda-4a2c-f915b0c39f9a",
          "name" : "",
          "source" : {
            "id" : "b367e8e5-7489-3c52-975f-65033568b5d5",
            "type" : "PROCESSOR",
            "groupId" : "e0f0864a-911f-3cdf-8c70-41173f11e920",
            "name" : "Check index existence",
            "comments" : "",
            "instanceIdentifier" : "cb9bc88f-d0bd-3823-8d37-17e5458782e8"
          },
          "destination" : {
            "id" : "a637ff17-1ca8-369e-a7a7-43b0d2b29c3f",
            "type" : "PROCESSOR",
            "groupId" : "e0f0864a-911f-3cdf-8c70-41173f11e920",
            "name" : "Populate SiteContent Index schema",
            "comments" : "",
            "instanceIdentifier" : "9b6ba65c-3fe1-364d-56f3-b8ab7a738b35"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "No Retry" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "e0f0864a-911f-3cdf-8c70-41173f11e920"
        }, {
          "identifier" : "845c7af7-5a55-30eb-9a5b-19b97b9cccac",
          "instanceIdentifier" : "046f5cb9-9485-373d-f0ff-d0c787d2c9a2",
          "name" : "",
          "source" : {
            "id" : "f343afbe-b4ca-30b8-9ce8-f7b13ba616af",
            "type" : "PROCESSOR",
            "groupId" : "e0f0864a-911f-3cdf-8c70-41173f11e920",
            "name" : "Set SiteContent index name",
            "comments" : "",
            "instanceIdentifier" : "713492c7-6859-3654-3909-ce4f720f97b8"
          },
          "destination" : {
            "id" : "b367e8e5-7489-3c52-975f-65033568b5d5",
            "type" : "PROCESSOR",
            "groupId" : "e0f0864a-911f-3cdf-8c70-41173f11e920",
            "name" : "Check index existence",
            "comments" : "",
            "instanceIdentifier" : "cb9bc88f-d0bd-3823-8d37-17e5458782e8"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "e0f0864a-911f-3cdf-8c70-41173f11e920"
        }, {
          "identifier" : "6fb5b68f-d7f1-3977-bb52-6bffc307ddc2",
          "instanceIdentifier" : "f462e205-06c8-35b5-ef45-331fa4dd6993",
          "name" : "",
          "source" : {
            "id" : "e2905576-112d-37f9-ba77-b62e5051fb5f",
            "type" : "PROCESSOR",
            "groupId" : "e0f0864a-911f-3cdf-8c70-41173f11e920",
            "name" : "PUT Elasticsearch",
            "comments" : "",
            "instanceIdentifier" : "1af49cb1-a9ce-32c2-5432-68d2bed3156e"
          },
          "destination" : {
            "id" : "a5c0263f-c889-3d85-bbd8-3665a80359d2",
            "type" : "PROCESSOR",
            "groupId" : "e0f0864a-911f-3cdf-8c70-41173f11e920",
            "name" : "Log error message",
            "comments" : "",
            "instanceIdentifier" : "1d8b3b44-d010-35d7-049a-994a1074bdab"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "No Retry", "Retry", "Failure" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "e0f0864a-911f-3cdf-8c70-41173f11e920"
        }, {
          "identifier" : "c6de2f09-c18f-32b8-884c-74243098d86d",
          "instanceIdentifier" : "7a9448c5-a4f4-3769-d331-6bb33fe8fff5",
          "name" : "",
          "source" : {
            "id" : "a5c0263f-c889-3d85-bbd8-3665a80359d2",
            "type" : "PROCESSOR",
            "groupId" : "e0f0864a-911f-3cdf-8c70-41173f11e920",
            "name" : "Log error message",
            "comments" : "",
            "instanceIdentifier" : "1d8b3b44-d010-35d7-049a-994a1074bdab"
          },
          "destination" : {
            "id" : "be943c76-399c-3881-a87a-00bb6d0bdef7",
            "type" : "FUNNEL",
            "groupId" : "e0f0864a-911f-3cdf-8c70-41173f11e920",
            "name" : "Funnel",
            "comments" : "",
            "instanceIdentifier" : "b4f765fc-cbfc-3e1e-bbdb-46b943d18cd5"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "e0f0864a-911f-3cdf-8c70-41173f11e920"
        }, {
          "identifier" : "cbd207c4-7ec6-3a56-a233-629798d84682",
          "instanceIdentifier" : "1d30126c-c35a-32b7-7192-6e89c2aa4a02",
          "name" : "",
          "source" : {
            "id" : "a637ff17-1ca8-369e-a7a7-43b0d2b29c3f",
            "type" : "PROCESSOR",
            "groupId" : "e0f0864a-911f-3cdf-8c70-41173f11e920",
            "name" : "Populate SiteContent Index schema",
            "comments" : "",
            "instanceIdentifier" : "9b6ba65c-3fe1-364d-56f3-b8ab7a738b35"
          },
          "destination" : {
            "id" : "e2905576-112d-37f9-ba77-b62e5051fb5f",
            "type" : "PROCESSOR",
            "groupId" : "e0f0864a-911f-3cdf-8c70-41173f11e920",
            "name" : "PUT Elasticsearch",
            "comments" : "",
            "instanceIdentifier" : "1af49cb1-a9ce-32c2-5432-68d2bed3156e"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "e0f0864a-911f-3cdf-8c70-41173f11e920"
        }, {
          "identifier" : "a5c6767a-9f3e-3d9d-8eea-3f182ddca5e3",
          "instanceIdentifier" : "9c865633-2dc9-35a3-2169-ed5bd77fecf9",
          "name" : "",
          "source" : {
            "id" : "e2905576-112d-37f9-ba77-b62e5051fb5f",
            "type" : "PROCESSOR",
            "groupId" : "e0f0864a-911f-3cdf-8c70-41173f11e920",
            "name" : "PUT Elasticsearch",
            "comments" : "",
            "instanceIdentifier" : "1af49cb1-a9ce-32c2-5432-68d2bed3156e"
          },
          "destination" : {
            "id" : "a2976d24-b125-30fb-9131-28ecbb229280",
            "type" : "PROCESSOR",
            "groupId" : "e0f0864a-911f-3cdf-8c70-41173f11e920",
            "name" : "Log info message",
            "comments" : "",
            "instanceIdentifier" : "5dfd8de6-84b1-3d87-f572-e45602685054"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "Response" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "e0f0864a-911f-3cdf-8c70-41173f11e920"
        }, {
          "identifier" : "f16baa07-b3b6-3978-b48f-23c1cbe61568",
          "instanceIdentifier" : "cd8ea48c-4954-3c82-33c2-936370772f37",
          "name" : "",
          "source" : {
            "id" : "be943c76-399c-3881-a87a-00bb6d0bdef7",
            "type" : "FUNNEL",
            "groupId" : "e0f0864a-911f-3cdf-8c70-41173f11e920",
            "name" : "Funnel",
            "comments" : "",
            "instanceIdentifier" : "b4f765fc-cbfc-3e1e-bbdb-46b943d18cd5"
          },
          "destination" : {
            "id" : "7ad0fdfa-e7aa-344b-a2e6-75e38e203568",
            "type" : "OUTPUT_PORT",
            "groupId" : "e0f0864a-911f-3cdf-8c70-41173f11e920",
            "name" : "ERROR",
            "comments" : "",
            "instanceIdentifier" : "ee5635fc-fe31-36a3-6e54-edb45c5849de"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "e0f0864a-911f-3cdf-8c70-41173f11e920"
        }, {
          "identifier" : "d83723a2-1b0f-3edb-bbe1-85b9f7d84150",
          "instanceIdentifier" : "bf5d86fa-b9a2-32e4-0dec-a9a279c9a388",
          "name" : "",
          "source" : {
            "id" : "92197584-e3d1-371d-879f-b6b32ded38d4",
            "type" : "FUNNEL",
            "groupId" : "e0f0864a-911f-3cdf-8c70-41173f11e920",
            "name" : "Funnel",
            "comments" : "",
            "instanceIdentifier" : "5aae2c5b-bddd-316a-3a0d-476f68c838bf"
          },
          "destination" : {
            "id" : "0f650541-e32f-38f0-8c2f-64a619cab2b5",
            "type" : "OUTPUT_PORT",
            "groupId" : "e0f0864a-911f-3cdf-8c70-41173f11e920",
            "name" : "SUCCESS",
            "comments" : "",
            "instanceIdentifier" : "38fcd7b6-63ee-3fa4-25d5-ec68b791663d"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "e0f0864a-911f-3cdf-8c70-41173f11e920"
        }, {
          "identifier" : "b70c4c8a-11a2-3be7-8f81-72b5e2e69664",
          "instanceIdentifier" : "a25e09af-cbaf-37f3-dd54-e36431c161a7",
          "name" : "",
          "source" : {
            "id" : "0f93f40b-2ce1-3065-8422-f5fbedfb245c",
            "type" : "FUNNEL",
            "groupId" : "e0f0864a-911f-3cdf-8c70-41173f11e920",
            "name" : "Funnel",
            "comments" : "",
            "instanceIdentifier" : "95c98f8a-82c3-3c2e-ddd3-7868f897fd56"
          },
          "destination" : {
            "id" : "92197584-e3d1-371d-879f-b6b32ded38d4",
            "type" : "FUNNEL",
            "groupId" : "e0f0864a-911f-3cdf-8c70-41173f11e920",
            "name" : "Funnel",
            "comments" : "",
            "instanceIdentifier" : "5aae2c5b-bddd-316a-3a0d-476f68c838bf"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "e0f0864a-911f-3cdf-8c70-41173f11e920"
        }, {
          "identifier" : "6388e1fb-5c0b-34ba-a641-f474059abf66",
          "instanceIdentifier" : "9389411c-9a39-3cb4-4549-a26266b5ee03",
          "name" : "",
          "source" : {
            "id" : "a2976d24-b125-30fb-9131-28ecbb229280",
            "type" : "PROCESSOR",
            "groupId" : "e0f0864a-911f-3cdf-8c70-41173f11e920",
            "name" : "Log info message",
            "comments" : "",
            "instanceIdentifier" : "5dfd8de6-84b1-3d87-f572-e45602685054"
          },
          "destination" : {
            "id" : "be943c76-399c-3881-a87a-00bb6d0bdef7",
            "type" : "FUNNEL",
            "groupId" : "e0f0864a-911f-3cdf-8c70-41173f11e920",
            "name" : "Funnel",
            "comments" : "",
            "instanceIdentifier" : "b4f765fc-cbfc-3e1e-bbdb-46b943d18cd5"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "e0f0864a-911f-3cdf-8c70-41173f11e920"
        }, {
          "identifier" : "00832ad5-2e4e-3d93-b028-ffbc4586d048",
          "instanceIdentifier" : "655dd025-471e-32ff-ed4f-2db0c6c2901b",
          "name" : "",
          "source" : {
            "id" : "b9cee984-903d-36cf-af83-ae94e9b38d95",
            "type" : "INPUT_PORT",
            "groupId" : "e0f0864a-911f-3cdf-8c70-41173f11e920",
            "name" : "INPUT",
            "comments" : "",
            "instanceIdentifier" : "25c408bf-0305-3e8b-b29a-65e99dd6501e"
          },
          "destination" : {
            "id" : "f343afbe-b4ca-30b8-9ce8-f7b13ba616af",
            "type" : "PROCESSOR",
            "groupId" : "e0f0864a-911f-3cdf-8c70-41173f11e920",
            "name" : "Set SiteContent index name",
            "comments" : "",
            "instanceIdentifier" : "713492c7-6859-3654-3909-ce4f720f97b8"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "e0f0864a-911f-3cdf-8c70-41173f11e920"
        } ],
        "labels" : [ {
          "identifier" : "3f373638-6388-3a04-b572-6fa14c001533",
          "instanceIdentifier" : "b2fd4a38-2daa-3988-84c0-58813c452564",
          "position" : {
            "x" : -1936.0,
            "y" : 384.0
          },
          "label" : "Setup Elasticsearch Index Schema",
          "zIndex" : 0,
          "width" : 4504.0,
          "height" : 768.0,
          "style" : {
            "background-color" : "#ffffff",
            "font-size" : "24px"
          },
          "componentType" : "LABEL",
          "groupIdentifier" : "e0f0864a-911f-3cdf-8c70-41173f11e920"
        } ],
        "funnels" : [ {
          "identifier" : "92197584-e3d1-371d-879f-b6b32ded38d4",
          "instanceIdentifier" : "5aae2c5b-bddd-316a-3a0d-476f68c838bf",
          "position" : {
            "x" : 1368.0,
            "y" : 1024.0
          },
          "componentType" : "FUNNEL",
          "groupIdentifier" : "e0f0864a-911f-3cdf-8c70-41173f11e920"
        }, {
          "identifier" : "0f93f40b-2ce1-3065-8422-f5fbedfb245c",
          "instanceIdentifier" : "95c98f8a-82c3-3c2e-ddd3-7868f897fd56",
          "position" : {
            "x" : -768.0,
            "y" : 1032.0
          },
          "componentType" : "FUNNEL",
          "groupIdentifier" : "e0f0864a-911f-3cdf-8c70-41173f11e920"
        }, {
          "identifier" : "be943c76-399c-3881-a87a-00bb6d0bdef7",
          "instanceIdentifier" : "b4f765fc-cbfc-3e1e-bbdb-46b943d18cd5",
          "position" : {
            "x" : 1328.0,
            "y" : 584.0
          },
          "componentType" : "FUNNEL",
          "groupIdentifier" : "e0f0864a-911f-3cdf-8c70-41173f11e920"
        } ],
        "controllerServices" : [ ],
        "variables" : { },
        "defaultFlowFileExpiration" : "0 sec",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "componentType" : "PROCESS_GROUP",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "groupIdentifier" : "47f84faa-dea2-3006-b82d-f3946aa0f362"
      } ],
      "remoteProcessGroups" : [ {
        "identifier" : "1bda3d4a-d225-3e48-90f7-d224fcce99a9",
        "instanceIdentifier" : "379fd9c6-281a-3910-f487-8901757ef6ee",
        "name" : "NiFi Flow",
        "comments" : "",
        "position" : {
          "x" : 440.0,
          "y" : -824.0
        },
        "targetUri" : "http://localhost:30600/nifi",
        "targetUris" : "http://localhost:30600/nifi",
        "communicationsTimeout" : "30 sec",
        "yieldDuration" : "10 sec",
        "transportProtocol" : "RAW",
        "proxyHost" : "",
        "proxyUser" : "",
        "inputPorts" : [ {
          "identifier" : "470b378e-3957-39f2-957b-9de3a5dcf064",
          "instanceIdentifier" : "187de9d2-df5e-32e6-89d3-4ea7fa4cdc30",
          "name" : "Bulk Description INPUT",
          "remoteGroupId" : "1bda3d4a-d225-3e48-90f7-d224fcce99a9",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "e046867f-0181-1000-faca-4daccda092e3",
          "scheduledState" : "ENABLED",
          "groupIdentifier" : "1bda3d4a-d225-3e48-90f7-d224fcce99a9"
        }, {
          "identifier" : "7409b9cf-7a9b-35b5-9bdb-82b24c885e21",
          "instanceIdentifier" : "c768799c-2a49-314a-3bef-eea3f5271cd6",
          "name" : "Routing INPUT",
          "comments" : "",
          "remoteGroupId" : "1bda3d4a-d225-3e48-90f7-d224fcce99a9",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "f149f53d-34d3-3102-2b9c-08798f9838b4",
          "scheduledState" : "ENABLED",
          "groupIdentifier" : "1bda3d4a-d225-3e48-90f7-d224fcce99a9"
        }, {
          "identifier" : "30883e79-59d4-3be6-bdd8-8c69347a7f58",
          "instanceIdentifier" : "99620c6a-08b9-347a-3660-c2ad3285d099",
          "name" : "Bulk Inventory INPUT",
          "remoteGroupId" : "1bda3d4a-d225-3e48-90f7-d224fcce99a9",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "e0468784-0181-1000-941e-726a0b93b332",
          "scheduledState" : "ENABLED",
          "groupIdentifier" : "1bda3d4a-d225-3e48-90f7-d224fcce99a9"
        }, {
          "identifier" : "7b1867f9-bdbb-3fcf-aa2e-63dd7f49a0ca",
          "instanceIdentifier" : "c151adc3-d84e-3524-5965-722bc13d51ec",
          "name" : "Bulk Catalog INPUT",
          "remoteGroupId" : "1bda3d4a-d225-3e48-90f7-d224fcce99a9",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "e046840d-0181-1000-3195-9eb0b9cbffb1",
          "scheduledState" : "ENABLED",
          "groupIdentifier" : "1bda3d4a-d225-3e48-90f7-d224fcce99a9"
        }, {
          "identifier" : "0f0f605b-d260-344a-b1b1-5cd9b3bde174",
          "instanceIdentifier" : "de3e5b92-3b30-3e0e-ecb7-98169c04f800",
          "name" : "Run INPUT",
          "remoteGroupId" : "1bda3d4a-d225-3e48-90f7-d224fcce99a9",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "e0468247-0181-1000-0d0f-f13cb7130926",
          "scheduledState" : "ENABLED",
          "groupIdentifier" : "1bda3d4a-d225-3e48-90f7-d224fcce99a9"
        }, {
          "identifier" : "4661e27a-e54e-3adb-9b28-907341bd391f",
          "instanceIdentifier" : "a296d7dd-381f-3ba2-2f4b-5475c8654aa7",
          "name" : "Logger INPUT",
          "remoteGroupId" : "1bda3d4a-d225-3e48-90f7-d224fcce99a9",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "e0468167-0181-1000-56a8-d878f717cb2e",
          "scheduledState" : "ENABLED",
          "groupIdentifier" : "1bda3d4a-d225-3e48-90f7-d224fcce99a9"
        }, {
          "identifier" : "e48e544c-5a75-3e9d-8c19-4721043b3c10",
          "instanceIdentifier" : "b0102e5b-a8af-3eec-5bd1-90fab9905e3e",
          "name" : "Bulk Price INPUT",
          "remoteGroupId" : "1bda3d4a-d225-3e48-90f7-d224fcce99a9",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "e0468702-0181-1000-6a5f-11f4bdb9c4fc",
          "scheduledState" : "ENABLED",
          "groupIdentifier" : "1bda3d4a-d225-3e48-90f7-d224fcce99a9"
        }, {
          "identifier" : "4b29f0cb-155d-35bf-b4cb-37d74344bb9d",
          "instanceIdentifier" : "99dfd017-6836-39c3-56e7-923787c8cde6",
          "name" : "Bulk Category INPUT",
          "remoteGroupId" : "1bda3d4a-d225-3e48-90f7-d224fcce99a9",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "e046852d-0181-1000-013c-dd43dd522e01",
          "scheduledState" : "ENABLED",
          "groupIdentifier" : "1bda3d4a-d225-3e48-90f7-d224fcce99a9"
        }, {
          "identifier" : "1efdf1ff-0647-3434-9294-a1fb9496a101",
          "instanceIdentifier" : "ebc1923a-ac16-3e20-a34b-5e608909c3bc",
          "name" : "Bulk Product INPUT",
          "remoteGroupId" : "1bda3d4a-d225-3e48-90f7-d224fcce99a9",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "e04685ea-0181-1000-3d58-6544d1892157",
          "scheduledState" : "ENABLED",
          "groupIdentifier" : "1bda3d4a-d225-3e48-90f7-d224fcce99a9"
        }, {
          "identifier" : "da39da02-af88-37af-b7b9-cfdea2ea4c12",
          "instanceIdentifier" : "f7a63110-ccb9-3dba-437c-748aa8b7b367",
          "name" : "Terminal INPUT",
          "remoteGroupId" : "1bda3d4a-d225-3e48-90f7-d224fcce99a9",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "e04682d5-0181-1000-9dd0-2d2f8789a615",
          "scheduledState" : "ENABLED",
          "groupIdentifier" : "1bda3d4a-d225-3e48-90f7-d224fcce99a9"
        }, {
          "identifier" : "6fa83633-c8b7-3324-9c76-28e1a1cde8eb",
          "instanceIdentifier" : "399e1c53-4ed5-31a8-f7b5-212acfe79ca3",
          "name" : "Bulk Attribute INPUT",
          "remoteGroupId" : "1bda3d4a-d225-3e48-90f7-d224fcce99a9",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "e04684b0-0181-1000-64d9-bd9a3780d901",
          "scheduledState" : "ENABLED",
          "groupIdentifier" : "1bda3d4a-d225-3e48-90f7-d224fcce99a9"
        }, {
          "identifier" : "01c2c6c0-d160-3647-8079-47f271807d34",
          "instanceIdentifier" : "fd04444d-2ee2-31ab-f6b6-e8e3c29ff9d7",
          "name" : "Bulk Dataload INPUT",
          "remoteGroupId" : "1bda3d4a-d225-3e48-90f7-d224fcce99a9",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "e0468880-0181-1000-7beb-097a1d63233d",
          "scheduledState" : "ENABLED",
          "groupIdentifier" : "1bda3d4a-d225-3e48-90f7-d224fcce99a9"
        }, {
          "identifier" : "15e679fb-4211-3fe3-99d1-91f43a4625a0",
          "instanceIdentifier" : "95bb9618-97a6-325f-6124-cc5203061b65",
          "name" : "Bulk Store INPUT",
          "remoteGroupId" : "1bda3d4a-d225-3e48-90f7-d224fcce99a9",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "e046837d-0181-1000-dada-46d73289577d",
          "scheduledState" : "ENABLED",
          "groupIdentifier" : "1bda3d4a-d225-3e48-90f7-d224fcce99a9"
        }, {
          "identifier" : "8e11e30d-fc59-3674-93af-ef7d8666d44f",
          "instanceIdentifier" : "d4781139-d33a-37f8-763b-9c024f677df1",
          "name" : "Bulk URL INPUT",
          "remoteGroupId" : "1bda3d4a-d225-3e48-90f7-d224fcce99a9",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "e0468806-0181-1000-a248-6dca4d413193",
          "scheduledState" : "ENABLED",
          "groupIdentifier" : "1bda3d4a-d225-3e48-90f7-d224fcce99a9"
        } ],
        "outputPorts" : [ ],
        "componentType" : "REMOTE_PROCESS_GROUP",
        "groupIdentifier" : "47f84faa-dea2-3006-b82d-f3946aa0f362"
      } ],
      "processors" : [ ],
      "inputPorts" : [ {
        "identifier" : "30692f11-ed97-35b6-ac43-6daca9a338be",
        "instanceIdentifier" : "824b2824-0894-31ec-a9ab-86ebf642c487",
        "name" : "INPUT",
        "comments" : "",
        "position" : {
          "x" : 1224.0,
          "y" : -968.0
        },
        "type" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "scheduledState" : "ENABLED",
        "allowRemoteAccess" : false,
        "componentType" : "INPUT_PORT",
        "groupIdentifier" : "47f84faa-dea2-3006-b82d-f3946aa0f362"
      } ],
      "outputPorts" : [ {
        "identifier" : "e4a2052e-140e-32ac-ad05-ea3c70c841ef",
        "instanceIdentifier" : "70563315-2364-3e7a-c6f5-5b6e0a0c154d",
        "name" : "OUTPUT",
        "comments" : "",
        "position" : {
          "x" : 1224.0,
          "y" : -520.0
        },
        "type" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "scheduledState" : "ENABLED",
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "groupIdentifier" : "47f84faa-dea2-3006-b82d-f3946aa0f362"
      } ],
      "connections" : [ {
        "identifier" : "c5905c2c-d84e-353f-a486-f48794e72b88",
        "instanceIdentifier" : "96b7aee8-c2f9-35ba-81a4-cb862032fc11",
        "name" : "",
        "source" : {
          "id" : "0f650541-e32f-38f0-8c2f-64a619cab2b5",
          "type" : "OUTPUT_PORT",
          "groupId" : "e0f0864a-911f-3cdf-8c70-41173f11e920",
          "name" : "SUCCESS",
          "comments" : "",
          "instanceIdentifier" : "38fcd7b6-63ee-3fa4-25d5-ec68b791663d"
        },
        "destination" : {
          "id" : "e4a2052e-140e-32ac-ad05-ea3c70c841ef",
          "type" : "OUTPUT_PORT",
          "groupId" : "47f84faa-dea2-3006-b82d-f3946aa0f362",
          "name" : "OUTPUT",
          "comments" : "",
          "instanceIdentifier" : "70563315-2364-3e7a-c6f5-5b6e0a0c154d"
        },
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "" ],
        "backPressureObjectThreshold" : 10000,
        "backPressureDataSizeThreshold" : "1 GB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ ],
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute" : "",
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "componentType" : "CONNECTION",
        "groupIdentifier" : "47f84faa-dea2-3006-b82d-f3946aa0f362"
      }, {
        "identifier" : "558b3293-cc80-338d-a48f-9367cb28330d",
        "instanceIdentifier" : "2332e2d5-a802-30b3-7542-53181ee848ee",
        "name" : "",
        "source" : {
          "id" : "30692f11-ed97-35b6-ac43-6daca9a338be",
          "type" : "INPUT_PORT",
          "groupId" : "47f84faa-dea2-3006-b82d-f3946aa0f362",
          "name" : "INPUT",
          "comments" : "",
          "instanceIdentifier" : "824b2824-0894-31ec-a9ab-86ebf642c487"
        },
        "destination" : {
          "id" : "b9cee984-903d-36cf-af83-ae94e9b38d95",
          "type" : "INPUT_PORT",
          "groupId" : "e0f0864a-911f-3cdf-8c70-41173f11e920",
          "name" : "INPUT",
          "comments" : "",
          "instanceIdentifier" : "25c408bf-0305-3e8b-b29a-65e99dd6501e"
        },
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "" ],
        "backPressureObjectThreshold" : 10000,
        "backPressureDataSizeThreshold" : "1 GB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ ],
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute" : "",
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "componentType" : "CONNECTION",
        "groupIdentifier" : "47f84faa-dea2-3006-b82d-f3946aa0f362"
      }, {
        "identifier" : "dad82395-2a18-3b3f-8e6f-ce8dcf64e202",
        "instanceIdentifier" : "3e311e1f-eb7c-3384-cac8-ade7967814cf",
        "name" : "",
        "source" : {
          "id" : "7ad0fdfa-e7aa-344b-a2e6-75e38e203568",
          "type" : "OUTPUT_PORT",
          "groupId" : "e0f0864a-911f-3cdf-8c70-41173f11e920",
          "name" : "ERROR",
          "comments" : "",
          "instanceIdentifier" : "ee5635fc-fe31-36a3-6e54-edb45c5849de"
        },
        "destination" : {
          "id" : "4661e27a-e54e-3adb-9b28-907341bd391f",
          "type" : "REMOTE_INPUT_PORT",
          "groupId" : "1bda3d4a-d225-3e48-90f7-d224fcce99a9",
          "name" : "Logger INPUT",
          "instanceIdentifier" : "a296d7dd-381f-3ba2-2f4b-5475c8654aa7"
        },
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "" ],
        "backPressureObjectThreshold" : 10000,
        "backPressureDataSizeThreshold" : "1 GB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ ],
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute" : "",
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "componentType" : "CONNECTION",
        "groupIdentifier" : "47f84faa-dea2-3006-b82d-f3946aa0f362"
      } ],
      "labels" : [ {
        "identifier" : "85fed6f1-8bc4-3dd0-8064-5347410f55dd",
        "instanceIdentifier" : "276f80cf-844a-345c-9fab-b0c458ac3251",
        "position" : {
          "x" : 360.0,
          "y" : -896.0
        },
        "label" : "StaticContent Schema",
        "zIndex" : 0,
        "width" : 1256.0,
        "height" : 336.0,
        "style" : {
          "background-color" : "#ffffff",
          "font-size" : "24px"
        },
        "componentType" : "LABEL",
        "groupIdentifier" : "47f84faa-dea2-3006-b82d-f3946aa0f362"
      } ],
      "funnels" : [ ],
      "controllerServices" : [ ],
      "variables" : { },
      "defaultFlowFileExpiration" : "0 sec",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "componentType" : "PROCESS_GROUP",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "groupIdentifier" : "6339114a-76dd-355a-9126-6d62fbbbd895"
    } ],
    "remoteProcessGroups" : [ ],
    "processors" : [ ],
    "inputPorts" : [ {
      "identifier" : "92910a22-d383-38af-a60b-33083afb23e8",
      "instanceIdentifier" : "cd859c43-e1ee-3526-fd0d-4e0a9ef650df",
      "name" : "INPUT",
      "comments" : "",
      "position" : {
        "x" : 2528.0,
        "y" : -680.0
      },
      "type" : "INPUT_PORT",
      "concurrentlySchedulableTaskCount" : 1,
      "scheduledState" : "ENABLED",
      "allowRemoteAccess" : false,
      "componentType" : "INPUT_PORT",
      "groupIdentifier" : "6339114a-76dd-355a-9126-6d62fbbbd895"
    } ],
    "outputPorts" : [ {
      "identifier" : "aa9d8145-6b6e-33ea-9dab-b5793fa454e9",
      "instanceIdentifier" : "78949554-27e6-3ac1-72e1-693b077a1893",
      "name" : "OUTPUT",
      "comments" : "",
      "position" : {
        "x" : 2528.0,
        "y" : 24.0
      },
      "type" : "OUTPUT_PORT",
      "concurrentlySchedulableTaskCount" : 1,
      "scheduledState" : "ENABLED",
      "allowRemoteAccess" : false,
      "componentType" : "OUTPUT_PORT",
      "groupIdentifier" : "6339114a-76dd-355a-9126-6d62fbbbd895"
    } ],
    "connections" : [ {
      "identifier" : "fff6efd2-7dd1-3f76-84e9-bbd0b8c5ad42",
      "instanceIdentifier" : "462830ba-25e1-3fba-dd55-1b4b1976ca62",
      "name" : "",
      "source" : {
        "id" : "e4a2052e-140e-32ac-ad05-ea3c70c841ef",
        "type" : "OUTPUT_PORT",
        "groupId" : "47f84faa-dea2-3006-b82d-f3946aa0f362",
        "name" : "OUTPUT",
        "comments" : "",
        "instanceIdentifier" : "70563315-2364-3e7a-c6f5-5b6e0a0c154d"
      },
      "destination" : {
        "id" : "aa9d8145-6b6e-33ea-9dab-b5793fa454e9",
        "type" : "OUTPUT_PORT",
        "groupId" : "6339114a-76dd-355a-9126-6d62fbbbd895",
        "name" : "OUTPUT",
        "comments" : "",
        "instanceIdentifier" : "78949554-27e6-3ac1-72e1-693b077a1893"
      },
      "labelIndex" : 1,
      "zIndex" : 0,
      "selectedRelationships" : [ "" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "6339114a-76dd-355a-9126-6d62fbbbd895"
    }, {
      "identifier" : "498bdd38-db46-35c1-a636-cb5bf562fead",
      "instanceIdentifier" : "a650fbff-f960-3143-deee-28c675a75f8c",
      "name" : "",
      "source" : {
        "id" : "92910a22-d383-38af-a60b-33083afb23e8",
        "type" : "INPUT_PORT",
        "groupId" : "6339114a-76dd-355a-9126-6d62fbbbd895",
        "name" : "INPUT",
        "comments" : "",
        "instanceIdentifier" : "cd859c43-e1ee-3526-fd0d-4e0a9ef650df"
      },
      "destination" : {
        "id" : "30692f11-ed97-35b6-ac43-6daca9a338be",
        "type" : "INPUT_PORT",
        "groupId" : "47f84faa-dea2-3006-b82d-f3946aa0f362",
        "name" : "INPUT",
        "comments" : "",
        "instanceIdentifier" : "824b2824-0894-31ec-a9ab-86ebf642c487"
      },
      "labelIndex" : 1,
      "zIndex" : 0,
      "selectedRelationships" : [ "" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "6339114a-76dd-355a-9126-6d62fbbbd895"
    } ],
    "labels" : [ {
      "identifier" : "9f5d1cc0-aeec-3f39-8bbf-a1756d982814",
      "instanceIdentifier" : "2d56c70e-bc1d-3ff3-44e8-cf76c8c25146",
      "position" : {
        "x" : 2384.0,
        "y" : -464.0
      },
      "label" : "SiteContent Schema",
      "zIndex" : 0,
      "width" : 528.0,
      "height" : 328.0,
      "style" : {
        "background-color" : "#cceeff",
        "font-size" : "24px"
      },
      "componentType" : "LABEL",
      "groupIdentifier" : "6339114a-76dd-355a-9126-6d62fbbbd895"
    } ],
    "funnels" : [ ],
    "controllerServices" : [ ],
    "variables" : {
      "pipe.name" : "custom-crawl-SiteContentIndexSchemaUpdate",
      "connector.name" : "auth.sitecontent"
    },
    "defaultFlowFileExpiration" : "0 sec",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "componentType" : "PROCESS_GROUP",
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE"
  },
  "externalControllerServices" : { },
  "parameterContexts" : { },
  "flowEncodingVersion" : "1.0"
}