Search_SiteContentPages/Backend/Search-registry-app/custom-crawl-SiteContentIndexDatabaseConnectorPipe-Attachment.json
{
  "snapshotMetadata" : {
    "version" : 1,
    "timestamp" : 1672738320784,
    "author" : "anonymous",
    "comments" : ""
  },
  "flowContents" : {
    "identifier" : "7b41b213-a11a-39fe-9db3-7438c82ccb8e",
    "instanceIdentifier" : "3d8f4140-5437-1fbf-cded-9269b4a2b84f",
    "name" : "auth.sitecontent - custom-crawl-SiteContentIndexDatabaseConnectorPipe-Attachment",
    "comments" : "{\n  \"version\": \"9.1.5.0\",\n  \"level\": \"9.1/search-registry-app=v9-1-5-0\"\n}",
    "position" : {
      "x" : 17050.0,
      "y" : 1050.0
    },
    "processGroups" : [ {
      "identifier" : "81421b2b-3f72-3b58-9dd2-fd69e95ede58",
      "instanceIdentifier" : "28dc0003-67f6-398b-deaa-18a4ec77d3f0",
      "name" : "Custom Connector Pipe",
      "comments" : "",
      "position" : {
        "x" : 1880.0,
        "y" : -368.0
      },
      "processGroups" : [ {
        "identifier" : "787963c7-6edf-3491-b3b7-cd41d33adf8e",
        "instanceIdentifier" : "e9d3778a-bf47-3455-f02e-e81510458c48",
        "name" : "CrawlContent",
        "comments" : "",
        "position" : {
          "x" : 1800.0,
          "y" : -824.0
        },
        "processGroups" : [ ],
        "remoteProcessGroups" : [ ],
        "processors" : [ {
          "identifier" : "a6284321-7c0d-373f-a7f2-1201db09eaa5",
          "instanceIdentifier" : "3d8f414c-5437-1fbf-f388-9a96fd28d938",
          "name" : "EvaluateJsonPath",
          "comments" : "",
          "position" : {
            "x" : 6368.0,
            "y" : 3000.0
          },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.16.2"
          },
          "properties" : {
            "Destination" : "flowfile-attribute",
            "urlhost" : "$.HOSTNAME",
            "urlpath" : "$.URLKEYWORD",
            "Return Type" : "auto-detect",
            "Null Value Representation" : "empty string",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "name" : "Destination",
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "urlhost" : {
              "name" : "urlhost",
              "displayName" : "urlhost",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "urlpath" : {
              "name" : "urlpath",
              "displayName" : "urlpath",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Return Type" : {
              "name" : "Return Type",
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Null Value Representation" : {
              "name" : "Null Value Representation",
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "name" : "Path Not Found Behavior",
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "style" : { },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "retryCount" : 10,
          "retriedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "maxBackoffPeriod" : "10 mins",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "787963c7-6edf-3491-b3b7-cd41d33adf8e"
        }, {
          "identifier" : "f9a8b7db-1e8b-3254-8b52-5c93ae45ec66",
          "instanceIdentifier" : "3d8f4151-5437-1fbf-f1a6-a6196fd06f8b",
          "name" : "Log failures",
          "comments" : "",
          "position" : {
            "x" : 7771.809565810996,
            "y" : 3322.7207649647808
          },
          "type" : "org.apache.nifi.processors.standard.LogAttribute",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.16.2"
          },
          "properties" : {
            "character-set" : "UTF-8",
            "Log FlowFile Properties" : "true",
            "Log Level" : "info",
            "attributes-to-log-regex" : ".*",
            "Output Format" : "Line per Attribute",
            "Log Payload" : "false"
          },
          "propertyDescriptors" : {
            "Log prefix" : {
              "name" : "Log prefix",
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "character-set" : {
              "name" : "character-set",
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Log FlowFile Properties" : {
              "name" : "Log FlowFile Properties",
              "displayName" : "Log FlowFile Properties",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Log Level" : {
              "name" : "Log Level",
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "attributes-to-ignore-regex" : {
              "name" : "attributes-to-ignore-regex",
              "displayName" : "Attributes to Ignore by Regular Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Attributes to Ignore" : {
              "name" : "Attributes to Ignore",
              "displayName" : "Attributes to Ignore",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Attributes to Log" : {
              "name" : "Attributes to Log",
              "displayName" : "Attributes to Log",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "attributes-to-log-regex" : {
              "name" : "attributes-to-log-regex",
              "displayName" : "Attributes to Log by Regular Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Output Format" : {
              "name" : "Output Format",
              "displayName" : "Output Format",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Log Payload" : {
              "name" : "Log Payload",
              "displayName" : "Log Payload",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "style" : { },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ "success" ],
          "scheduledState" : "ENABLED",
          "retryCount" : 10,
          "retriedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "maxBackoffPeriod" : "10 mins",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "787963c7-6edf-3491-b3b7-cd41d33adf8e"
        }, {
          "identifier" : "8b421a51-bd42-3f80-93cf-7f7f5307cfcc",
          "instanceIdentifier" : "3d8f4150-5437-1fbf-3043-a089366405e2",
          "name" : "Replace filename",
          "comments" : "",
          "position" : {
            "x" : 8443.809565810996,
            "y" : 2994.7207649647808
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.16.2"
          },
          "properties" : {
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "updatedFileName" : "${url:replaceAll\n ('/', '__')}"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "updatedFileName" : {
              "name" : "updatedFileName",
              "displayName" : "updatedFileName",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "style" : { },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "retryCount" : 10,
          "retriedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "maxBackoffPeriod" : "10 mins",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "787963c7-6edf-3491-b3b7-cd41d33adf8e"
        }, {
          "identifier" : "22e21f31-107a-3775-8d4d-559d2bbd807f",
          "instanceIdentifier" : "3d8f414f-5437-1fbf-7c65-ac875b5882cf",
          "name" : "Update filename",
          "comments" : "",
          "position" : {
            "x" : 9123.809565810996,
            "y" : 2986.7207649647808
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.16.2"
          },
          "properties" : {
            "filename" : "${updatedFileName}",
            "filepath" : "/opt/nifi/extDocs/",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "fileABSPath" : "/opt/nifi/extDocs/${updatedFileName}"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "filename" : {
              "name" : "filename",
              "displayName" : "filename",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "filepath" : {
              "name" : "filepath",
              "displayName" : "filepath",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "fileABSPath" : {
              "name" : "fileABSPath",
              "displayName" : "fileABSPath",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "style" : { },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "retryCount" : 10,
          "retriedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "maxBackoffPeriod" : "10 mins",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "787963c7-6edf-3491-b3b7-cd41d33adf8e"
        }, {
          "identifier" : "cef0b929-aedf-361a-b3c8-15eb951a7128",
          "instanceIdentifier" : "3d8f4152-5437-1fbf-7587-c422f8f3a5ce",
          "name" : "Log failures",
          "comments" : "",
          "position" : {
            "x" : 5203.809565810996,
            "y" : 3362.7207649647808
          },
          "type" : "org.apache.nifi.processors.standard.LogAttribute",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.16.2"
          },
          "properties" : {
            "character-set" : "UTF-8",
            "Log FlowFile Properties" : "true",
            "Log Level" : "info",
            "attributes-to-log-regex" : ".*",
            "Output Format" : "Line per Attribute",
            "Log Payload" : "false"
          },
          "propertyDescriptors" : {
            "Log prefix" : {
              "name" : "Log prefix",
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "character-set" : {
              "name" : "character-set",
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Log FlowFile Properties" : {
              "name" : "Log FlowFile Properties",
              "displayName" : "Log FlowFile Properties",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Log Level" : {
              "name" : "Log Level",
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "attributes-to-ignore-regex" : {
              "name" : "attributes-to-ignore-regex",
              "displayName" : "Attributes to Ignore by Regular Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Attributes to Ignore" : {
              "name" : "Attributes to Ignore",
              "displayName" : "Attributes to Ignore",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Attributes to Log" : {
              "name" : "Attributes to Log",
              "displayName" : "Attributes to Log",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "attributes-to-log-regex" : {
              "name" : "attributes-to-log-regex",
              "displayName" : "Attributes to Log by Regular Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Output Format" : {
              "name" : "Output Format",
              "displayName" : "Output Format",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Log Payload" : {
              "name" : "Log Payload",
              "displayName" : "Log Payload",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "style" : { },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ "success" ],
          "scheduledState" : "ENABLED",
          "retryCount" : 10,
          "retriedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "maxBackoffPeriod" : "10 mins",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "787963c7-6edf-3491-b3b7-cd41d33adf8e"
        }, {
          "identifier" : "23ddd6e7-5ba1-32ac-8193-4a88f9126151",
          "instanceIdentifier" : "3d8f414e-5437-1fbf-9f0a-d2e6cd29104f",
          "name" : "Log failures",
          "comments" : "",
          "position" : {
            "x" : 6939.809565810996,
            "y" : 3346.7207649647808
          },
          "type" : "org.apache.nifi.processors.standard.LogAttribute",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.16.2"
          },
          "properties" : {
            "character-set" : "UTF-8",
            "Log FlowFile Properties" : "true",
            "Log Level" : "info",
            "attributes-to-log-regex" : ".*",
            "Output Format" : "Line per Attribute",
            "Log Payload" : "false"
          },
          "propertyDescriptors" : {
            "Log prefix" : {
              "name" : "Log prefix",
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "character-set" : {
              "name" : "character-set",
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Log FlowFile Properties" : {
              "name" : "Log FlowFile Properties",
              "displayName" : "Log FlowFile Properties",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Log Level" : {
              "name" : "Log Level",
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "attributes-to-ignore-regex" : {
              "name" : "attributes-to-ignore-regex",
              "displayName" : "Attributes to Ignore by Regular Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Attributes to Ignore" : {
              "name" : "Attributes to Ignore",
              "displayName" : "Attributes to Ignore",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Attributes to Log" : {
              "name" : "Attributes to Log",
              "displayName" : "Attributes to Log",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "attributes-to-log-regex" : {
              "name" : "attributes-to-log-regex",
              "displayName" : "Attributes to Log by Regular Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Output Format" : {
              "name" : "Output Format",
              "displayName" : "Output Format",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Log Payload" : {
              "name" : "Log Payload",
              "displayName" : "Log Payload",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "style" : { },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ "success" ],
          "scheduledState" : "ENABLED",
          "retryCount" : 10,
          "retriedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "maxBackoffPeriod" : "10 mins",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "787963c7-6edf-3491-b3b7-cd41d33adf8e"
        }, {
          "identifier" : "5100239f-405f-374a-abc2-afc066400233",
          "instanceIdentifier" : "3d8f4153-5437-1fbf-9747-777e14f33ff9",
          "name" : "SplitJson",
          "comments" : "",
          "position" : {
            "x" : 5603.809565810996,
            "y" : 3002.7207649647808
          },
          "type" : "org.apache.nifi.processors.standard.SplitJson",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.16.2"
          },
          "properties" : {
            "Null Value Representation" : "empty string",
            "JsonPath Expression" : "$"
          },
          "propertyDescriptors" : {
            "Null Value Representation" : {
              "name" : "Null Value Representation",
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "JsonPath Expression" : {
              "name" : "JsonPath Expression",
              "displayName" : "JsonPath Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "style" : { },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "retryCount" : 10,
          "retriedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "maxBackoffPeriod" : "10 mins",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "787963c7-6edf-3491-b3b7-cd41d33adf8e"
        }, {
          "identifier" : "f3ca921f-e3c0-3f53-b84e-97c13969364d",
          "instanceIdentifier" : "3d8f4155-5437-1fbf-aca9-bfdf04ab4617",
          "name" : "UpdateAttribute",
          "comments" : "",
          "position" : {
            "x" : 7139.809565810996,
            "y" : 2994.7207649647808
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.16.2"
          },
          "properties" : {
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "url" : "${urlhost}/${urlpath}"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "url" : {
              "name" : "url",
              "displayName" : "url",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "style" : { },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "retryCount" : 10,
          "retriedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "maxBackoffPeriod" : "10 mins",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "787963c7-6edf-3491-b3b7-cd41d33adf8e"
        }, {
          "identifier" : "4e12f5f7-598b-3694-9731-b1fcde998898",
          "instanceIdentifier" : "3d8f4154-5437-1fbf-3acd-c1987e779af2",
          "name" : "ExecuteStreamCommand",
          "comments" : "",
          "position" : {
            "x" : 7771.809565810996,
            "y" : 2994.7207649647808
          },
          "type" : "org.apache.nifi.processors.standard.ExecuteStreamCommand",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.16.2"
          },
          "properties" : {
            "argumentsStrategy" : "Command Arguments Property",
            "Max Attribute Length" : "256",
            "Command Path" : "/usr/bin/node",
            "Output Destination Attribute" : "data",
            "Argument Delimiter" : ";",
            "Ignore STDIN" : "false",
            "Command Arguments" : "/opt/nifi/nifi-current/pupp.js;${url};/opt/nifi/extDocs/"
          },
          "propertyDescriptors" : {
            "argumentsStrategy" : {
              "name" : "argumentsStrategy",
              "displayName" : "Command Arguments Strategy",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Max Attribute Length" : {
              "name" : "Max Attribute Length",
              "displayName" : "Max Attribute Length",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Command Path" : {
              "name" : "Command Path",
              "displayName" : "Command Path",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Working Directory" : {
              "name" : "Working Directory",
              "displayName" : "Working Directory",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Output Destination Attribute" : {
              "name" : "Output Destination Attribute",
              "displayName" : "Output Destination Attribute",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Argument Delimiter" : {
              "name" : "Argument Delimiter",
              "displayName" : "Argument Delimiter",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Ignore STDIN" : {
              "name" : "Ignore STDIN",
              "displayName" : "Ignore STDIN",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Command Arguments" : {
              "name" : "Command Arguments",
              "displayName" : "Command Arguments",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "style" : { },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "retryCount" : 10,
          "retriedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "maxBackoffPeriod" : "10 mins",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "787963c7-6edf-3491-b3b7-cd41d33adf8e"
        }, {
          "identifier" : "0f42794c-0373-3bd9-90f1-e1af538163b6",
          "instanceIdentifier" : "3d8f414d-5437-1fbf-5331-b79b97f1ac43",
          "name" : "ExecuteSQLRecord",
          "comments" : "",
          "position" : {
            "x" : 4875.809565810996,
            "y" : 2994.7207649647808
          },
          "type" : "org.apache.nifi.processors.standard.ExecuteSQLRecord",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.16.2"
          },
          "properties" : {
            "esql-max-rows" : "0",
            "esqlrecord-record-writer" : "6200beab-3239-391d-9794-4ba602e290b9",
            "dbf-default-precision" : "10",
            "Max Wait Time" : "0 seconds",
            "Database Connection Pooling Service" : "3abc30ef-1d24-3e3a-a19f-e8dcf9699e18",
            "esql-auto-commit" : "true",
            "dbf-user-logical-types" : "false",
            "dbf-default-scale" : "0",
            "esql-output-batch-size" : "0",
            "esql-fetch-size" : "0",
            "SQL select query" : "SELECT p.PLPAGE_ID , p.ADMINNAME , sk.URLKEYWORD, p.STOREENT_ID, sc.value AS hostname  FROM seourl s, SEOURLKEYWORD sk, plpage p, STOREREL sr, storeconf sc\nWHERE s.seourl_id = sk.SEOURL_ID \nAND s.TOKENVALUE =cast(p.PLPAGE_ID AS VARCHAR)\nAND p.URLCONFIGURABLE = 1\nAND sk.LANGUAGE_ID = -1\nAND p.STOREENT_ID = sr.RELATEDSTORE_ID \nAND sk.STATUS = 1\nAND sr.STORE_ID = ${param.storeId}\nAND sr.STRELTYP_ID = -11\nAND sr.STATE = 1\nAND sc.STOREENT_ID = sr.STORE_ID \nAND sc.name='wc.search.indexcrawl.hostname';",
            "esqlrecord-normalize" : "false"
          },
          "propertyDescriptors" : {
            "esql-max-rows" : {
              "name" : "esql-max-rows",
              "displayName" : "Max Rows Per Flow File",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "esqlrecord-record-writer" : {
              "name" : "esqlrecord-record-writer",
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "sensitive" : false
            },
            "dbf-default-precision" : {
              "name" : "dbf-default-precision",
              "displayName" : "Default Decimal Precision",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Max Wait Time" : {
              "name" : "Max Wait Time",
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Database Connection Pooling Service" : {
              "name" : "Database Connection Pooling Service",
              "displayName" : "Database Connection Pooling Service",
              "identifiesControllerService" : true,
              "sensitive" : false
            },
            "sql-post-query" : {
              "name" : "sql-post-query",
              "displayName" : "SQL Post-Query",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "esql-auto-commit" : {
              "name" : "esql-auto-commit",
              "displayName" : "Set Auto Commit",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "dbf-user-logical-types" : {
              "name" : "dbf-user-logical-types",
              "displayName" : "Use Avro Logical Types",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "name" : "dbf-default-scale",
              "displayName" : "Default Decimal Scale",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "sql-pre-query" : {
              "name" : "sql-pre-query",
              "displayName" : "SQL Pre-Query",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "esql-output-batch-size" : {
              "name" : "esql-output-batch-size",
              "displayName" : "Output Batch Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "esql-fetch-size" : {
              "name" : "esql-fetch-size",
              "displayName" : "Fetch Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "SQL select query" : {
              "name" : "SQL select query",
              "displayName" : "SQL select query",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "esqlrecord-normalize" : {
              "name" : "esqlrecord-normalize",
              "displayName" : "Normalize Table/Column Names",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "style" : { },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "retryCount" : 10,
          "retriedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "maxBackoffPeriod" : "10 mins",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "787963c7-6edf-3491-b3b7-cd41d33adf8e"
        } ],
        "inputPorts" : [ {
          "identifier" : "c099e654-e8f5-3fa5-b145-941bedfb77b6",
          "instanceIdentifier" : "61172531-d991-379b-aa6c-11313a1f7e7f",
          "name" : "Input",
          "position" : {
            "x" : 4312.0,
            "y" : 3040.0
          },
          "type" : "INPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "scheduledState" : "ENABLED",
          "allowRemoteAccess" : false,
          "componentType" : "INPUT_PORT",
          "groupIdentifier" : "787963c7-6edf-3491-b3b7-cd41d33adf8e"
        } ],
        "outputPorts" : [ {
          "identifier" : "72629f28-7c7f-3c5c-a55c-6aaccdd56d3f",
          "instanceIdentifier" : "f01edbed-2f12-3ed8-ca3b-cf0730821fb2",
          "name" : "Output",
          "position" : {
            "x" : 9800.0,
            "y" : 3024.0
          },
          "type" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "scheduledState" : "ENABLED",
          "allowRemoteAccess" : false,
          "componentType" : "OUTPUT_PORT",
          "groupIdentifier" : "787963c7-6edf-3491-b3b7-cd41d33adf8e"
        } ],
        "connections" : [ {
          "identifier" : "d7cd633d-f27f-3372-863a-04f89955e927",
          "instanceIdentifier" : "3d8f415f-5437-1fbf-294f-5605311f0bd7",
          "name" : "",
          "source" : {
            "id" : "4e12f5f7-598b-3694-9731-b1fcde998898",
            "type" : "PROCESSOR",
            "groupId" : "787963c7-6edf-3491-b3b7-cd41d33adf8e",
            "name" : "ExecuteStreamCommand",
            "comments" : "",
            "instanceIdentifier" : "3d8f4154-5437-1fbf-3acd-c1987e779af2"
          },
          "destination" : {
            "id" : "8b421a51-bd42-3f80-93cf-7f7f5307cfcc",
            "type" : "PROCESSOR",
            "groupId" : "787963c7-6edf-3491-b3b7-cd41d33adf8e",
            "name" : "Replace filename",
            "comments" : "",
            "instanceIdentifier" : "3d8f4150-5437-1fbf-3043-a089366405e2"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "original" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "787963c7-6edf-3491-b3b7-cd41d33adf8e"
        }, {
          "identifier" : "e62154a5-c079-32e2-b22a-81700f8e3fc6",
          "instanceIdentifier" : "3d8f4157-5437-1fbf-925a-27e004f6f08f",
          "name" : "",
          "source" : {
            "id" : "0f42794c-0373-3bd9-90f1-e1af538163b6",
            "type" : "PROCESSOR",
            "groupId" : "787963c7-6edf-3491-b3b7-cd41d33adf8e",
            "name" : "ExecuteSQLRecord",
            "comments" : "",
            "instanceIdentifier" : "3d8f414d-5437-1fbf-5331-b79b97f1ac43"
          },
          "destination" : {
            "id" : "cef0b929-aedf-361a-b3c8-15eb951a7128",
            "type" : "PROCESSOR",
            "groupId" : "787963c7-6edf-3491-b3b7-cd41d33adf8e",
            "name" : "Log failures",
            "comments" : "",
            "instanceIdentifier" : "3d8f4152-5437-1fbf-7587-c422f8f3a5ce"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "failure" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "787963c7-6edf-3491-b3b7-cd41d33adf8e"
        }, {
          "identifier" : "1710bffd-248a-3da7-a8c6-85a18cec72d2",
          "instanceIdentifier" : "3d8f415a-5437-1fbf-5986-9e09a52f0499",
          "name" : "",
          "source" : {
            "id" : "5100239f-405f-374a-abc2-afc066400233",
            "type" : "PROCESSOR",
            "groupId" : "787963c7-6edf-3491-b3b7-cd41d33adf8e",
            "name" : "SplitJson",
            "comments" : "",
            "instanceIdentifier" : "3d8f4153-5437-1fbf-9747-777e14f33ff9"
          },
          "destination" : {
            "id" : "cef0b929-aedf-361a-b3c8-15eb951a7128",
            "type" : "PROCESSOR",
            "groupId" : "787963c7-6edf-3491-b3b7-cd41d33adf8e",
            "name" : "Log failures",
            "comments" : "",
            "instanceIdentifier" : "3d8f4152-5437-1fbf-7587-c422f8f3a5ce"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "original", "failure" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "787963c7-6edf-3491-b3b7-cd41d33adf8e"
        }, {
          "identifier" : "ef2bc797-3f13-3dbc-b78f-97e612e002a0",
          "instanceIdentifier" : "3d8f415e-5437-1fbf-203d-466579adaf42",
          "name" : "",
          "source" : {
            "id" : "4e12f5f7-598b-3694-9731-b1fcde998898",
            "type" : "PROCESSOR",
            "groupId" : "787963c7-6edf-3491-b3b7-cd41d33adf8e",
            "name" : "ExecuteStreamCommand",
            "comments" : "",
            "instanceIdentifier" : "3d8f4154-5437-1fbf-3acd-c1987e779af2"
          },
          "destination" : {
            "id" : "f9a8b7db-1e8b-3254-8b52-5c93ae45ec66",
            "type" : "PROCESSOR",
            "groupId" : "787963c7-6edf-3491-b3b7-cd41d33adf8e",
            "name" : "Log failures",
            "comments" : "",
            "instanceIdentifier" : "3d8f4151-5437-1fbf-f1a6-a6196fd06f8b"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "original" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "787963c7-6edf-3491-b3b7-cd41d33adf8e"
        }, {
          "identifier" : "5a8d45c6-ef9d-3b99-a52b-60a5179b2067",
          "instanceIdentifier" : "3d8f4156-5437-1fbf-1cd8-4e2d2e87e601",
          "name" : "",
          "source" : {
            "id" : "c099e654-e8f5-3fa5-b145-941bedfb77b6",
            "type" : "INPUT_PORT",
            "groupId" : "787963c7-6edf-3491-b3b7-cd41d33adf8e",
            "name" : "Input",
            "instanceIdentifier" : "61172531-d991-379b-aa6c-11313a1f7e7f"
          },
          "destination" : {
            "id" : "0f42794c-0373-3bd9-90f1-e1af538163b6",
            "type" : "PROCESSOR",
            "groupId" : "787963c7-6edf-3491-b3b7-cd41d33adf8e",
            "name" : "ExecuteSQLRecord",
            "comments" : "",
            "instanceIdentifier" : "3d8f414d-5437-1fbf-5331-b79b97f1ac43"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "787963c7-6edf-3491-b3b7-cd41d33adf8e"
        }, {
          "identifier" : "51db9491-de56-3056-a65d-77d9f61a6431",
          "instanceIdentifier" : "3d8f415b-5437-1fbf-0625-2d2fa7213752",
          "name" : "",
          "source" : {
            "id" : "a6284321-7c0d-373f-a7f2-1201db09eaa5",
            "type" : "PROCESSOR",
            "groupId" : "787963c7-6edf-3491-b3b7-cd41d33adf8e",
            "name" : "EvaluateJsonPath",
            "comments" : "",
            "instanceIdentifier" : "3d8f414c-5437-1fbf-f388-9a96fd28d938"
          },
          "destination" : {
            "id" : "f3ca921f-e3c0-3f53-b84e-97c13969364d",
            "type" : "PROCESSOR",
            "groupId" : "787963c7-6edf-3491-b3b7-cd41d33adf8e",
            "name" : "UpdateAttribute",
            "comments" : "",
            "instanceIdentifier" : "3d8f4155-5437-1fbf-aca9-bfdf04ab4617"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "matched" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "787963c7-6edf-3491-b3b7-cd41d33adf8e"
        }, {
          "identifier" : "1ded408b-f9dc-3e2f-8ed9-c4ea3f2ab73e",
          "instanceIdentifier" : "3d8f4159-5437-1fbf-2529-140fbb42599d",
          "name" : "",
          "source" : {
            "id" : "5100239f-405f-374a-abc2-afc066400233",
            "type" : "PROCESSOR",
            "groupId" : "787963c7-6edf-3491-b3b7-cd41d33adf8e",
            "name" : "SplitJson",
            "comments" : "",
            "instanceIdentifier" : "3d8f4153-5437-1fbf-9747-777e14f33ff9"
          },
          "destination" : {
            "id" : "a6284321-7c0d-373f-a7f2-1201db09eaa5",
            "type" : "PROCESSOR",
            "groupId" : "787963c7-6edf-3491-b3b7-cd41d33adf8e",
            "name" : "EvaluateJsonPath",
            "comments" : "",
            "instanceIdentifier" : "3d8f414c-5437-1fbf-f388-9a96fd28d938"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "split" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "787963c7-6edf-3491-b3b7-cd41d33adf8e"
        }, {
          "identifier" : "bf5c2194-5726-3cb9-b04a-0dd4281f0e3f",
          "instanceIdentifier" : "3d8f4160-5437-1fbf-3806-aae93251d47d",
          "name" : "",
          "source" : {
            "id" : "8b421a51-bd42-3f80-93cf-7f7f5307cfcc",
            "type" : "PROCESSOR",
            "groupId" : "787963c7-6edf-3491-b3b7-cd41d33adf8e",
            "name" : "Replace filename",
            "comments" : "",
            "instanceIdentifier" : "3d8f4150-5437-1fbf-3043-a089366405e2"
          },
          "destination" : {
            "id" : "22e21f31-107a-3775-8d4d-559d2bbd807f",
            "type" : "PROCESSOR",
            "groupId" : "787963c7-6edf-3491-b3b7-cd41d33adf8e",
            "name" : "Update filename",
            "comments" : "",
            "instanceIdentifier" : "3d8f414f-5437-1fbf-7c65-ac875b5882cf"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "787963c7-6edf-3491-b3b7-cd41d33adf8e"
        }, {
          "identifier" : "fa7e8288-3f07-35bf-9d8f-5b3577ccbde0",
          "instanceIdentifier" : "3d8f415c-5437-1fbf-937d-df9b84cce786",
          "name" : "",
          "source" : {
            "id" : "a6284321-7c0d-373f-a7f2-1201db09eaa5",
            "type" : "PROCESSOR",
            "groupId" : "787963c7-6edf-3491-b3b7-cd41d33adf8e",
            "name" : "EvaluateJsonPath",
            "comments" : "",
            "instanceIdentifier" : "3d8f414c-5437-1fbf-f388-9a96fd28d938"
          },
          "destination" : {
            "id" : "23ddd6e7-5ba1-32ac-8193-4a88f9126151",
            "type" : "PROCESSOR",
            "groupId" : "787963c7-6edf-3491-b3b7-cd41d33adf8e",
            "name" : "Log failures",
            "comments" : "",
            "instanceIdentifier" : "3d8f414e-5437-1fbf-9f0a-d2e6cd29104f"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "failure", "unmatched" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "787963c7-6edf-3491-b3b7-cd41d33adf8e"
        }, {
          "identifier" : "00b15b47-cfe0-34e8-9eef-07ac88827191",
          "instanceIdentifier" : "3d8f4158-5437-1fbf-ff5a-333a687fd0fc",
          "name" : "",
          "source" : {
            "id" : "0f42794c-0373-3bd9-90f1-e1af538163b6",
            "type" : "PROCESSOR",
            "groupId" : "787963c7-6edf-3491-b3b7-cd41d33adf8e",
            "name" : "ExecuteSQLRecord",
            "comments" : "",
            "instanceIdentifier" : "3d8f414d-5437-1fbf-5331-b79b97f1ac43"
          },
          "destination" : {
            "id" : "5100239f-405f-374a-abc2-afc066400233",
            "type" : "PROCESSOR",
            "groupId" : "787963c7-6edf-3491-b3b7-cd41d33adf8e",
            "name" : "SplitJson",
            "comments" : "",
            "instanceIdentifier" : "3d8f4153-5437-1fbf-9747-777e14f33ff9"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "787963c7-6edf-3491-b3b7-cd41d33adf8e"
        }, {
          "identifier" : "f30e315d-161a-3446-92e3-b3b852236ccc",
          "instanceIdentifier" : "3d8f4161-5437-1fbf-1919-e462084ad626",
          "name" : "",
          "source" : {
            "id" : "22e21f31-107a-3775-8d4d-559d2bbd807f",
            "type" : "PROCESSOR",
            "groupId" : "787963c7-6edf-3491-b3b7-cd41d33adf8e",
            "name" : "Update filename",
            "comments" : "",
            "instanceIdentifier" : "3d8f414f-5437-1fbf-7c65-ac875b5882cf"
          },
          "destination" : {
            "id" : "72629f28-7c7f-3c5c-a55c-6aaccdd56d3f",
            "type" : "OUTPUT_PORT",
            "groupId" : "787963c7-6edf-3491-b3b7-cd41d33adf8e",
            "name" : "Output",
            "instanceIdentifier" : "f01edbed-2f12-3ed8-ca3b-cf0730821fb2"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "787963c7-6edf-3491-b3b7-cd41d33adf8e"
        }, {
          "identifier" : "4849f111-3c8d-3146-8d19-8805bfcf3da1",
          "instanceIdentifier" : "3d8f415d-5437-1fbf-c027-9cbfd21c7eff",
          "name" : "",
          "source" : {
            "id" : "f3ca921f-e3c0-3f53-b84e-97c13969364d",
            "type" : "PROCESSOR",
            "groupId" : "787963c7-6edf-3491-b3b7-cd41d33adf8e",
            "name" : "UpdateAttribute",
            "comments" : "",
            "instanceIdentifier" : "3d8f4155-5437-1fbf-aca9-bfdf04ab4617"
          },
          "destination" : {
            "id" : "4e12f5f7-598b-3694-9731-b1fcde998898",
            "type" : "PROCESSOR",
            "groupId" : "787963c7-6edf-3491-b3b7-cd41d33adf8e",
            "name" : "ExecuteStreamCommand",
            "comments" : "",
            "instanceIdentifier" : "3d8f4154-5437-1fbf-3acd-c1987e779af2"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "787963c7-6edf-3491-b3b7-cd41d33adf8e"
        } ],
        "labels" : [ ],
        "funnels" : [ ],
        "controllerServices" : [ {
          "identifier" : "3abc30ef-1d24-3e3a-a19f-e8dcf9699e18",
          "instanceIdentifier" : "6228820f-5a98-31c8-282f-c56afb713851",
          "name" : "Database Connection Pool",
          "comments" : "",
          "type" : "org.apache.nifi.dbcp.DBCPConnectionPool",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-dbcp-service-nar",
            "version" : "1.16.2"
          },
          "properties" : {
            "dbcp-min-idle-conns" : "0",
            "Max Wait Time" : "500 millis",
            "Database Driver Class Name" : "${AUTH_JDBC_DRIVER_CLASSNAME}",
            "dbcp-min-evictable-idle-time" : "30 mins",
            "Database Driver Location(s)" : "${AUTH_JDBC_DRIVER_LOCATION}",
            "Max Total Connections" : "8",
            "dbcp-max-conn-lifetime" : "-1",
            "Database Connection URL" : "${AUTH_JDBC_URL}",
            "dbcp-time-between-eviction-runs" : "-1",
            "Database User" : "${AUTH_JDBC_USER_NAME}",
            "dbcp-soft-min-evictable-idle-time" : "-1",
            "database-driver-locations" : "${AUTH_JDBC_DRIVER_LOCATION}",
            "dbcp-max-idle-conns" : "8"
          },
          "propertyDescriptors" : {
            "kerberos-password" : {
              "name" : "kerberos-password",
              "displayName" : "Kerberos Password",
              "identifiesControllerService" : false,
              "sensitive" : true
            },
            "dbcp-min-idle-conns" : {
              "name" : "dbcp-min-idle-conns",
              "displayName" : "Minimum Idle Connections",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Max Wait Time" : {
              "name" : "Max Wait Time",
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Database Driver Class Name" : {
              "name" : "Database Driver Class Name",
              "displayName" : "Database Driver Class Name",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "dbcp-min-evictable-idle-time" : {
              "name" : "dbcp-min-evictable-idle-time",
              "displayName" : "Minimum Evictable Idle Time",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Database Driver Location(s)" : {
              "name" : "Database Driver Location(s)",
              "displayName" : "Database Driver Location(s)",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "kerberos-principal" : {
              "name" : "kerberos-principal",
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Max Total Connections" : {
              "name" : "Max Total Connections",
              "displayName" : "Max Total Connections",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "name" : "kerberos-credentials-service",
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "sensitive" : false
            },
            "dbcp-max-conn-lifetime" : {
              "name" : "dbcp-max-conn-lifetime",
              "displayName" : "Max Connection Lifetime",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Validation-query" : {
              "name" : "Validation-query",
              "displayName" : "Validation query",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Database Connection URL" : {
              "name" : "Database Connection URL",
              "displayName" : "Database Connection URL",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "dbcp-time-between-eviction-runs" : {
              "name" : "dbcp-time-between-eviction-runs",
              "displayName" : "Time Between Eviction Runs",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Database User" : {
              "name" : "Database User",
              "displayName" : "Database User",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "kerberos-user-service" : {
              "name" : "kerberos-user-service",
              "displayName" : "Kerberos User Service",
              "identifiesControllerService" : true,
              "sensitive" : false
            },
            "dbcp-soft-min-evictable-idle-time" : {
              "name" : "dbcp-soft-min-evictable-idle-time",
              "displayName" : "Soft Minimum Evictable Idle Time",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "database-driver-locations" : {
              "name" : "database-driver-locations",
              "displayName" : "Database Driver Location(s)",
              "identifiesControllerService" : false,
              "sensitive" : false,
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "URL", "FILE", "DIRECTORY" ]
              }
            },
            "dbcp-max-idle-conns" : {
              "name" : "dbcp-max-idle-conns",
              "displayName" : "Max Idle Connections",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Password" : {
              "name" : "Password",
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "sensitive" : true
            }
          },
          "controllerServiceApis" : [ {
            "type" : "org.apache.nifi.dbcp.DBCPService",
            "bundle" : {
              "group" : "org.apache.nifi",
              "artifact" : "nifi-standard-services-api-nar",
              "version" : "1.16.2"
            }
          } ],
          "scheduledState" : "DISABLED",
          "componentType" : "CONTROLLER_SERVICE",
          "groupIdentifier" : "787963c7-6edf-3491-b3b7-cd41d33adf8e"
        }, {
          "identifier" : "6200beab-3239-391d-9794-4ba602e290b9",
          "instanceIdentifier" : "7135a696-85c8-3ec2-9d1a-6ef6bc10f29d",
          "name" : "JsonRecordSetWriter",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-record-serialization-services-nar",
            "version" : "1.16.2"
          },
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-array",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "name" : "schema-branch",
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "compression-level" : {
              "name" : "compression-level",
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "schema-cache" : {
              "name" : "schema-cache",
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "sensitive" : false
            },
            "Timestamp Format" : {
              "name" : "Timestamp Format",
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Date Format" : {
              "name" : "Date Format",
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "name" : "Pretty Print JSON",
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "compression-format" : {
              "name" : "compression-format",
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "name" : "Schema Write Strategy",
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "suppress-nulls" : {
              "name" : "suppress-nulls",
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "output-grouping" : {
              "name" : "output-grouping",
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "schema-name" : {
              "name" : "schema-name",
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "schema-registry" : {
              "name" : "schema-registry",
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "sensitive" : false
            },
            "Time Format" : {
              "name" : "Time Format",
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "name" : "schema-access-strategy",
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "name" : "schema-protocol-version",
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "schema-version" : {
              "name" : "schema-version",
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "schema-text" : {
              "name" : "schema-text",
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "controllerServiceApis" : [ {
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory",
            "bundle" : {
              "group" : "org.apache.nifi",
              "artifact" : "nifi-standard-services-api-nar",
              "version" : "1.16.2"
            }
          } ],
          "scheduledState" : "DISABLED",
          "componentType" : "CONTROLLER_SERVICE",
          "groupIdentifier" : "787963c7-6edf-3491-b3b7-cd41d33adf8e"
        } ],
        "variables" : { },
        "defaultFlowFileExpiration" : "0 sec",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "componentType" : "PROCESS_GROUP",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "groupIdentifier" : "81421b2b-3f72-3b58-9dd2-fd69e95ede58"
      }, {
        "identifier" : "3efdf9be-77dc-3dad-914c-68ed77663586",
        "instanceIdentifier" : "3f8616c1-80f0-3751-2dfa-39c17ef23624",
        "name" : "Fetch URL And Invoke Search",
        "comments" : "",
        "position" : {
          "x" : 1160.0,
          "y" : -824.0
        },
        "processGroups" : [ ],
        "remoteProcessGroups" : [ ],
        "processors" : [ {
          "identifier" : "4d230fbe-03d2-3b4d-93ca-6405ce73fce6",
          "instanceIdentifier" : "0f3e8d01-8d47-39fd-c80f-07173456498e",
          "name" : "FetchFile",
          "comments" : "",
          "position" : {
            "x" : -3584.0,
            "y" : 832.0
          },
          "type" : "org.apache.nifi.processors.standard.FetchFile",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.16.2"
          },
          "properties" : {
            "Move Conflict Strategy" : "Keep Existing",
            "Log level when file not found" : "ERROR",
            "Log level when permission denied" : "ERROR",
            "File to Fetch" : "${fileABSPath}",
            "Completion Strategy" : "Delete File"
          },
          "propertyDescriptors" : {
            "Move Conflict Strategy" : {
              "name" : "Move Conflict Strategy",
              "displayName" : "Move Conflict Strategy",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Log level when file not found" : {
              "name" : "Log level when file not found",
              "displayName" : "Log level when file not found",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Move Destination Directory" : {
              "name" : "Move Destination Directory",
              "displayName" : "Move Destination Directory",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Log level when permission denied" : {
              "name" : "Log level when permission denied",
              "displayName" : "Log level when permission denied",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "File to Fetch" : {
              "name" : "File to Fetch",
              "displayName" : "File to Fetch",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Completion Strategy" : {
              "name" : "Completion Strategy",
              "displayName" : "Completion Strategy",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "style" : { },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "retryCount" : 10,
          "retriedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "maxBackoffPeriod" : "10 mins",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "6155685f-d84a-3070-b35d-24dc8179b8ae",
          "instanceIdentifier" : "058e272d-a8b2-3dad-e7fe-8861c8de35a2",
          "name" : "ReplaceText",
          "comments" : "",
          "position" : {
            "x" : -4312.0,
            "y" : 864.0
          },
          "type" : "org.apache.nifi.processors.standard.ReplaceText",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.16.2"
          },
          "properties" : {
            "Regular Expression" : "\\p{C}",
            "Replacement Value" : "",
            "Evaluation Mode" : "Entire text",
            "Line-by-Line Evaluation Mode" : "All",
            "Character Set" : "UTF-8",
            "Maximum Buffer Size" : "10 MB",
            "Replacement Strategy" : "Regex Replace"
          },
          "propertyDescriptors" : {
            "Regular Expression" : {
              "name" : "Regular Expression",
              "displayName" : "Search Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Replacement Value" : {
              "name" : "Replacement Value",
              "displayName" : "Replacement Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Evaluation Mode" : {
              "name" : "Evaluation Mode",
              "displayName" : "Evaluation Mode",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Line-by-Line Evaluation Mode" : {
              "name" : "Line-by-Line Evaluation Mode",
              "displayName" : "Line-by-Line Evaluation Mode",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Character Set" : {
              "name" : "Character Set",
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Maximum Buffer Size" : {
              "name" : "Maximum Buffer Size",
              "displayName" : "Maximum Buffer Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Replacement Strategy" : {
              "name" : "Replacement Strategy",
              "displayName" : "Replacement Strategy",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "style" : { },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "retryCount" : 10,
          "retriedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "maxBackoffPeriod" : "10 mins",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "15d9db5c-0275-33cf-ba1a-902f845e6cb6",
          "instanceIdentifier" : "0c15d5e3-07e9-3cd8-f6bb-16b64032afc4",
          "name" : "Log error message",
          "comments" : "",
          "position" : {
            "x" : -5096.0,
            "y" : 1328.0
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.16.2"
          },
          "properties" : {
            "logger.message.text" : "Unmatched ExtractText",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "logger.message.severity" : "E",
            "logger.message.code" : "DI2009E"
          },
          "propertyDescriptors" : {
            "logger.message.text" : {
              "name" : "logger.message.text",
              "displayName" : "logger.message.text",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.severity" : {
              "name" : "logger.message.severity",
              "displayName" : "logger.message.severity",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.code" : {
              "name" : "logger.message.code",
              "displayName" : "logger.message.code",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "style" : {
            "background-color" : "#ff0000"
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "NONE",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "retryCount" : 10,
          "retriedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "maxBackoffPeriod" : "10 mins",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "2298cdaf-8972-32cd-913b-6c816e8c1e4d",
          "instanceIdentifier" : "e2bfcd8d-3e7f-35a6-88e6-10e162bb599e",
          "name" : "AttributesToJSON",
          "comments" : "",
          "position" : {
            "x" : -4368.0,
            "y" : 1432.0
          },
          "type" : "org.apache.nifi.processors.standard.AttributesToJSON",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.16.2"
          },
          "properties" : {
            "Destination" : "flowfile-attribute",
            "Null Value" : "false",
            "Attributes List" : "filename,fileABSPath,data,title,file_type",
            "Include Core Attributes" : "true"
          },
          "propertyDescriptors" : {
            "attributes-to-json-regex" : {
              "name" : "attributes-to-json-regex",
              "displayName" : "Attributes Regular Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Destination" : {
              "name" : "Destination",
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Null Value" : {
              "name" : "Null Value",
              "displayName" : "Null Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Attributes List" : {
              "name" : "Attributes List",
              "displayName" : "Attributes List",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Include Core Attributes" : {
              "name" : "Include Core Attributes",
              "displayName" : "Include Core Attributes",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "style" : { },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "retryCount" : 10,
          "retriedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "maxBackoffPeriod" : "10 mins",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "6e628df4-9314-39df-986d-12ec6a2148bb",
          "instanceIdentifier" : "6df2cb6f-1cad-3895-01ff-2461b670ffc9",
          "name" : "Log error message",
          "comments" : "",
          "position" : {
            "x" : -5104.0,
            "y" : 800.0
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.16.2"
          },
          "properties" : {
            "logger.message.text" : "Base64 encoding error",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "logger.message.severity" : "E",
            "logger.message.code" : "DI2009E"
          },
          "propertyDescriptors" : {
            "logger.message.text" : {
              "name" : "logger.message.text",
              "displayName" : "logger.message.text",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.severity" : {
              "name" : "logger.message.severity",
              "displayName" : "logger.message.severity",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.code" : {
              "name" : "logger.message.code",
              "displayName" : "logger.message.code",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "style" : {
            "background-color" : "#ff0000"
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "NONE",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "retryCount" : 10,
          "retriedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "maxBackoffPeriod" : "10 mins",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "1a016dfe-72f4-38a9-815c-b663d6999602",
          "instanceIdentifier" : "de331a17-666c-309a-8fd8-93a81af80cdf",
          "name" : "Log error message",
          "comments" : "",
          "position" : {
            "x" : -3112.0,
            "y" : 1088.0
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.16.2"
          },
          "properties" : {
            "logger.message.text" : "FetchFle error.",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "logger.message.severity" : "E",
            "logger.message.code" : "DI2009E"
          },
          "propertyDescriptors" : {
            "logger.message.text" : {
              "name" : "logger.message.text",
              "displayName" : "logger.message.text",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.severity" : {
              "name" : "logger.message.severity",
              "displayName" : "logger.message.severity",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.code" : {
              "name" : "logger.message.code",
              "displayName" : "logger.message.code",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "style" : {
            "background-color" : "#ff0000"
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "NONE",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "retryCount" : 10,
          "retriedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "maxBackoffPeriod" : "10 mins",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "e2707284-782b-3026-87a1-262117e7ebbe",
          "instanceIdentifier" : "ac7e6030-e0b0-35a3-962e-5281b36af0db",
          "name" : "Log error message",
          "comments" : "",
          "position" : {
            "x" : -3096.0,
            "y" : 1312.0
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.16.2"
          },
          "properties" : {
            "logger.message.text" : "Base64 encoding error",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "logger.message.severity" : "E",
            "logger.message.code" : "DI2009E"
          },
          "propertyDescriptors" : {
            "logger.message.text" : {
              "name" : "logger.message.text",
              "displayName" : "logger.message.text",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.severity" : {
              "name" : "logger.message.severity",
              "displayName" : "logger.message.severity",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.code" : {
              "name" : "logger.message.code",
              "displayName" : "logger.message.code",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "style" : {
            "background-color" : "#ff0000"
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "NONE",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "retryCount" : 10,
          "retriedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "maxBackoffPeriod" : "10 mins",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "381f66a0-72f0-31e8-b580-6a0ad567157a",
          "instanceIdentifier" : "437192d1-3656-31b8-6b36-94a85e816307",
          "name" : "Log error message",
          "comments" : "",
          "position" : {
            "x" : -5008.0,
            "y" : 2008.0
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.16.2"
          },
          "properties" : {
            "logger.message.text" : "Successfully initialized ${index.name} index schema",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "logger.message.severity" : "E",
            "logger.message.code" : "DI2009E",
            "logger.message.parameter" : "[ \"${index.name}\" ]"
          },
          "propertyDescriptors" : {
            "logger.message.text" : {
              "name" : "logger.message.text",
              "displayName" : "logger.message.text",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.severity" : {
              "name" : "logger.message.severity",
              "displayName" : "logger.message.severity",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.code" : {
              "name" : "logger.message.code",
              "displayName" : "logger.message.code",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.parameter" : {
              "name" : "logger.message.parameter",
              "displayName" : "logger.message.parameter",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "style" : {
            "background-color" : "#ff0000"
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "NONE",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "retryCount" : 10,
          "retriedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "maxBackoffPeriod" : "10 mins",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "b849a239-a8a6-392b-914e-88e1fb9b7618",
          "instanceIdentifier" : "47b87b8c-7a97-322d-6931-36c9c4be5bc8",
          "name" : "Populate Request",
          "comments" : "",
          "position" : {
            "x" : -3880.0,
            "y" : 1616.0
          },
          "type" : "org.apache.nifi.processors.standard.ReplaceText",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.16.2"
          },
          "properties" : {
            "Regular Expression" : "(?s)(^.*$)",
            "Replacement Value" : "${JSONAttributes}",
            "Evaluation Mode" : "Entire text",
            "Line-by-Line Evaluation Mode" : "All",
            "Character Set" : "UTF-8",
            "Maximum Buffer Size" : "5 MB",
            "Replacement Strategy" : "Regex Replace"
          },
          "propertyDescriptors" : {
            "Regular Expression" : {
              "name" : "Regular Expression",
              "displayName" : "Search Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Replacement Value" : {
              "name" : "Replacement Value",
              "displayName" : "Replacement Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Evaluation Mode" : {
              "name" : "Evaluation Mode",
              "displayName" : "Evaluation Mode",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Line-by-Line Evaluation Mode" : {
              "name" : "Line-by-Line Evaluation Mode",
              "displayName" : "Line-by-Line Evaluation Mode",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Character Set" : {
              "name" : "Character Set",
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Maximum Buffer Size" : {
              "name" : "Maximum Buffer Size",
              "displayName" : "Maximum Buffer Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Replacement Strategy" : {
              "name" : "Replacement Strategy",
              "displayName" : "Replacement Strategy",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "style" : { },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ "failure" ],
          "scheduledState" : "ENABLED",
          "retryCount" : 10,
          "retriedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "maxBackoffPeriod" : "10 mins",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "73cc72a7-dc72-3769-826c-f90dcae9f1bc",
          "instanceIdentifier" : "6aa7bf6c-4b3d-3c55-c761-94475326a204",
          "name" : "PUT ElasticSearch Attachment",
          "comments" : "",
          "position" : {
            "x" : -4400.0,
            "y" : 1816.0
          },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.16.2"
          },
          "properties" : {
            "use-etag" : "false",
            "Proxy Type" : "http",
            "cookie-strategy" : "DISABLED",
            "Connection Timeout" : "15 secs",
            "send-message-body" : "true",
            "set-form-filename" : "true",
            "Always Output Response" : "false",
            "etag-max-cache-size" : "10MB",
            "disable-http2" : "False",
            "idle-timeout" : "5 mins",
            "Use Chunked Encoding" : "false",
            "Follow Redirects" : "False",
            "Remote URL" : "${SEARCH_URL}/${index.name}/_doc/${filename}?pipeline=attachment",
            "Content-Type" : "application/json",
            "flow-file-naming-strategy" : "RANDOM",
            "max-idle-connections" : "5",
            "Read Timeout" : "45 secs",
            "Max Length To Put In Attribute" : "256",
            "ignore-response-content" : "false",
            "Digest Authentication" : "false",
            "HTTP Method" : "PUT",
            "Add Response Headers to Request" : "false",
            "Include Date Header" : "True",
            "Penalize on \"No Retry\"" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "name" : "Proxy Host",
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Attributes to Send" : {
              "name" : "Attributes to Send",
              "displayName" : "Attributes to Send",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "use-etag" : {
              "name" : "use-etag",
              "displayName" : "Use HTTP ETag",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "name" : "proxy-configuration-service",
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "sensitive" : false
            },
            "Proxy Type" : {
              "name" : "Proxy Type",
              "displayName" : "Proxy Type",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Basic Authentication Password" : {
              "name" : "Basic Authentication Password",
              "displayName" : "Basic Authentication Password",
              "identifiesControllerService" : false,
              "sensitive" : true
            },
            "cookie-strategy" : {
              "name" : "cookie-strategy",
              "displayName" : "Cookie Strategy",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Connection Timeout" : {
              "name" : "Connection Timeout",
              "displayName" : "Connection Timeout",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "send-message-body" : {
              "name" : "send-message-body",
              "displayName" : "Send Message Body",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "set-form-filename" : {
              "name" : "set-form-filename",
              "displayName" : "Set FlowFile Form Data File Name",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Always Output Response" : {
              "name" : "Always Output Response",
              "displayName" : "Always Output Response",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "etag-max-cache-size" : {
              "name" : "etag-max-cache-size",
              "displayName" : "Maximum ETag Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "disable-http2" : {
              "name" : "disable-http2",
              "displayName" : "Disable HTTP/2",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "idle-timeout" : {
              "name" : "idle-timeout",
              "displayName" : "Idle Timeout",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Put Response Body In Attribute" : {
              "name" : "Put Response Body In Attribute",
              "displayName" : "Put Response Body In Attribute",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Use Chunked Encoding" : {
              "name" : "Use Chunked Encoding",
              "displayName" : "Use Chunked Encoding",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Follow Redirects" : {
              "name" : "Follow Redirects",
              "displayName" : "Follow Redirects",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Remote URL" : {
              "name" : "Remote URL",
              "displayName" : "Remote URL",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Content-Type" : {
              "name" : "Content-Type",
              "displayName" : "Content-Type",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "form-body-form-name" : {
              "name" : "form-body-form-name",
              "displayName" : "FlowFile Form Data Name",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "flow-file-naming-strategy" : {
              "name" : "flow-file-naming-strategy",
              "displayName" : "FlowFile Naming Strategy",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "max-idle-connections" : {
              "name" : "max-idle-connections",
              "displayName" : "Max Idle Connections",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "invokehttp-proxy-user" : {
              "name" : "invokehttp-proxy-user",
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Read Timeout" : {
              "name" : "Read Timeout",
              "displayName" : "Read Timeout",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Max Length To Put In Attribute" : {
              "name" : "Max Length To Put In Attribute",
              "displayName" : "Max Length To Put In Attribute",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "invokehttp-proxy-password" : {
              "name" : "invokehttp-proxy-password",
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "sensitive" : true
            },
            "ignore-response-content" : {
              "name" : "ignore-response-content",
              "displayName" : "Ignore response's content",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Proxy Port" : {
              "name" : "Proxy Port",
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "SSL Context Service" : {
              "name" : "SSL Context Service",
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "sensitive" : false
            },
            "Digest Authentication" : {
              "name" : "Digest Authentication",
              "displayName" : "Use Digest Authentication",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "HTTP Method" : {
              "name" : "HTTP Method",
              "displayName" : "HTTP Method",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Add Response Headers to Request" : {
              "name" : "Add Response Headers to Request",
              "displayName" : "Add Response Headers to Request",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Basic Authentication Username" : {
              "name" : "Basic Authentication Username",
              "displayName" : "Basic Authentication Username",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "oauth2-access-token-provider" : {
              "name" : "oauth2-access-token-provider",
              "displayName" : "OAuth2 Access Token provider",
              "identifiesControllerService" : true,
              "sensitive" : false
            },
            "Include Date Header" : {
              "name" : "Include Date Header",
              "displayName" : "Include Date Header",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Penalize on \"No Retry\"" : {
              "name" : "Penalize on \"No Retry\"",
              "displayName" : "Penalize on \"No Retry\"",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Useragent" : {
              "name" : "Useragent",
              "displayName" : "Useragent",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "style" : { },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
          "scheduledState" : "ENABLED",
          "retryCount" : 10,
          "retriedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "maxBackoffPeriod" : "10 mins",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "c3ab7df4-0be1-3392-8711-da85b757427d",
          "instanceIdentifier" : "30298d96-b561-37b8-0b02-5d1815b733a1",
          "name" : "UpdateAttribute",
          "comments" : "",
          "position" : {
            "x" : -3664.0,
            "y" : 1408.0
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.16.2"
          },
          "properties" : {
            "Delete Attributes Expression" : "data.\\d+",
            "filename" : "${filename}",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "file_type" : "${file.path:substringAfterLast('.')}"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "filename" : {
              "name" : "filename",
              "displayName" : "filename",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "file_type" : {
              "name" : "file_type",
              "displayName" : "file_type",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "style" : { },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "retryCount" : 10,
          "retriedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "maxBackoffPeriod" : "10 mins",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "95a1eda9-b867-3dc2-8d5b-143abf92d093",
          "instanceIdentifier" : "5077da42-3488-329a-2f84-8922eec12d06",
          "name" : "Base64EncodeContent",
          "comments" : "",
          "position" : {
            "x" : -3696.0,
            "y" : 1192.0
          },
          "type" : "org.apache.nifi.processors.standard.Base64EncodeContent",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.16.2"
          },
          "properties" : {
            "Mode" : "Encode"
          },
          "propertyDescriptors" : {
            "Mode" : {
              "name" : "Mode",
              "displayName" : "Mode",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "style" : { },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "retryCount" : 10,
          "retriedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "maxBackoffPeriod" : "10 mins",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "bbba941c-aaf8-393d-9ecb-18a4d20d26c1",
          "instanceIdentifier" : "deaf74cc-23cf-3234-da3f-95543e22bffa",
          "name" : "Log error message",
          "comments" : "",
          "position" : {
            "x" : -5088.0,
            "y" : 1552.0
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.16.2"
          },
          "properties" : {
            "logger.message.text" : "AttributeToJsonError",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "logger.message.severity" : "E",
            "logger.message.code" : "DI2009E"
          },
          "propertyDescriptors" : {
            "logger.message.text" : {
              "name" : "logger.message.text",
              "displayName" : "logger.message.text",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.severity" : {
              "name" : "logger.message.severity",
              "displayName" : "logger.message.severity",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.code" : {
              "name" : "logger.message.code",
              "displayName" : "logger.message.code",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "style" : {
            "background-color" : "#ff0000"
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "NONE",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "retryCount" : 10,
          "retriedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "maxBackoffPeriod" : "10 mins",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "96168ba1-077a-3556-b5d7-724deaf371f4",
          "instanceIdentifier" : "af516798-6557-33bc-dcf1-d62339e64972",
          "name" : "ExtractText",
          "comments" : "",
          "position" : {
            "x" : -4240.0,
            "y" : 1208.0
          },
          "type" : "org.apache.nifi.processors.standard.ExtractText",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.16.2"
          },
          "properties" : {
            "Enable Unicode Predefined Character Classes" : "false",
            "Permit Whitespace and Comments in Pattern" : "false",
            "Enable Unicode-aware Case Folding" : "false",
            "data" : "(.*)",
            "Enable DOTALL Mode" : "false",
            "Enable Unix Lines Mode" : "false",
            "extract-text-enable-named-groups" : "false",
            "Maximum Buffer Size" : "10 MB",
            "Enable Canonical Equivalence" : "false",
            "Enable Case-insensitive Matching" : "false",
            "Enable Multiline Mode" : "false",
            "Maximum Capture Group Length" : "10000000",
            "Enable Literal Parsing of the Pattern" : "false",
            "Character Set" : "UTF-8",
            "Include Capture Group 0" : "true",
            "extract-text-enable-repeating-capture-group" : "false"
          },
          "propertyDescriptors" : {
            "Enable Unicode Predefined Character Classes" : {
              "name" : "Enable Unicode Predefined Character Classes",
              "displayName" : "Enable Unicode Predefined Character Classes",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Permit Whitespace and Comments in Pattern" : {
              "name" : "Permit Whitespace and Comments in Pattern",
              "displayName" : "Permit Whitespace and Comments in Pattern",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Enable Unicode-aware Case Folding" : {
              "name" : "Enable Unicode-aware Case Folding",
              "displayName" : "Enable Unicode-aware Case Folding",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "data" : {
              "name" : "data",
              "displayName" : "data",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Enable DOTALL Mode" : {
              "name" : "Enable DOTALL Mode",
              "displayName" : "Enable DOTALL Mode",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Enable Unix Lines Mode" : {
              "name" : "Enable Unix Lines Mode",
              "displayName" : "Enable Unix Lines Mode",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "extract-text-enable-named-groups" : {
              "name" : "extract-text-enable-named-groups",
              "displayName" : "Enable named group support",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Maximum Buffer Size" : {
              "name" : "Maximum Buffer Size",
              "displayName" : "Maximum Buffer Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Enable Canonical Equivalence" : {
              "name" : "Enable Canonical Equivalence",
              "displayName" : "Enable Canonical Equivalence",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Enable Case-insensitive Matching" : {
              "name" : "Enable Case-insensitive Matching",
              "displayName" : "Enable Case-insensitive Matching",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Enable Multiline Mode" : {
              "name" : "Enable Multiline Mode",
              "displayName" : "Enable Multiline Mode",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Maximum Capture Group Length" : {
              "name" : "Maximum Capture Group Length",
              "displayName" : "Maximum Capture Group Length",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Enable Literal Parsing of the Pattern" : {
              "name" : "Enable Literal Parsing of the Pattern",
              "displayName" : "Enable Literal Parsing of the Pattern",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Character Set" : {
              "name" : "Character Set",
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Include Capture Group 0" : {
              "name" : "Include Capture Group 0",
              "displayName" : "Include Capture Group 0",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "extract-text-enable-repeating-capture-group" : {
              "name" : "extract-text-enable-repeating-capture-group",
              "displayName" : "Enable repeating capture group",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "style" : { },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "retryCount" : 10,
          "retriedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "maxBackoffPeriod" : "10 mins",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        } ],
        "inputPorts" : [ {
          "identifier" : "c542c44e-0f56-3d7d-9ada-87cf495cff9f",
          "instanceIdentifier" : "ac55182b-446a-35d0-b805-90a076fb26af",
          "name" : "INPUT",
          "comments" : "",
          "position" : {
            "x" : -4352.0,
            "y" : 624.0
          },
          "type" : "INPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "scheduledState" : "ENABLED",
          "allowRemoteAccess" : false,
          "componentType" : "INPUT_PORT",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        } ],
        "outputPorts" : [ {
          "identifier" : "675d4eaa-a706-3ffd-a162-8caa8cc1a673",
          "instanceIdentifier" : "9ed50df0-6ef0-32f7-ebec-5b7a5f5f7395",
          "name" : "SUCCESS",
          "comments" : "",
          "position" : {
            "x" : -4664.0,
            "y" : 2232.0
          },
          "type" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "scheduledState" : "ENABLED",
          "allowRemoteAccess" : false,
          "componentType" : "OUTPUT_PORT",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "537dac1c-8b22-3a97-8bcc-4ae3a263e478",
          "instanceIdentifier" : "3d15cb92-cb0a-3132-fc15-284576d911eb",
          "name" : "ERROR",
          "comments" : "",
          "position" : {
            "x" : -3976.0,
            "y" : 2264.0
          },
          "type" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "scheduledState" : "ENABLED",
          "allowRemoteAccess" : false,
          "componentType" : "OUTPUT_PORT",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        } ],
        "connections" : [ {
          "identifier" : "eef9e8a0-fe46-3b91-95a3-d5ce27f9ba48",
          "instanceIdentifier" : "2ff24949-e3aa-3d9e-3e5f-e95bda0fcd8e",
          "name" : "",
          "source" : {
            "id" : "b849a239-a8a6-392b-914e-88e1fb9b7618",
            "type" : "PROCESSOR",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "Populate Request",
            "comments" : "",
            "instanceIdentifier" : "47b87b8c-7a97-322d-6931-36c9c4be5bc8"
          },
          "destination" : {
            "id" : "73cc72a7-dc72-3769-826c-f90dcae9f1bc",
            "type" : "PROCESSOR",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "PUT ElasticSearch Attachment",
            "comments" : "",
            "instanceIdentifier" : "6aa7bf6c-4b3d-3c55-c761-94475326a204"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "b2dcde09-1f00-3bd7-b7e9-95cbdd125937",
          "instanceIdentifier" : "208f23f0-64cd-3f4a-c9ef-0543916c2df6",
          "name" : "",
          "source" : {
            "id" : "6155685f-d84a-3070-b35d-24dc8179b8ae",
            "type" : "PROCESSOR",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "ReplaceText",
            "comments" : "",
            "instanceIdentifier" : "058e272d-a8b2-3dad-e7fe-8861c8de35a2"
          },
          "destination" : {
            "id" : "96168ba1-077a-3556-b5d7-724deaf371f4",
            "type" : "PROCESSOR",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "ExtractText",
            "comments" : "",
            "instanceIdentifier" : "af516798-6557-33bc-dcf1-d62339e64972"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "27bd2e9f-1b90-3cad-9d77-e5342f4bbb1c",
          "instanceIdentifier" : "a72aa68e-1cdd-38db-66bc-ad2b248bc118",
          "name" : "",
          "source" : {
            "id" : "c542c44e-0f56-3d7d-9ada-87cf495cff9f",
            "type" : "INPUT_PORT",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "INPUT",
            "comments" : "",
            "instanceIdentifier" : "ac55182b-446a-35d0-b805-90a076fb26af"
          },
          "destination" : {
            "id" : "4d230fbe-03d2-3b4d-93ca-6405ce73fce6",
            "type" : "PROCESSOR",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "FetchFile",
            "comments" : "",
            "instanceIdentifier" : "0f3e8d01-8d47-39fd-c80f-07173456498e"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "ddc5e83a-f741-3e2c-b913-c6b1309310c3",
          "instanceIdentifier" : "68fd6965-17a8-3c15-2001-8a8c4324e8c8",
          "name" : "",
          "source" : {
            "id" : "6e628df4-9314-39df-986d-12ec6a2148bb",
            "type" : "PROCESSOR",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "Log error message",
            "comments" : "",
            "instanceIdentifier" : "6df2cb6f-1cad-3895-01ff-2461b670ffc9"
          },
          "destination" : {
            "id" : "6a6fdda1-df03-323e-ab8a-1e77c274c73e",
            "type" : "FUNNEL",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "Funnel",
            "comments" : "",
            "instanceIdentifier" : "94ef52d9-00fe-3237-ba76-3db74d9323bf"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "7399fccd-3914-3a7d-99b3-8f8c3f1affdb",
          "instanceIdentifier" : "5a69b538-d3e5-3357-2dfe-f66c1317de4e",
          "name" : "",
          "source" : {
            "id" : "4d230fbe-03d2-3b4d-93ca-6405ce73fce6",
            "type" : "PROCESSOR",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "FetchFile",
            "comments" : "",
            "instanceIdentifier" : "0f3e8d01-8d47-39fd-c80f-07173456498e"
          },
          "destination" : {
            "id" : "1a016dfe-72f4-38a9-815c-b663d6999602",
            "type" : "PROCESSOR",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "Log error message",
            "comments" : "",
            "instanceIdentifier" : "de331a17-666c-309a-8fd8-93a81af80cdf"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "failure", "permission.denied", "not.found" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "121d344c-62c8-358e-8fd9-862baf022cb0",
          "instanceIdentifier" : "1939c9ca-b74a-3e84-fdc4-deb4890aeb91",
          "name" : "",
          "source" : {
            "id" : "381f66a0-72f0-31e8-b580-6a0ad567157a",
            "type" : "PROCESSOR",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "Log error message",
            "comments" : "",
            "instanceIdentifier" : "437192d1-3656-31b8-6b36-94a85e816307"
          },
          "destination" : {
            "id" : "675d4eaa-a706-3ffd-a162-8caa8cc1a673",
            "type" : "OUTPUT_PORT",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "SUCCESS",
            "comments" : "",
            "instanceIdentifier" : "9ed50df0-6ef0-32f7-ebec-5b7a5f5f7395"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "8ec84ccb-5f90-3267-b6ac-97b1559be4f5",
          "instanceIdentifier" : "ea8e6154-d7e4-38d7-9c4b-25afc85262b1",
          "name" : "",
          "source" : {
            "id" : "96168ba1-077a-3556-b5d7-724deaf371f4",
            "type" : "PROCESSOR",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "ExtractText",
            "comments" : "",
            "instanceIdentifier" : "af516798-6557-33bc-dcf1-d62339e64972"
          },
          "destination" : {
            "id" : "15d9db5c-0275-33cf-ba1a-902f845e6cb6",
            "type" : "PROCESSOR",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "Log error message",
            "comments" : "",
            "instanceIdentifier" : "0c15d5e3-07e9-3cd8-f6bb-16b64032afc4"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "unmatched" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "3f92174e-a048-3424-bd1f-d595856e0da9",
          "instanceIdentifier" : "3c2c3d26-e882-3458-0872-25bb0d00f23b",
          "name" : "",
          "source" : {
            "id" : "2298cdaf-8972-32cd-913b-6c816e8c1e4d",
            "type" : "PROCESSOR",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "AttributesToJSON",
            "comments" : "",
            "instanceIdentifier" : "e2bfcd8d-3e7f-35a6-88e6-10e162bb599e"
          },
          "destination" : {
            "id" : "bbba941c-aaf8-393d-9ecb-18a4d20d26c1",
            "type" : "PROCESSOR",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "Log error message",
            "comments" : "",
            "instanceIdentifier" : "deaf74cc-23cf-3234-da3f-95543e22bffa"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "failure" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "db701b1c-3a00-3c3b-ad2d-7ec7e3fed7c1",
          "instanceIdentifier" : "be050fca-9f80-3d98-e27d-0526d539a084",
          "name" : "",
          "source" : {
            "id" : "4d230fbe-03d2-3b4d-93ca-6405ce73fce6",
            "type" : "PROCESSOR",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "FetchFile",
            "comments" : "",
            "instanceIdentifier" : "0f3e8d01-8d47-39fd-c80f-07173456498e"
          },
          "destination" : {
            "id" : "95a1eda9-b867-3dc2-8d5b-143abf92d093",
            "type" : "PROCESSOR",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "Base64EncodeContent",
            "comments" : "",
            "instanceIdentifier" : "5077da42-3488-329a-2f84-8922eec12d06"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "b43e154c-5e7d-3cbf-89cb-18be961e6eff",
          "instanceIdentifier" : "87400a28-47eb-3181-7ccc-4c9780afa446",
          "name" : "",
          "source" : {
            "id" : "e2707284-782b-3026-87a1-262117e7ebbe",
            "type" : "PROCESSOR",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "Log error message",
            "comments" : "",
            "instanceIdentifier" : "ac7e6030-e0b0-35a3-962e-5281b36af0db"
          },
          "destination" : {
            "id" : "113c8390-26b6-32bb-a28c-a6b2b1ca2b9b",
            "type" : "FUNNEL",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "Funnel",
            "comments" : "",
            "instanceIdentifier" : "e8587249-b436-3816-aa38-93cc3b5069d5"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "34097912-a9e3-3934-98e6-e4e4ec0022a4",
          "instanceIdentifier" : "23cbecca-0b07-33bb-a73e-1bc5126b292f",
          "name" : "",
          "source" : {
            "id" : "2298cdaf-8972-32cd-913b-6c816e8c1e4d",
            "type" : "PROCESSOR",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "AttributesToJSON",
            "comments" : "",
            "instanceIdentifier" : "e2bfcd8d-3e7f-35a6-88e6-10e162bb599e"
          },
          "destination" : {
            "id" : "b849a239-a8a6-392b-914e-88e1fb9b7618",
            "type" : "PROCESSOR",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "Populate Request",
            "comments" : "",
            "instanceIdentifier" : "47b87b8c-7a97-322d-6931-36c9c4be5bc8"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "d450e8a2-82c8-3598-a6c4-24172538d504",
          "instanceIdentifier" : "89380d3e-cdd6-3efa-cdcb-1a342b6c9c13",
          "name" : "",
          "source" : {
            "id" : "15d9db5c-0275-33cf-ba1a-902f845e6cb6",
            "type" : "PROCESSOR",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "Log error message",
            "comments" : "",
            "instanceIdentifier" : "0c15d5e3-07e9-3cd8-f6bb-16b64032afc4"
          },
          "destination" : {
            "id" : "6a6fdda1-df03-323e-ab8a-1e77c274c73e",
            "type" : "FUNNEL",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "Funnel",
            "comments" : "",
            "instanceIdentifier" : "94ef52d9-00fe-3237-ba76-3db74d9323bf"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "e7f555db-6f65-378b-94f7-75d3562b2770",
          "instanceIdentifier" : "7485d920-c3cd-306b-0dc1-4aa67b08c2ed",
          "name" : "",
          "source" : {
            "id" : "95a1eda9-b867-3dc2-8d5b-143abf92d093",
            "type" : "PROCESSOR",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "Base64EncodeContent",
            "comments" : "",
            "instanceIdentifier" : "5077da42-3488-329a-2f84-8922eec12d06"
          },
          "destination" : {
            "id" : "6155685f-d84a-3070-b35d-24dc8179b8ae",
            "type" : "PROCESSOR",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "ReplaceText",
            "comments" : "",
            "instanceIdentifier" : "058e272d-a8b2-3dad-e7fe-8861c8de35a2"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "d297b2a9-2f5b-3e84-85f2-c75367d94ced",
          "instanceIdentifier" : "5d495903-d59a-35a7-6dac-7b19ad1713b6",
          "name" : "",
          "source" : {
            "id" : "96168ba1-077a-3556-b5d7-724deaf371f4",
            "type" : "PROCESSOR",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "ExtractText",
            "comments" : "",
            "instanceIdentifier" : "af516798-6557-33bc-dcf1-d62339e64972"
          },
          "destination" : {
            "id" : "c3ab7df4-0be1-3392-8711-da85b757427d",
            "type" : "PROCESSOR",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "UpdateAttribute",
            "comments" : "",
            "instanceIdentifier" : "30298d96-b561-37b8-0b02-5d1815b733a1"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "matched" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "99c0a1b2-7510-3014-8f4b-1e2eb082aba8",
          "instanceIdentifier" : "29f0af28-e797-3ab4-2d65-ede0d92d729a",
          "name" : "",
          "source" : {
            "id" : "bbba941c-aaf8-393d-9ecb-18a4d20d26c1",
            "type" : "PROCESSOR",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "Log error message",
            "comments" : "",
            "instanceIdentifier" : "deaf74cc-23cf-3234-da3f-95543e22bffa"
          },
          "destination" : {
            "id" : "6a6fdda1-df03-323e-ab8a-1e77c274c73e",
            "type" : "FUNNEL",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "Funnel",
            "comments" : "",
            "instanceIdentifier" : "94ef52d9-00fe-3237-ba76-3db74d9323bf"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "662c23d9-f6be-348c-a9e2-0133b6383b4b",
          "instanceIdentifier" : "001919ce-1d91-3a98-17c4-cab724b5894c",
          "name" : "",
          "source" : {
            "id" : "1a016dfe-72f4-38a9-815c-b663d6999602",
            "type" : "PROCESSOR",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "Log error message",
            "comments" : "",
            "instanceIdentifier" : "de331a17-666c-309a-8fd8-93a81af80cdf"
          },
          "destination" : {
            "id" : "113c8390-26b6-32bb-a28c-a6b2b1ca2b9b",
            "type" : "FUNNEL",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "Funnel",
            "comments" : "",
            "instanceIdentifier" : "e8587249-b436-3816-aa38-93cc3b5069d5"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "af40502f-01bc-3ccf-ac6a-e1012cf2327d",
          "instanceIdentifier" : "00b17fd9-cea8-3573-e88f-5796ff56fcfe",
          "name" : "",
          "source" : {
            "id" : "113c8390-26b6-32bb-a28c-a6b2b1ca2b9b",
            "type" : "FUNNEL",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "Funnel",
            "comments" : "",
            "instanceIdentifier" : "e8587249-b436-3816-aa38-93cc3b5069d5"
          },
          "destination" : {
            "id" : "537dac1c-8b22-3a97-8bcc-4ae3a263e478",
            "type" : "OUTPUT_PORT",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "ERROR",
            "comments" : "",
            "instanceIdentifier" : "3d15cb92-cb0a-3132-fc15-284576d911eb"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "ecd51055-e208-342e-8aa7-a2ad8a6993c8",
          "instanceIdentifier" : "88ceb38f-6479-37c2-f56b-68c0742fedbc",
          "name" : "",
          "source" : {
            "id" : "c3ab7df4-0be1-3392-8711-da85b757427d",
            "type" : "PROCESSOR",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "UpdateAttribute",
            "comments" : "",
            "instanceIdentifier" : "30298d96-b561-37b8-0b02-5d1815b733a1"
          },
          "destination" : {
            "id" : "2298cdaf-8972-32cd-913b-6c816e8c1e4d",
            "type" : "PROCESSOR",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "AttributesToJSON",
            "comments" : "",
            "instanceIdentifier" : "e2bfcd8d-3e7f-35a6-88e6-10e162bb599e"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "d72b89c6-120f-319f-b08f-9c096c8dfba7",
          "instanceIdentifier" : "72814ca3-14c1-3fae-08d3-dae244f3beac",
          "name" : "",
          "source" : {
            "id" : "6a6fdda1-df03-323e-ab8a-1e77c274c73e",
            "type" : "FUNNEL",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "Funnel",
            "comments" : "",
            "instanceIdentifier" : "94ef52d9-00fe-3237-ba76-3db74d9323bf"
          },
          "destination" : {
            "id" : "537dac1c-8b22-3a97-8bcc-4ae3a263e478",
            "type" : "OUTPUT_PORT",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "ERROR",
            "comments" : "",
            "instanceIdentifier" : "3d15cb92-cb0a-3132-fc15-284576d911eb"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "d9e31b2b-f3df-3aa7-bea0-533dc6380396",
          "instanceIdentifier" : "e6d2d7b9-fe0d-3aeb-eef2-74a3b531150c",
          "name" : "",
          "source" : {
            "id" : "73cc72a7-dc72-3769-826c-f90dcae9f1bc",
            "type" : "PROCESSOR",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "PUT ElasticSearch Attachment",
            "comments" : "",
            "instanceIdentifier" : "6aa7bf6c-4b3d-3c55-c761-94475326a204"
          },
          "destination" : {
            "id" : "381f66a0-72f0-31e8-b580-6a0ad567157a",
            "type" : "PROCESSOR",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "Log error message",
            "comments" : "",
            "instanceIdentifier" : "437192d1-3656-31b8-6b36-94a85e816307"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "Response" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "ac3b36d1-c541-32b6-8213-87021272ed9b",
          "instanceIdentifier" : "c8b9e8d6-1fb6-36bd-f0c6-f3ca017d0f95",
          "name" : "",
          "source" : {
            "id" : "6155685f-d84a-3070-b35d-24dc8179b8ae",
            "type" : "PROCESSOR",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "ReplaceText",
            "comments" : "",
            "instanceIdentifier" : "058e272d-a8b2-3dad-e7fe-8861c8de35a2"
          },
          "destination" : {
            "id" : "6e628df4-9314-39df-986d-12ec6a2148bb",
            "type" : "PROCESSOR",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "Log error message",
            "comments" : "",
            "instanceIdentifier" : "6df2cb6f-1cad-3895-01ff-2461b670ffc9"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "failure" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "febfe515-1b06-30c7-b6f6-9bec78c8ae3f",
          "instanceIdentifier" : "e2bd909d-59b8-3113-0b0a-6ce1c2007203",
          "name" : "",
          "source" : {
            "id" : "95a1eda9-b867-3dc2-8d5b-143abf92d093",
            "type" : "PROCESSOR",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "Base64EncodeContent",
            "comments" : "",
            "instanceIdentifier" : "5077da42-3488-329a-2f84-8922eec12d06"
          },
          "destination" : {
            "id" : "e2707284-782b-3026-87a1-262117e7ebbe",
            "type" : "PROCESSOR",
            "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
            "name" : "Log error message",
            "comments" : "",
            "instanceIdentifier" : "ac7e6030-e0b0-35a3-962e-5281b36af0db"
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "failure" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        } ],
        "labels" : [ ],
        "funnels" : [ {
          "identifier" : "113c8390-26b6-32bb-a28c-a6b2b1ca2b9b",
          "instanceIdentifier" : "e8587249-b436-3816-aa38-93cc3b5069d5",
          "position" : {
            "x" : -2400.0,
            "y" : 1040.0
          },
          "componentType" : "FUNNEL",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        }, {
          "identifier" : "6a6fdda1-df03-323e-ab8a-1e77c274c73e",
          "instanceIdentifier" : "94ef52d9-00fe-3237-ba76-3db74d9323bf",
          "position" : {
            "x" : -6115.733958368788,
            "y" : 1334.2782472695326
          },
          "componentType" : "FUNNEL",
          "groupIdentifier" : "3efdf9be-77dc-3dad-914c-68ed77663586"
        } ],
        "controllerServices" : [ ],
        "variables" : { },
        "defaultFlowFileExpiration" : "0 sec",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "componentType" : "PROCESS_GROUP",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "groupIdentifier" : "81421b2b-3f72-3b58-9dd2-fd69e95ede58"
      } ],
      "remoteProcessGroups" : [ {
        "identifier" : "78b5f75d-6706-3151-918b-5812495ef04a",
        "instanceIdentifier" : "7af57092-817a-3246-a6e9-291fd7330dc5",
        "name" : "NiFi Flow",
        "comments" : "",
        "position" : {
          "x" : 440.0,
          "y" : -824.0
        },
        "targetUri" : "http://localhost:30600/nifi",
        "targetUris" : "http://localhost:30600/nifi",
        "communicationsTimeout" : "30 sec",
        "yieldDuration" : "10 sec",
        "transportProtocol" : "RAW",
        "proxyHost" : "",
        "proxyUser" : "",
        "inputPorts" : [ {
          "identifier" : "c926f552-a6bb-36dc-836c-13d66faf0e81",
          "instanceIdentifier" : "6d48d2a5-25f6-3f69-8185-b6f12ecc3895",
          "name" : "Bulk Description INPUT",
          "remoteGroupId" : "78b5f75d-6706-3151-918b-5812495ef04a",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "e046867f-0181-1000-faca-4daccda092e3",
          "scheduledState" : "ENABLED",
          "groupIdentifier" : "78b5f75d-6706-3151-918b-5812495ef04a"
        }, {
          "identifier" : "2c15e08d-acbb-3057-a737-fd726282dcfd",
          "instanceIdentifier" : "aa20b3ff-a4d4-3615-acf0-3f208dcff1ea",
          "name" : "Routing INPUT",
          "comments" : "",
          "remoteGroupId" : "78b5f75d-6706-3151-918b-5812495ef04a",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "f149f53d-34d3-3102-2b9c-08798f9838b4",
          "scheduledState" : "ENABLED",
          "groupIdentifier" : "78b5f75d-6706-3151-918b-5812495ef04a"
        }, {
          "identifier" : "584538fc-05f2-39a3-8a5c-74a1af1b0979",
          "instanceIdentifier" : "63934619-d872-39f5-6ab9-d43e5b9af91f",
          "name" : "Bulk Inventory INPUT",
          "remoteGroupId" : "78b5f75d-6706-3151-918b-5812495ef04a",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "e0468784-0181-1000-941e-726a0b93b332",
          "scheduledState" : "ENABLED",
          "groupIdentifier" : "78b5f75d-6706-3151-918b-5812495ef04a"
        }, {
          "identifier" : "724265ea-755d-3322-a7e7-58afdf4ccf26",
          "instanceIdentifier" : "69ea688c-cdd9-3b2d-ee98-7e10463a0794",
          "name" : "Bulk Catalog INPUT",
          "remoteGroupId" : "78b5f75d-6706-3151-918b-5812495ef04a",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "e046840d-0181-1000-3195-9eb0b9cbffb1",
          "scheduledState" : "ENABLED",
          "groupIdentifier" : "78b5f75d-6706-3151-918b-5812495ef04a"
        }, {
          "identifier" : "f1ba4ad2-8d61-35f8-9492-32434be941ee",
          "instanceIdentifier" : "99602af2-a211-362c-f334-748c8f70e627",
          "name" : "Run INPUT",
          "remoteGroupId" : "78b5f75d-6706-3151-918b-5812495ef04a",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "e0468247-0181-1000-0d0f-f13cb7130926",
          "scheduledState" : "ENABLED",
          "groupIdentifier" : "78b5f75d-6706-3151-918b-5812495ef04a"
        }, {
          "identifier" : "14f35a46-a7ff-36a5-a558-98f626c400f0",
          "instanceIdentifier" : "d7bf23e8-6f10-361e-c857-4ae0ecf5d749",
          "name" : "Logger INPUT",
          "remoteGroupId" : "78b5f75d-6706-3151-918b-5812495ef04a",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "e0468167-0181-1000-56a8-d878f717cb2e",
          "scheduledState" : "ENABLED",
          "groupIdentifier" : "78b5f75d-6706-3151-918b-5812495ef04a"
        }, {
          "identifier" : "b11f6eb1-160e-3080-a0ef-68d4f82cbb66",
          "instanceIdentifier" : "0d1aecf8-7141-3cd2-76ab-47f588bbef11",
          "name" : "Bulk Price INPUT",
          "remoteGroupId" : "78b5f75d-6706-3151-918b-5812495ef04a",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "e0468702-0181-1000-6a5f-11f4bdb9c4fc",
          "scheduledState" : "ENABLED",
          "groupIdentifier" : "78b5f75d-6706-3151-918b-5812495ef04a"
        }, {
          "identifier" : "10ebd690-c8aa-30d4-a9d6-3c9df270c461",
          "instanceIdentifier" : "cf095367-231d-32dc-8235-fdd20f582d9e",
          "name" : "Bulk Category INPUT",
          "remoteGroupId" : "78b5f75d-6706-3151-918b-5812495ef04a",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "e046852d-0181-1000-013c-dd43dd522e01",
          "scheduledState" : "ENABLED",
          "groupIdentifier" : "78b5f75d-6706-3151-918b-5812495ef04a"
        }, {
          "identifier" : "6335b409-210c-331f-acd6-334939af33fb",
          "instanceIdentifier" : "3578e811-be4d-3bb2-2b3a-1510f0041f3d",
          "name" : "Bulk Product INPUT",
          "remoteGroupId" : "78b5f75d-6706-3151-918b-5812495ef04a",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "e04685ea-0181-1000-3d58-6544d1892157",
          "scheduledState" : "ENABLED",
          "groupIdentifier" : "78b5f75d-6706-3151-918b-5812495ef04a"
        }, {
          "identifier" : "45a76d76-e4ce-39f2-9e7d-d2fdb2d4bb53",
          "instanceIdentifier" : "c2c5ea07-ae88-3430-fdea-1fbe3534d1fc",
          "name" : "Terminal INPUT",
          "remoteGroupId" : "78b5f75d-6706-3151-918b-5812495ef04a",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "e04682d5-0181-1000-9dd0-2d2f8789a615",
          "scheduledState" : "ENABLED",
          "groupIdentifier" : "78b5f75d-6706-3151-918b-5812495ef04a"
        }, {
          "identifier" : "da57150d-406b-3963-9f99-134a8ad7f1df",
          "instanceIdentifier" : "4fb365dd-8995-3eda-cba6-82f6dcbd89f1",
          "name" : "Bulk Attribute INPUT",
          "remoteGroupId" : "78b5f75d-6706-3151-918b-5812495ef04a",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "e04684b0-0181-1000-64d9-bd9a3780d901",
          "scheduledState" : "ENABLED",
          "groupIdentifier" : "78b5f75d-6706-3151-918b-5812495ef04a"
        }, {
          "identifier" : "ad37f2b4-713b-3cbe-9920-ce23099b1e6d",
          "instanceIdentifier" : "6daf41bd-6e4b-3bae-24bd-9184c64a5154",
          "name" : "Bulk Dataload INPUT",
          "remoteGroupId" : "78b5f75d-6706-3151-918b-5812495ef04a",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "e0468880-0181-1000-7beb-097a1d63233d",
          "scheduledState" : "ENABLED",
          "groupIdentifier" : "78b5f75d-6706-3151-918b-5812495ef04a"
        }, {
          "identifier" : "07df4fbc-6827-3151-9f7c-e84a19174220",
          "instanceIdentifier" : "77293f51-51f6-38ed-ac02-bfb4c277398b",
          "name" : "Bulk Store INPUT",
          "remoteGroupId" : "78b5f75d-6706-3151-918b-5812495ef04a",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "e046837d-0181-1000-dada-46d73289577d",
          "scheduledState" : "ENABLED",
          "groupIdentifier" : "78b5f75d-6706-3151-918b-5812495ef04a"
        }, {
          "identifier" : "42032112-d866-390b-ac50-9b261c75724c",
          "instanceIdentifier" : "32672c61-024d-354d-e8f6-b0bb89c52c84",
          "name" : "Bulk URL INPUT",
          "remoteGroupId" : "78b5f75d-6706-3151-918b-5812495ef04a",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "e0468806-0181-1000-a248-6dca4d413193",
          "scheduledState" : "ENABLED",
          "groupIdentifier" : "78b5f75d-6706-3151-918b-5812495ef04a"
        } ],
        "outputPorts" : [ ],
        "componentType" : "REMOTE_PROCESS_GROUP",
        "groupIdentifier" : "81421b2b-3f72-3b58-9dd2-fd69e95ede58"
      } ],
      "processors" : [ ],
      "inputPorts" : [ {
        "identifier" : "1be99545-38bf-3b0d-b357-1cd3ebf77c4b",
        "instanceIdentifier" : "2e6ca0c8-1932-35dd-da0d-f4dfc2dab3e1",
        "name" : "INPUT",
        "comments" : "",
        "position" : {
          "x" : 1864.0,
          "y" : -1048.0
        },
        "type" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "scheduledState" : "ENABLED",
        "allowRemoteAccess" : false,
        "componentType" : "INPUT_PORT",
        "groupIdentifier" : "81421b2b-3f72-3b58-9dd2-fd69e95ede58"
      } ],
      "outputPorts" : [ {
        "identifier" : "b2e65c13-e435-3338-b927-e610f8749416",
        "instanceIdentifier" : "ac7ddbf7-4faa-3726-d531-3e7608203ce7",
        "name" : "OUTPUT",
        "comments" : "",
        "position" : {
          "x" : 1232.0,
          "y" : -496.0
        },
        "type" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "scheduledState" : "ENABLED",
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "groupIdentifier" : "81421b2b-3f72-3b58-9dd2-fd69e95ede58"
      } ],
      "connections" : [ {
        "identifier" : "58f4e10a-0f4c-3106-a85e-55b90b33f791",
        "instanceIdentifier" : "ef8964b6-6da0-3939-74b0-de9bd240a75b",
        "name" : "",
        "source" : {
          "id" : "72629f28-7c7f-3c5c-a55c-6aaccdd56d3f",
          "type" : "OUTPUT_PORT",
          "groupId" : "787963c7-6edf-3491-b3b7-cd41d33adf8e",
          "name" : "Output",
          "instanceIdentifier" : "f01edbed-2f12-3ed8-ca3b-cf0730821fb2"
        },
        "destination" : {
          "id" : "c542c44e-0f56-3d7d-9ada-87cf495cff9f",
          "type" : "INPUT_PORT",
          "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
          "name" : "INPUT",
          "comments" : "",
          "instanceIdentifier" : "ac55182b-446a-35d0-b805-90a076fb26af"
        },
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "" ],
        "backPressureObjectThreshold" : 10000,
        "backPressureDataSizeThreshold" : "1 GB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ ],
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute" : "",
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "componentType" : "CONNECTION",
        "groupIdentifier" : "81421b2b-3f72-3b58-9dd2-fd69e95ede58"
      }, {
        "identifier" : "d56edfad-97b1-31d0-93f7-82dbc14452bc",
        "instanceIdentifier" : "f8f4f9d7-eb1a-3404-b75e-c348cecb032b",
        "name" : "",
        "source" : {
          "id" : "675d4eaa-a706-3ffd-a162-8caa8cc1a673",
          "type" : "OUTPUT_PORT",
          "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
          "name" : "SUCCESS",
          "comments" : "",
          "instanceIdentifier" : "9ed50df0-6ef0-32f7-ebec-5b7a5f5f7395"
        },
        "destination" : {
          "id" : "b2e65c13-e435-3338-b927-e610f8749416",
          "type" : "OUTPUT_PORT",
          "groupId" : "81421b2b-3f72-3b58-9dd2-fd69e95ede58",
          "name" : "OUTPUT",
          "comments" : "",
          "instanceIdentifier" : "ac7ddbf7-4faa-3726-d531-3e7608203ce7"
        },
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "" ],
        "backPressureObjectThreshold" : 10000,
        "backPressureDataSizeThreshold" : "1 GB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ ],
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute" : "",
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "componentType" : "CONNECTION",
        "groupIdentifier" : "81421b2b-3f72-3b58-9dd2-fd69e95ede58"
      }, {
        "identifier" : "387de2a9-c54b-3e20-973f-5a0b89842796",
        "instanceIdentifier" : "415c8901-076c-3758-3bed-93c6e5e4015e",
        "name" : "",
        "source" : {
          "id" : "1be99545-38bf-3b0d-b357-1cd3ebf77c4b",
          "type" : "INPUT_PORT",
          "groupId" : "81421b2b-3f72-3b58-9dd2-fd69e95ede58",
          "name" : "INPUT",
          "comments" : "",
          "instanceIdentifier" : "2e6ca0c8-1932-35dd-da0d-f4dfc2dab3e1"
        },
        "destination" : {
          "id" : "c099e654-e8f5-3fa5-b145-941bedfb77b6",
          "type" : "INPUT_PORT",
          "groupId" : "787963c7-6edf-3491-b3b7-cd41d33adf8e",
          "name" : "Input",
          "instanceIdentifier" : "61172531-d991-379b-aa6c-11313a1f7e7f"
        },
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "" ],
        "backPressureObjectThreshold" : 10000,
        "backPressureDataSizeThreshold" : "1 GB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ ],
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute" : "",
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "componentType" : "CONNECTION",
        "groupIdentifier" : "81421b2b-3f72-3b58-9dd2-fd69e95ede58"
      }, {
        "identifier" : "0382d583-ec27-34c4-86f6-7cd5ac840dcd",
        "instanceIdentifier" : "a039ac39-ec52-3e30-717c-a0607821ef0c",
        "name" : "",
        "source" : {
          "id" : "537dac1c-8b22-3a97-8bcc-4ae3a263e478",
          "type" : "OUTPUT_PORT",
          "groupId" : "3efdf9be-77dc-3dad-914c-68ed77663586",
          "name" : "ERROR",
          "comments" : "",
          "instanceIdentifier" : "3d15cb92-cb0a-3132-fc15-284576d911eb"
        },
        "destination" : {
          "id" : "14f35a46-a7ff-36a5-a558-98f626c400f0",
          "type" : "REMOTE_INPUT_PORT",
          "groupId" : "78b5f75d-6706-3151-918b-5812495ef04a",
          "name" : "Logger INPUT",
          "instanceIdentifier" : "d7bf23e8-6f10-361e-c857-4ae0ecf5d749"
        },
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "" ],
        "backPressureObjectThreshold" : 10000,
        "backPressureDataSizeThreshold" : "1 GB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ ],
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute" : "",
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "componentType" : "CONNECTION",
        "groupIdentifier" : "81421b2b-3f72-3b58-9dd2-fd69e95ede58"
      } ],
      "labels" : [ {
        "identifier" : "aa3100fb-f5f5-3e3d-a3f9-fd9ccc933878",
        "instanceIdentifier" : "d209cda7-0c50-393a-fcef-806bf70e3df6",
        "position" : {
          "x" : 624.0,
          "y" : -944.0
        },
        "label" : "Fetch URL And Invoke Search",
        "zIndex" : 0,
        "width" : 1280.0,
        "height" : 408.0,
        "style" : {
          "font-size" : "20px"
        },
        "componentType" : "LABEL",
        "groupIdentifier" : "81421b2b-3f72-3b58-9dd2-fd69e95ede58"
      } ],
      "funnels" : [ ],
      "controllerServices" : [ ],
      "variables" : { },
      "defaultFlowFileExpiration" : "0 sec",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "componentType" : "PROCESS_GROUP",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "groupIdentifier" : "7b41b213-a11a-39fe-9db3-7438c82ccb8e"
    } ],
    "remoteProcessGroups" : [ ],
    "processors" : [ ],
    "inputPorts" : [ {
      "identifier" : "b18b143d-7590-3058-987e-db0151d200c3",
      "instanceIdentifier" : "0624916c-c068-31c1-2947-6321c51a397e",
      "name" : "INPUT",
      "comments" : "",
      "position" : {
        "x" : 1952.0,
        "y" : -680.0
      },
      "type" : "INPUT_PORT",
      "concurrentlySchedulableTaskCount" : 1,
      "scheduledState" : "ENABLED",
      "allowRemoteAccess" : false,
      "componentType" : "INPUT_PORT",
      "groupIdentifier" : "7b41b213-a11a-39fe-9db3-7438c82ccb8e"
    } ],
    "outputPorts" : [ {
      "identifier" : "6d5dc40b-e22a-339a-8be9-beee2c77da7e",
      "instanceIdentifier" : "cca2f93d-a3c5-3291-29c2-f27059bb0ae0",
      "name" : "OUTPUT",
      "comments" : "",
      "position" : {
        "x" : 1952.0,
        "y" : 40.0
      },
      "type" : "OUTPUT_PORT",
      "concurrentlySchedulableTaskCount" : 1,
      "scheduledState" : "ENABLED",
      "allowRemoteAccess" : false,
      "componentType" : "OUTPUT_PORT",
      "groupIdentifier" : "7b41b213-a11a-39fe-9db3-7438c82ccb8e"
    } ],
    "connections" : [ {
      "identifier" : "11bbb40f-d157-31a4-9589-0c9e48fd3060",
      "instanceIdentifier" : "2db07c4a-bdac-3a03-d3ae-07f75dc75741",
      "name" : "",
      "source" : {
        "id" : "b18b143d-7590-3058-987e-db0151d200c3",
        "type" : "INPUT_PORT",
        "groupId" : "7b41b213-a11a-39fe-9db3-7438c82ccb8e",
        "name" : "INPUT",
        "comments" : "",
        "instanceIdentifier" : "0624916c-c068-31c1-2947-6321c51a397e"
      },
      "destination" : {
        "id" : "1be99545-38bf-3b0d-b357-1cd3ebf77c4b",
        "type" : "INPUT_PORT",
        "groupId" : "81421b2b-3f72-3b58-9dd2-fd69e95ede58",
        "name" : "INPUT",
        "comments" : "",
        "instanceIdentifier" : "2e6ca0c8-1932-35dd-da0d-f4dfc2dab3e1"
      },
      "labelIndex" : 1,
      "zIndex" : 0,
      "selectedRelationships" : [ "" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "7b41b213-a11a-39fe-9db3-7438c82ccb8e"
    }, {
      "identifier" : "af8e4887-382c-3023-b092-1c2c19123a7d",
      "instanceIdentifier" : "b648ed31-7e39-342a-e594-a95a49f98390",
      "name" : "",
      "source" : {
        "id" : "b2e65c13-e435-3338-b927-e610f8749416",
        "type" : "OUTPUT_PORT",
        "groupId" : "81421b2b-3f72-3b58-9dd2-fd69e95ede58",
        "name" : "OUTPUT",
        "comments" : "",
        "instanceIdentifier" : "ac7ddbf7-4faa-3726-d531-3e7608203ce7"
      },
      "destination" : {
        "id" : "6d5dc40b-e22a-339a-8be9-beee2c77da7e",
        "type" : "OUTPUT_PORT",
        "groupId" : "7b41b213-a11a-39fe-9db3-7438c82ccb8e",
        "name" : "OUTPUT",
        "comments" : "",
        "instanceIdentifier" : "cca2f93d-a3c5-3291-29c2-f27059bb0ae0"
      },
      "labelIndex" : 1,
      "zIndex" : 0,
      "selectedRelationships" : [ "" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "7b41b213-a11a-39fe-9db3-7438c82ccb8e"
    } ],
    "labels" : [ {
      "identifier" : "b984e79d-06f0-34eb-ba76-f73d9713f027",
      "instanceIdentifier" : "83cdce32-6fce-37f2-cf74-0cfbbdb5bee7",
      "position" : {
        "x" : 1808.0,
        "y" : -456.0
      },
      "label" : "Custom Connector Pipe (Database)",
      "zIndex" : 0,
      "width" : 528.0,
      "height" : 336.0,
      "style" : {
        "background-color" : "#cceeff",
        "font-size" : "24px"
      },
      "componentType" : "LABEL",
      "groupIdentifier" : "7b41b213-a11a-39fe-9db3-7438c82ccb8e"
    } ],
    "funnels" : [ ],
    "controllerServices" : [ ],
    "variables" : {
      "pipe.name" : "custom-crawl-SiteContentIndexDatabaseConnectorPipe-Attachment",
      "connector.name" : "auth.sitecontent"
    },
    "defaultFlowFileExpiration" : "0 sec",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "componentType" : "PROCESS_GROUP",
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE"
  },
  "externalControllerServices" : { },
  "parameterContexts" : { },
  "flowEncodingVersion" : "1.0"
}