Search_UnstructuredContent/Nifi_Flows/custom-UnstructuredIndexDatabaseConnectorPipe-Attachment.json
{
  "snapshotMetadata" : {
    "version" : 2,
    "timestamp" : 1626957656568,
    "author" : "anonymous",
    "comments" : ""
  },
  "flowContents" : {
    "identifier" : "f0d44d61-5f12-341c-a3cf-39707c9f4e82",
    "name" : "custom - DatabaseCustomConnectorPipe",
    "comments" : "{\n  \"version\": \"9.1.5.0\",\n  \"level\": \"9.1/search-registry-app=v9-1-5-0\"\n}",
    "position" : {
      "x" : 6632.0,
      "y" : 1120.0
    },
    "processGroups" : [ {
      "identifier" : "b48af0a7-75cb-36d9-a294-ef37b9bc2810",
      "name" : "Custom Connector Pipe",
      "comments" : "",
      "position" : {
        "x" : 1880.0,
        "y" : -368.0
      },
      "processGroups" : [ {
        "identifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
        "name" : "Execute SQL And Invoke Search",
        "comments" : "",
        "position" : {
          "x" : 1160.0,
          "y" : -824.0
        },
        "processGroups" : [ ],
        "remoteProcessGroups" : [ ],
        "processors" : [ {
          "identifier" : "8dc06759-5f7e-35fb-ab36-01528819a52a",
          "name" : "Base64EncodeContent",
          "comments" : "",
          "position" : {
            "x" : -3696.0,
            "y" : 1192.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.Base64EncodeContent",
          "properties" : {
            "Mode" : "Encode"
          },
          "propertyDescriptors" : {
            "Mode" : {
              "name" : "Mode",
              "displayName" : "Mode",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "85546e4a-4513-3336-8615-00f2922adbff",
          "name" : "Log error message",
          "comments" : "",
          "position" : {
            "x" : -5008.0,
            "y" : 2008.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.11.4"
          },
          "style" : {
            "background-color" : "#ff0000"
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "properties" : {
            "logger.message.text" : "Successfully initialized ${index.name} index schema",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "logger.message.severity" : "E",
            "logger.message.code" : "DI2009E",
            "logger.message.parameter" : "[ \"${index.name}\" ]"
          },
          "propertyDescriptors" : {
            "logger.message.text" : {
              "name" : "logger.message.text",
              "displayName" : "logger.message.text",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.severity" : {
              "name" : "logger.message.severity",
              "displayName" : "logger.message.severity",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.code" : {
              "name" : "logger.message.code",
              "displayName" : "logger.message.code",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.parameter" : {
              "name" : "logger.message.parameter",
              "displayName" : "logger.message.parameter",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "NONE",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "9cd8fa8c-8475-34f4-89b7-ed022f9127ec",
          "name" : "ReplaceText",
          "comments" : "",
          "position" : {
            "x" : -4312.0,
            "y" : 864.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ReplaceText",
          "properties" : {
            "Regular Expression" : "\\p{C}",
            "Replacement Value" : "",
            "Evaluation Mode" : "Entire text",
            "Line-by-Line Evaluation Mode" : "All",
            "Character Set" : "UTF-8",
            "Maximum Buffer Size" : "10 MB",
            "Replacement Strategy" : "Regex Replace"
          },
          "propertyDescriptors" : {
            "Regular Expression" : {
              "name" : "Regular Expression",
              "displayName" : "Search Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Replacement Value" : {
              "name" : "Replacement Value",
              "displayName" : "Replacement Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Evaluation Mode" : {
              "name" : "Evaluation Mode",
              "displayName" : "Evaluation Mode",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Line-by-Line Evaluation Mode" : {
              "name" : "Line-by-Line Evaluation Mode",
              "displayName" : "Line-by-Line Evaluation Mode",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Character Set" : {
              "name" : "Character Set",
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Maximum Buffer Size" : {
              "name" : "Maximum Buffer Size",
              "displayName" : "Maximum Buffer Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Replacement Strategy" : {
              "name" : "Replacement Strategy",
              "displayName" : "Replacement Strategy",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "c4467dea-3359-3f6f-ae7e-c5d35e033b2d",
          "name" : "Log error message",
          "comments" : "",
          "position" : {
            "x" : -5088.0,
            "y" : 1552.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.11.4"
          },
          "style" : {
            "background-color" : "#ff0000"
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "properties" : {
            "logger.message.text" : "AttributeToJsonError",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "logger.message.severity" : "E",
            "logger.message.code" : "DI2009E"
          },
          "propertyDescriptors" : {
            "logger.message.text" : {
              "name" : "logger.message.text",
              "displayName" : "logger.message.text",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.severity" : {
              "name" : "logger.message.severity",
              "displayName" : "logger.message.severity",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.code" : {
              "name" : "logger.message.code",
              "displayName" : "logger.message.code",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "NONE",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "3f02d34d-32b9-3c3e-952d-cafb662511b3",
          "name" : "ConvertAvroToJSON",
          "comments" : "",
          "position" : {
            "x" : -4408.0,
            "y" : -24.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-avro-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.avro.ConvertAvroToJSON",
          "properties" : {
            "JSON container options" : "array",
            "Wrap Single Record" : "false"
          },
          "propertyDescriptors" : {
            "JSON container options" : {
              "name" : "JSON container options",
              "displayName" : "JSON container options",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Wrap Single Record" : {
              "name" : "Wrap Single Record",
              "displayName" : "Wrap Single Record",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Avro schema" : {
              "name" : "Avro schema",
              "displayName" : "Avro schema",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "c075ef48-52df-392b-94da-3934b4d139eb",
          "name" : "Log error message",
          "comments" : "",
          "position" : {
            "x" : -5112.0,
            "y" : 560.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.11.4"
          },
          "style" : {
            "background-color" : "#ff0000"
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "properties" : {
            "logger.message.text" : "evaluate json path : catentryId",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "logger.message.severity" : "E",
            "logger.message.code" : "DI2009E"
          },
          "propertyDescriptors" : {
            "logger.message.text" : {
              "name" : "logger.message.text",
              "displayName" : "logger.message.text",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.severity" : {
              "name" : "logger.message.severity",
              "displayName" : "logger.message.severity",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.code" : {
              "name" : "logger.message.code",
              "displayName" : "logger.message.code",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "NONE",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "1d2f8a6b-649f-304d-a9d8-0c018572e407",
          "name" : "PUT ElasticSearch Attachment",
          "comments" : "",
          "position" : {
            "x" : -4400.0,
            "y" : 1816.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "properties" : {
            "use-etag" : "false",
            "Proxy Type" : "http",
            "Connection Timeout" : "15 secs",
            "send-message-body" : "true",
            "Always Output Response" : "false",
            "etag-max-cache-size" : "10MB",
            "Use Chunked Encoding" : "false",
            "Follow Redirects" : "False",
            "Remote URL" : "${SEARCH_URL}/${index.name}/_doc/${productId}?pipeline=attachment",
            "Content-Type" : "application/json",
            "Read Timeout" : "45 secs",
            "Max Length To Put In Attribute" : "256",
            "ignore-response-content" : "false",
            "Digest Authentication" : "false",
            "HTTP Method" : "PUT",
            "Add Response Headers to Request" : "false",
            "Include Date Header" : "True",
            "Penalize on \"No Retry\"" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "name" : "Proxy Host",
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Attributes to Send" : {
              "name" : "Attributes to Send",
              "displayName" : "Attributes to Send",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "use-etag" : {
              "name" : "use-etag",
              "displayName" : "Use HTTP ETag",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "name" : "proxy-configuration-service",
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "sensitive" : false
            },
            "Proxy Type" : {
              "name" : "Proxy Type",
              "displayName" : "Proxy Type",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Basic Authentication Password" : {
              "name" : "Basic Authentication Password",
              "displayName" : "Basic Authentication Password",
              "identifiesControllerService" : false,
              "sensitive" : true
            },
            "Connection Timeout" : {
              "name" : "Connection Timeout",
              "displayName" : "Connection Timeout",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "send-message-body" : {
              "name" : "send-message-body",
              "displayName" : "Send Message Body",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Always Output Response" : {
              "name" : "Always Output Response",
              "displayName" : "Always Output Response",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "etag-max-cache-size" : {
              "name" : "etag-max-cache-size",
              "displayName" : "Maximum ETag Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Put Response Body In Attribute" : {
              "name" : "Put Response Body In Attribute",
              "displayName" : "Put Response Body In Attribute",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Use Chunked Encoding" : {
              "name" : "Use Chunked Encoding",
              "displayName" : "Use Chunked Encoding",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Follow Redirects" : {
              "name" : "Follow Redirects",
              "displayName" : "Follow Redirects",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Remote URL" : {
              "name" : "Remote URL",
              "displayName" : "Remote URL",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Content-Type" : {
              "name" : "Content-Type",
              "displayName" : "Content-Type",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "invokehttp-proxy-user" : {
              "name" : "invokehttp-proxy-user",
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Read Timeout" : {
              "name" : "Read Timeout",
              "displayName" : "Read Timeout",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Max Length To Put In Attribute" : {
              "name" : "Max Length To Put In Attribute",
              "displayName" : "Max Length To Put In Attribute",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "invokehttp-proxy-password" : {
              "name" : "invokehttp-proxy-password",
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "sensitive" : true
            },
            "ignore-response-content" : {
              "name" : "ignore-response-content",
              "displayName" : "Ignore response's content",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Proxy Port" : {
              "name" : "Proxy Port",
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "SSL Context Service" : {
              "name" : "SSL Context Service",
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "sensitive" : false
            },
            "Digest Authentication" : {
              "name" : "Digest Authentication",
              "displayName" : "Use Digest Authentication",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "HTTP Method" : {
              "name" : "HTTP Method",
              "displayName" : "HTTP Method",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Add Response Headers to Request" : {
              "name" : "Add Response Headers to Request",
              "displayName" : "Add Response Headers to Request",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Basic Authentication Username" : {
              "name" : "Basic Authentication Username",
              "displayName" : "Basic Authentication Username",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Include Date Header" : {
              "name" : "Include Date Header",
              "displayName" : "Include Date Header",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Penalize on \"No Retry\"" : {
              "name" : "Penalize on \"No Retry\"",
              "displayName" : "Penalize on \"No Retry\"",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "e168f08c-7c42-3eeb-b918-eba4d59cdb6e",
          "name" : "Populate Request",
          "comments" : "",
          "position" : {
            "x" : -3880.0,
            "y" : 1616.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ReplaceText",
          "properties" : {
            "Regular Expression" : "(?s)(^.*$)",
            "Replacement Value" : "${JSONAttributes}",
            "Evaluation Mode" : "Entire text",
            "Line-by-Line Evaluation Mode" : "All",
            "Character Set" : "UTF-8",
            "Maximum Buffer Size" : "5 MB",
            "Replacement Strategy" : "Regex Replace"
          },
          "propertyDescriptors" : {
            "Regular Expression" : {
              "name" : "Regular Expression",
              "displayName" : "Search Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Replacement Value" : {
              "name" : "Replacement Value",
              "displayName" : "Replacement Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Evaluation Mode" : {
              "name" : "Evaluation Mode",
              "displayName" : "Evaluation Mode",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Line-by-Line Evaluation Mode" : {
              "name" : "Line-by-Line Evaluation Mode",
              "displayName" : "Line-by-Line Evaluation Mode",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Character Set" : {
              "name" : "Character Set",
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Maximum Buffer Size" : {
              "name" : "Maximum Buffer Size",
              "displayName" : "Maximum Buffer Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Replacement Strategy" : {
              "name" : "Replacement Strategy",
              "displayName" : "Replacement Strategy",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ "failure" ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "3ed46d18-c289-388c-a17b-94f6e3d5588e",
          "name" : "Set Attribute",
          "comments" : "",
          "position" : {
            "x" : -4416.0,
            "y" : -192.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "properties" : {
            "stage.start.time" : "${now():toNumber()}",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "sql.from.where" : "FROM CATENTRY CE, CATENTDESC CD \nWHERE CE.CATENTRY_ID = CD.CATENTRY_ID  AND CD.LANGUAGE_ID =-1 AND CE.MARKFORDELETE =0 AND CE.BUYABLE =1 AND CD.PUBLISHED =1 AND ce.FIELD4 IS not NULL\nAND CE.CATENTRY_ID IN (SELECT C.CATENTRY_ID FROM CATGPENREL R, CATENTRY C\n\t                           WHERE R.CATALOG_ID IN\n\t                                 (SELECT CATALOG_ID FROM STORECAT WHERE STOREENT_ID IN\n\t                                 (SELECT RELATEDSTORE_ID FROM STOREREL\n\t                                   WHERE STATE = 1 AND STRELTYP_ID = -4 AND STORE_ID = ${param.storeId}))\n\t                             AND R.CATENTRY_ID = C.CATENTRY_ID AND C.MARKFORDELETE = 0 AND C.CATENTTYPE_ID <> 'ItemBean')",
            "counter" : "0",
            "sql.page.size" : "10000",
            "sql.select.count" : "SELECT COUNT(*) as count",
            "stage.name" : "Custom Connector Stage",
            "connector.name" : "${connector.name}",
            "sql.select" : "SELECT CE.CATENTRY_ID, CE.PARTNUMBER , CE.FIELD4, CD.NAME, CD.SHORTDESCRIPTION , CD.PUBLISHED",
            "index.name" : ".${environment.name}.${param.storeId}.unstructured"
          },
          "propertyDescriptors" : {
            "stage.start.time" : {
              "name" : "stage.start.time",
              "displayName" : "stage.start.time",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "sql.from.where" : {
              "name" : "sql.from.where",
              "displayName" : "sql.from.where",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "counter" : {
              "name" : "counter",
              "displayName" : "counter",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "sql.page.size" : {
              "name" : "sql.page.size",
              "displayName" : "sql.page.size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "sql.select.count" : {
              "name" : "sql.select.count",
              "displayName" : "sql.select.count",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "stage.name" : {
              "name" : "stage.name",
              "displayName" : "stage.name",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "connector.name" : {
              "name" : "connector.name",
              "displayName" : "connector.name",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "sql.select" : {
              "name" : "sql.select",
              "displayName" : "sql.select",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "index.name" : {
              "name" : "index.name",
              "displayName" : "index.name",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "443130f5-be1b-346f-8682-155843f7007c",
          "name" : "Log error message",
          "comments" : "",
          "position" : {
            "x" : -5096.0,
            "y" : 1328.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.11.4"
          },
          "style" : {
            "background-color" : "#ff0000"
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "properties" : {
            "logger.message.text" : "Unmatched ExtractText",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "logger.message.severity" : "E",
            "logger.message.code" : "DI2009E"
          },
          "propertyDescriptors" : {
            "logger.message.text" : {
              "name" : "logger.message.text",
              "displayName" : "logger.message.text",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.severity" : {
              "name" : "logger.message.severity",
              "displayName" : "logger.message.severity",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.code" : {
              "name" : "logger.message.code",
              "displayName" : "logger.message.code",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "NONE",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "8ee6e776-383d-345c-ae59-e2d819144db4",
          "name" : "Continue if More",
          "comments" : "",
          "position" : {
            "x" : -4416.0,
            "y" : 176.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
          "properties" : {
            "Routing Strategy" : "Route to Property name",
            "continue" : "${sql.result.count:gt(0):and(${counter:le(${sql.result.count})})}"
          },
          "propertyDescriptors" : {
            "Routing Strategy" : {
              "name" : "Routing Strategy",
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "continue" : {
              "name" : "continue",
              "displayName" : "continue",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "7a167c25-b8ae-37bf-9b05-72e78bdeb7e4",
          "name" : "Log error message",
          "comments" : "",
          "position" : {
            "x" : -3096.0,
            "y" : 1312.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.11.4"
          },
          "style" : {
            "background-color" : "#ff0000"
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "properties" : {
            "logger.message.text" : "Base64 encoding error",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "logger.message.severity" : "E",
            "logger.message.code" : "DI2009E"
          },
          "propertyDescriptors" : {
            "logger.message.text" : {
              "name" : "logger.message.text",
              "displayName" : "logger.message.text",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.severity" : {
              "name" : "logger.message.severity",
              "displayName" : "logger.message.severity",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.code" : {
              "name" : "logger.message.code",
              "displayName" : "logger.message.code",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "NONE",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "2df5fe0b-8fb3-315d-840d-6bf6fa3a2177",
          "name" : "Execute SQL",
          "comments" : "",
          "position" : {
            "x" : -3736.0,
            "y" : 408.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.11.4"
          },
          "style" : {
            "background-color" : "#ffff00"
          },
          "type" : "org.apache.nifi.processors.standard.ExecuteSQLRecord",
          "properties" : {
            "esql-max-rows" : "50",
            "esql-output-batch-size" : "10",
            "esql-fetch-size" : "0",
            "SQL select query" : "${sql.select.paged}",
            "esqlrecord-record-writer" : "3dd3e9b0-805a-3960-bf24-042d2bc47cef",
            "Max Wait Time" : "0 seconds",
            "Database Connection Pooling Service" : "efdd999a-d8a6-3af0-9c72-c7a927c233c5",
            "dbf-user-logical-types" : "true",
            "esqlrecord-normalize" : "false"
          },
          "propertyDescriptors" : {
            "sql-pre-query" : {
              "name" : "sql-pre-query",
              "displayName" : "SQL Pre-Query",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "esql-max-rows" : {
              "name" : "esql-max-rows",
              "displayName" : "Max Rows Per Flow File",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "esql-output-batch-size" : {
              "name" : "esql-output-batch-size",
              "displayName" : "Output Batch Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "esql-fetch-size" : {
              "name" : "esql-fetch-size",
              "displayName" : "Fetch Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "SQL select query" : {
              "name" : "SQL select query",
              "displayName" : "SQL select query",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "esqlrecord-record-writer" : {
              "name" : "esqlrecord-record-writer",
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "sensitive" : false
            },
            "Max Wait Time" : {
              "name" : "Max Wait Time",
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Database Connection Pooling Service" : {
              "name" : "Database Connection Pooling Service",
              "displayName" : "Database Connection Pooling Service",
              "identifiesControllerService" : true,
              "sensitive" : false
            },
            "sql-post-query" : {
              "name" : "sql-post-query",
              "displayName" : "SQL Post-Query",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "dbf-user-logical-types" : {
              "name" : "dbf-user-logical-types",
              "displayName" : "Use Avro Logical Types",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "esqlrecord-normalize" : {
              "name" : "esqlrecord-normalize",
              "displayName" : "Normalize Table/Column Names",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "990600eb-d635-39f0-8cbd-4aad5da25db2",
          "name" : "FetchFile",
          "comments" : "",
          "position" : {
            "x" : -3712.0,
            "y" : 880.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.FetchFile",
          "properties" : {
            "Move Conflict Strategy" : "Keep Existing",
            "Log level when file not found" : "ERROR",
            "Log level when permission denied" : "ERROR",
            "File to Fetch" : "${file.path}",
            "Completion Strategy" : "None"
          },
          "propertyDescriptors" : {
            "Move Conflict Strategy" : {
              "name" : "Move Conflict Strategy",
              "displayName" : "Move Conflict Strategy",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Log level when file not found" : {
              "name" : "Log level when file not found",
              "displayName" : "Log level when file not found",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Move Destination Directory" : {
              "name" : "Move Destination Directory",
              "displayName" : "Move Destination Directory",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Log level when permission denied" : {
              "name" : "Log level when permission denied",
              "displayName" : "Log level when permission denied",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "File to Fetch" : {
              "name" : "File to Fetch",
              "displayName" : "File to Fetch",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Completion Strategy" : {
              "name" : "Completion Strategy",
              "displayName" : "Completion Strategy",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "ea363017-0ead-3b96-a847-84933bd62fe4",
          "name" : "Increment Counter",
          "comments" : "",
          "position" : {
            "x" : -4432.0,
            "y" : 408.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "properties" : {
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "counter" : "${counter:plus(${sql.page.size})}"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "counter" : {
              "name" : "counter",
              "displayName" : "counter",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "5a3254df-ad56-35ad-b903-8068dad16aa4",
          "name" : "Log error message",
          "comments" : "",
          "position" : {
            "x" : -3120.0,
            "y" : 384.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.11.4"
          },
          "style" : {
            "background-color" : "#ff0000"
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "properties" : {
            "logger.message.text" : "SQL cannot be performed due to this error: ${executesql.error.message}",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "logger.message.severity" : "E",
            "logger.message.code" : "DI2008E",
            "logger.message.parameter" : "[ \"${executesql.error.message}\" ]"
          },
          "propertyDescriptors" : {
            "logger.message.text" : {
              "name" : "logger.message.text",
              "displayName" : "logger.message.text",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.severity" : {
              "name" : "logger.message.severity",
              "displayName" : "logger.message.severity",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.code" : {
              "name" : "logger.message.code",
              "displayName" : "logger.message.code",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.parameter" : {
              "name" : "logger.message.parameter",
              "displayName" : "logger.message.parameter",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "NONE",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "0827185b-cc63-31c4-b162-cb779add70f8",
          "name" : "Log error message",
          "comments" : "",
          "position" : {
            "x" : -5104.0,
            "y" : 800.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.11.4"
          },
          "style" : {
            "background-color" : "#ff0000"
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "properties" : {
            "logger.message.text" : "Base64 encoding error",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "logger.message.severity" : "E",
            "logger.message.code" : "DI2009E"
          },
          "propertyDescriptors" : {
            "logger.message.text" : {
              "name" : "logger.message.text",
              "displayName" : "logger.message.text",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.severity" : {
              "name" : "logger.message.severity",
              "displayName" : "logger.message.severity",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.code" : {
              "name" : "logger.message.code",
              "displayName" : "logger.message.code",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "NONE",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "0d93456c-cd41-38e3-9828-ac7d5c0666b9",
          "name" : "UpdateAttribute",
          "comments" : "",
          "position" : {
            "x" : -3664.0,
            "y" : 1408.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "properties" : {
            "Delete Attributes Expression" : "data.\\d+",
            "filename" : "${file.path:substringAfterLast('/')}",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "file_type" : "${file.path:substringAfterLast('.')}",
            "title" : "${product.name}"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "filename" : {
              "name" : "filename",
              "displayName" : "filename",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "file_type" : {
              "name" : "file_type",
              "displayName" : "file_type",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "title" : {
              "name" : "title",
              "displayName" : "title",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "c6e8e742-7ef4-3ef3-b2ef-ac2edeb2d36a",
          "name" : "AttributesToJSON",
          "comments" : "",
          "position" : {
            "x" : -4368.0,
            "y" : 1432.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.AttributesToJSON",
          "properties" : {
            "Destination" : "flowfile-attribute",
            "Null Value" : "false",
            "Attributes List" : "filename,file.path,productId,sku,product.name,short.desc,data,title,file_type",
            "Include Core Attributes" : "true"
          },
          "propertyDescriptors" : {
            "attributes-to-json-regex" : {
              "name" : "attributes-to-json-regex",
              "displayName" : "Attributes Regular Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Destination" : {
              "name" : "Destination",
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Null Value" : {
              "name" : "Null Value",
              "displayName" : "Null Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Attributes List" : {
              "name" : "Attributes List",
              "displayName" : "Attributes List",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Include Core Attributes" : {
              "name" : "Include Core Attributes",
              "displayName" : "Include Core Attributes",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "510612f5-6948-3e7e-a87f-4e159a3d8564",
          "name" : "Log error message",
          "comments" : "",
          "position" : {
            "x" : -5224.0,
            "y" : -40.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.11.4"
          },
          "style" : {
            "background-color" : "#ff0000"
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "properties" : {
            "logger.message.text" : "Error in Avro JSON",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "logger.message.severity" : "E",
            "logger.message.code" : "DI2009E"
          },
          "propertyDescriptors" : {
            "logger.message.text" : {
              "name" : "logger.message.text",
              "displayName" : "logger.message.text",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.severity" : {
              "name" : "logger.message.severity",
              "displayName" : "logger.message.severity",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.code" : {
              "name" : "logger.message.code",
              "displayName" : "logger.message.code",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "NONE",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "e9d2e108-dcd5-3043-8652-36dafeac779a",
          "name" : "Get Count from json",
          "comments" : "",
          "position" : {
            "x" : -3736.0,
            "y" : -16.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "properties" : {
            "Destination" : "flowfile-attribute",
            "sql.result.count" : "$.COUNT",
            "Return Type" : "auto-detect",
            "Null Value Representation" : "empty string",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "name" : "Destination",
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "sql.result.count" : {
              "name" : "sql.result.count",
              "displayName" : "sql.result.count",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Return Type" : {
              "name" : "Return Type",
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Null Value Representation" : {
              "name" : "Null Value Representation",
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "name" : "Path Not Found Behavior",
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "97da8c69-6061-313a-9f7c-373195f3dd79",
          "name" : "Log error message",
          "comments" : "",
          "position" : {
            "x" : -3128.0,
            "y" : -200.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.11.4"
          },
          "style" : {
            "background-color" : "#ff0000"
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "properties" : {
            "logger.message.text" : "SQL cannot be performed due to this error: ${executesql.error.message}",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "logger.message.severity" : "E",
            "logger.message.code" : "DI2008E",
            "logger.message.parameter" : "[ \"${executesql.error.message}\" ]"
          },
          "propertyDescriptors" : {
            "logger.message.text" : {
              "name" : "logger.message.text",
              "displayName" : "logger.message.text",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.severity" : {
              "name" : "logger.message.severity",
              "displayName" : "logger.message.severity",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.code" : {
              "name" : "logger.message.code",
              "displayName" : "logger.message.code",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.parameter" : {
              "name" : "logger.message.parameter",
              "displayName" : "logger.message.parameter",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "NONE",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "ae03c2eb-ef3c-375d-b6f2-7794547d308c",
          "name" : "Log error message",
          "comments" : "",
          "position" : {
            "x" : -3136.0,
            "y" : -16.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.11.4"
          },
          "style" : {
            "background-color" : "#ff0000"
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "properties" : {
            "logger.message.text" : "Error in Evaluate JSON path",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "logger.message.severity" : "E",
            "logger.message.code" : "DI2009E"
          },
          "propertyDescriptors" : {
            "logger.message.text" : {
              "name" : "logger.message.text",
              "displayName" : "logger.message.text",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.severity" : {
              "name" : "logger.message.severity",
              "displayName" : "logger.message.severity",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.code" : {
              "name" : "logger.message.code",
              "displayName" : "logger.message.code",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "NONE",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "90950ead-0a1f-3ce6-b972-1793e65bc97e",
          "name" : "Count Rows",
          "comments" : "",
          "position" : {
            "x" : -3744.0,
            "y" : -192.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.11.4"
          },
          "style" : {
            "background-color" : "#f5f7ef"
          },
          "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
          "properties" : {
            "esql-max-rows" : "50",
            "dbf-default-precision" : "10",
            "Max Wait Time" : "0 seconds",
            "Database Connection Pooling Service" : "efdd999a-d8a6-3af0-9c72-c7a927c233c5",
            "dbf-user-logical-types" : "false",
            "dbf-default-scale" : "0",
            "compression-format" : "NONE",
            "esql-output-batch-size" : "10",
            "esql-fetch-size" : "0",
            "SQL select query" : "${sql.select.count} ${sql.from.where}",
            "dbf-normalize" : "false"
          },
          "propertyDescriptors" : {
            "esql-max-rows" : {
              "name" : "esql-max-rows",
              "displayName" : "Max Rows Per Flow File",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "dbf-default-precision" : {
              "name" : "dbf-default-precision",
              "displayName" : "Default Decimal Precision",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Max Wait Time" : {
              "name" : "Max Wait Time",
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Database Connection Pooling Service" : {
              "name" : "Database Connection Pooling Service",
              "displayName" : "Database Connection Pooling Service",
              "identifiesControllerService" : true,
              "sensitive" : false
            },
            "sql-post-query" : {
              "name" : "sql-post-query",
              "displayName" : "SQL Post-Query",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "dbf-user-logical-types" : {
              "name" : "dbf-user-logical-types",
              "displayName" : "Use Avro Logical Types",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "name" : "dbf-default-scale",
              "displayName" : "Default Decimal Scale",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "sql-pre-query" : {
              "name" : "sql-pre-query",
              "displayName" : "SQL Pre-Query",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "compression-format" : {
              "name" : "compression-format",
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "esql-output-batch-size" : {
              "name" : "esql-output-batch-size",
              "displayName" : "Output Batch Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "esql-fetch-size" : {
              "name" : "esql-fetch-size",
              "displayName" : "Fetch Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "SQL select query" : {
              "name" : "SQL select query",
              "displayName" : "SQL select query",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "dbf-normalize" : {
              "name" : "dbf-normalize",
              "displayName" : "Normalize Table/Column Names",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "419bdefa-d74d-3a84-8f62-9cef4d9cb803",
          "name" : "EvaluateJsonPath",
          "comments" : "",
          "position" : {
            "x" : -4432.0,
            "y" : 552.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "properties" : {
            "Destination" : "flowfile-attribute",
            "file.path" : "$.FIELD4",
            "productId" : "$.CATENTRY_ID",
            "Return Type" : "auto-detect",
            "product.name" : "$.NAME",
            "Null Value Representation" : "empty string",
            "sku" : "$.PARTNUMBER",
            "short.desc" : "$.SHORTDESCRIPTION",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "name" : "Destination",
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "file.path" : {
              "name" : "file.path",
              "displayName" : "file.path",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "productId" : {
              "name" : "productId",
              "displayName" : "productId",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Return Type" : {
              "name" : "Return Type",
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "product.name" : {
              "name" : "product.name",
              "displayName" : "product.name",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Null Value Representation" : {
              "name" : "Null Value Representation",
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "sku" : {
              "name" : "sku",
              "displayName" : "sku",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "short.desc" : {
              "name" : "short.desc",
              "displayName" : "short.desc",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "name" : "Path Not Found Behavior",
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "55e2213f-1068-323c-aa5a-1122ff9e8716",
          "name" : "ExtractText",
          "comments" : "",
          "position" : {
            "x" : -4376.0,
            "y" : 1224.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExtractText",
          "properties" : {
            "Enable Unicode Predefined Character Classes" : "false",
            "Permit Whitespace and Comments in Pattern" : "false",
            "Enable Unicode-aware Case Folding" : "false",
            "data" : "(.*)",
            "Enable DOTALL Mode" : "false",
            "Enable Unix Lines Mode" : "false",
            "Maximum Buffer Size" : "10 MB",
            "Enable Canonical Equivalence" : "false",
            "Enable Case-insensitive Matching" : "false",
            "Enable Multiline Mode" : "false",
            "Maximum Capture Group Length" : "10000000",
            "Enable Literal Parsing of the Pattern" : "false",
            "Character Set" : "UTF-8",
            "Include Capture Group 0" : "true",
            "extract-text-enable-repeating-capture-group" : "false"
          },
          "propertyDescriptors" : {
            "Enable Unicode Predefined Character Classes" : {
              "name" : "Enable Unicode Predefined Character Classes",
              "displayName" : "Enable Unicode Predefined Character Classes",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Permit Whitespace and Comments in Pattern" : {
              "name" : "Permit Whitespace and Comments in Pattern",
              "displayName" : "Permit Whitespace and Comments in Pattern",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Enable Unicode-aware Case Folding" : {
              "name" : "Enable Unicode-aware Case Folding",
              "displayName" : "Enable Unicode-aware Case Folding",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "data" : {
              "name" : "data",
              "displayName" : "data",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Enable DOTALL Mode" : {
              "name" : "Enable DOTALL Mode",
              "displayName" : "Enable DOTALL Mode",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Enable Unix Lines Mode" : {
              "name" : "Enable Unix Lines Mode",
              "displayName" : "Enable Unix Lines Mode",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Maximum Buffer Size" : {
              "name" : "Maximum Buffer Size",
              "displayName" : "Maximum Buffer Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Enable Canonical Equivalence" : {
              "name" : "Enable Canonical Equivalence",
              "displayName" : "Enable Canonical Equivalence",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Enable Case-insensitive Matching" : {
              "name" : "Enable Case-insensitive Matching",
              "displayName" : "Enable Case-insensitive Matching",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Enable Multiline Mode" : {
              "name" : "Enable Multiline Mode",
              "displayName" : "Enable Multiline Mode",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Maximum Capture Group Length" : {
              "name" : "Maximum Capture Group Length",
              "displayName" : "Maximum Capture Group Length",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Enable Literal Parsing of the Pattern" : {
              "name" : "Enable Literal Parsing of the Pattern",
              "displayName" : "Enable Literal Parsing of the Pattern",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Character Set" : {
              "name" : "Character Set",
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Include Capture Group 0" : {
              "name" : "Include Capture Group 0",
              "displayName" : "Include Capture Group 0",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "extract-text-enable-repeating-capture-group" : {
              "name" : "extract-text-enable-repeating-capture-group",
              "displayName" : "Enable repeating capture group",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "cfc7daca-1b47-3ac1-9a21-fde8671d923d",
          "name" : "Log error message",
          "comments" : "",
          "position" : {
            "x" : -3112.0,
            "y" : 1088.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.11.4"
          },
          "style" : {
            "background-color" : "#ff0000"
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "properties" : {
            "logger.message.text" : "FetchFle error.",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "logger.message.severity" : "E",
            "logger.message.code" : "DI2009E"
          },
          "propertyDescriptors" : {
            "logger.message.text" : {
              "name" : "logger.message.text",
              "displayName" : "logger.message.text",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.severity" : {
              "name" : "logger.message.severity",
              "displayName" : "logger.message.severity",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.code" : {
              "name" : "logger.message.code",
              "displayName" : "logger.message.code",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "NONE",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "7feabe6a-3bfb-3ce6-903c-6acaff20040e",
          "name" : "SplitJson",
          "comments" : "",
          "position" : {
            "x" : -3720.0,
            "y" : 640.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.SplitJson",
          "properties" : {
            "Null Value Representation" : "empty string",
            "JsonPath Expression" : "$"
          },
          "propertyDescriptors" : {
            "Null Value Representation" : {
              "name" : "Null Value Representation",
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "JsonPath Expression" : {
              "name" : "JsonPath Expression",
              "displayName" : "JsonPath Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "904630a2-5064-385b-aac6-8c9edb378583",
          "name" : "Construct Paged SQL SELECT",
          "comments" : "",
          "position" : {
            "x" : -3712.0,
            "y" : 184.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "properties" : {
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "sql.select.paged" : "${sql.select} ${sql.from.where} LIMIT ${sql.page.size} OFFSET ${counter}"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "sql.select.paged" : {
              "name" : "sql.select.paged",
              "displayName" : "sql.select.paged",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "d4aa41f9-5777-3683-9e92-3576d467462e",
          "name" : "Log error message",
          "comments" : "",
          "position" : {
            "x" : -5224.0,
            "y" : 192.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.11.4"
          },
          "style" : {
            "background-color" : "#ff0000"
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "properties" : {
            "logger.message.text" : "unmatched",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "logger.message.severity" : "E",
            "logger.message.code" : "DI2009E"
          },
          "propertyDescriptors" : {
            "logger.message.text" : {
              "name" : "logger.message.text",
              "displayName" : "logger.message.text",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.severity" : {
              "name" : "logger.message.severity",
              "displayName" : "logger.message.severity",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.code" : {
              "name" : "logger.message.code",
              "displayName" : "logger.message.code",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "NONE",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "691e3f77-f2f3-3264-b401-53a4e2f2cabf",
          "name" : "Log error message",
          "comments" : "",
          "position" : {
            "x" : -3096.0,
            "y" : 600.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.11.4"
          },
          "style" : {
            "background-color" : "#ff0000"
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "properties" : {
            "logger.message.text" : "split avro error",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "logger.message.severity" : "E",
            "logger.message.code" : "DI2009E"
          },
          "propertyDescriptors" : {
            "logger.message.text" : {
              "name" : "logger.message.text",
              "displayName" : "logger.message.text",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.severity" : {
              "name" : "logger.message.severity",
              "displayName" : "logger.message.severity",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.code" : {
              "name" : "logger.message.code",
              "displayName" : "logger.message.code",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "NONE",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        } ],
        "inputPorts" : [ {
          "identifier" : "92ff5a3d-928a-3cf4-9fb8-5603cfe54902",
          "name" : "INPUT",
          "comments" : "",
          "position" : {
            "x" : -4928.0,
            "y" : -152.0
          },
          "type" : "INPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "allowRemoteAccess" : false,
          "componentType" : "INPUT_PORT",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        } ],
        "outputPorts" : [ {
          "identifier" : "2f734255-89e7-3e9f-9470-c8d7891d8cb6",
          "name" : "SUCCESS",
          "comments" : "",
          "position" : {
            "x" : -4664.0,
            "y" : 2232.0
          },
          "type" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "allowRemoteAccess" : false,
          "componentType" : "OUTPUT_PORT",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "eb523345-9e71-3fef-9661-b54d5b67d915",
          "name" : "ERROR",
          "comments" : "",
          "position" : {
            "x" : -3976.0,
            "y" : 2264.0
          },
          "type" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "allowRemoteAccess" : false,
          "componentType" : "OUTPUT_PORT",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        } ],
        "connections" : [ {
          "identifier" : "a4431bef-6c37-3105-b687-49fb16512eb5",
          "name" : "",
          "source" : {
            "id" : "c6e8e742-7ef4-3ef3-b2ef-ac2edeb2d36a",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "AttributesToJSON",
            "comments" : ""
          },
          "destination" : {
            "id" : "e168f08c-7c42-3eeb-b918-eba4d59cdb6e",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Populate Request",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "380e050b-d0cc-3e26-aa67-beea097f76a7",
          "name" : "",
          "source" : {
            "id" : "2df5fe0b-8fb3-315d-840d-6bf6fa3a2177",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Execute SQL",
            "comments" : ""
          },
          "destination" : {
            "id" : "7feabe6a-3bfb-3ce6-903c-6acaff20040e",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "SplitJson",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "e3ac9df0-96eb-3178-a3d5-ab6adb705d76",
          "name" : "",
          "source" : {
            "id" : "90950ead-0a1f-3ce6-b972-1793e65bc97e",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Count Rows",
            "comments" : ""
          },
          "destination" : {
            "id" : "3f02d34d-32b9-3c3e-952d-cafb662511b3",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "ConvertAvroToJSON",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "ca0307e8-7461-3809-87f7-9ace6cfeb0d9",
          "name" : "",
          "source" : {
            "id" : "8ee6e776-383d-345c-ae59-e2d819144db4",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Continue if More",
            "comments" : ""
          },
          "destination" : {
            "id" : "d4aa41f9-5777-3683-9e92-3576d467462e",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "unmatched" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "f981c1c5-a179-36c0-8660-d279b2824dd6",
          "name" : "",
          "source" : {
            "id" : "55e2213f-1068-323c-aa5a-1122ff9e8716",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "ExtractText",
            "comments" : ""
          },
          "destination" : {
            "id" : "443130f5-be1b-346f-8682-155843f7007c",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "unmatched" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "f0431ec8-caaa-3199-b990-48c348ad4d0e",
          "name" : "",
          "source" : {
            "id" : "5a3254df-ad56-35ad-b903-8068dad16aa4",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "destination" : {
            "id" : "d45d0cba-5039-3204-a3aa-c6e9183f1751",
            "type" : "FUNNEL",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Funnel",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "04a7411a-fb6a-30e2-9f92-81bcec273085",
          "name" : "",
          "source" : {
            "id" : "e9d2e108-dcd5-3043-8652-36dafeac779a",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Get Count from json",
            "comments" : ""
          },
          "destination" : {
            "id" : "ae03c2eb-ef3c-375d-b6f2-7794547d308c",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "failure", "unmatched" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "eb43ff41-441f-3453-8fb8-fdf6e0c9b352",
          "name" : "",
          "source" : {
            "id" : "c6e8e742-7ef4-3ef3-b2ef-ac2edeb2d36a",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "AttributesToJSON",
            "comments" : ""
          },
          "destination" : {
            "id" : "c4467dea-3359-3f6f-ae7e-c5d35e033b2d",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "failure" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "613de3bb-329c-3cc4-9e75-9b93b94e50d3",
          "name" : "",
          "source" : {
            "id" : "7feabe6a-3bfb-3ce6-903c-6acaff20040e",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "SplitJson",
            "comments" : ""
          },
          "destination" : {
            "id" : "691e3f77-f2f3-3264-b401-53a4e2f2cabf",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "original", "failure" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "fdb295bd-976e-3102-b88c-ec0fe6048944",
          "name" : "",
          "source" : {
            "id" : "419bdefa-d74d-3a84-8f62-9cef4d9cb803",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "EvaluateJsonPath",
            "comments" : ""
          },
          "destination" : {
            "id" : "990600eb-d635-39f0-8cbd-4aad5da25db2",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "FetchFile",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "matched" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "ad63ef67-489e-3a49-8f54-ef62ea7cc0f2",
          "name" : "",
          "source" : {
            "id" : "92ff5a3d-928a-3cf4-9fb8-5603cfe54902",
            "type" : "INPUT_PORT",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "INPUT",
            "comments" : ""
          },
          "destination" : {
            "id" : "3ed46d18-c289-388c-a17b-94f6e3d5588e",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Set Attribute",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "fb281e5b-b276-34be-92d4-48bc0369146e",
          "name" : "",
          "source" : {
            "id" : "8ee6e776-383d-345c-ae59-e2d819144db4",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Continue if More",
            "comments" : ""
          },
          "destination" : {
            "id" : "904630a2-5064-385b-aac6-8c9edb378583",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Construct Paged SQL SELECT",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "continue" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "9b486705-7c28-3888-a5f8-3e5bad8060b7",
          "name" : "",
          "source" : {
            "id" : "904630a2-5064-385b-aac6-8c9edb378583",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Construct Paged SQL SELECT",
            "comments" : ""
          },
          "destination" : {
            "id" : "2df5fe0b-8fb3-315d-840d-6bf6fa3a2177",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Execute SQL",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "f4fb9a6f-d37b-3b2d-8653-b7921a6c193f",
          "name" : "",
          "source" : {
            "id" : "3f02d34d-32b9-3c3e-952d-cafb662511b3",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "ConvertAvroToJSON",
            "comments" : ""
          },
          "destination" : {
            "id" : "510612f5-6948-3e7e-a87f-4e159a3d8564",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "failure" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "1ecb3b43-2587-3009-aef6-3a3333db942a",
          "name" : "",
          "source" : {
            "id" : "443130f5-be1b-346f-8682-155843f7007c",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "destination" : {
            "id" : "8c5cf5a1-95e7-32bb-8786-6af279e64e03",
            "type" : "FUNNEL",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Funnel",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "6c1e1b10-cb14-3c38-9d84-96111e309f02",
          "name" : "",
          "source" : {
            "id" : "55e2213f-1068-323c-aa5a-1122ff9e8716",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "ExtractText",
            "comments" : ""
          },
          "destination" : {
            "id" : "0d93456c-cd41-38e3-9828-ac7d5c0666b9",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "UpdateAttribute",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "matched" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "5c45b26c-a72d-3a7c-a6c6-ac98a71e4a38",
          "name" : "",
          "source" : {
            "id" : "d4aa41f9-5777-3683-9e92-3576d467462e",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "destination" : {
            "id" : "8c5cf5a1-95e7-32bb-8786-6af279e64e03",
            "type" : "FUNNEL",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Funnel",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "70bae080-aec6-387c-9296-66649c934b92",
          "name" : "",
          "source" : {
            "id" : "9cd8fa8c-8475-34f4-89b7-ed022f9127ec",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "ReplaceText",
            "comments" : ""
          },
          "destination" : {
            "id" : "0827185b-cc63-31c4-b162-cb779add70f8",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "failure" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "df76ed73-a31d-385e-a5e1-7f52e2b510fe",
          "name" : "",
          "source" : {
            "id" : "8ee6e776-383d-345c-ae59-e2d819144db4",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Continue if More",
            "comments" : ""
          },
          "destination" : {
            "id" : "ea363017-0ead-3b96-a847-84933bd62fe4",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Increment Counter",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "continue" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "e85e67b1-0492-3f1b-97b3-d9e4d4f592f1",
          "name" : "",
          "source" : {
            "id" : "7feabe6a-3bfb-3ce6-903c-6acaff20040e",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "SplitJson",
            "comments" : ""
          },
          "destination" : {
            "id" : "419bdefa-d74d-3a84-8f62-9cef4d9cb803",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "EvaluateJsonPath",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "split" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "23f262bc-c305-3905-af98-14e02ff459ad",
          "name" : "",
          "source" : {
            "id" : "7a167c25-b8ae-37bf-9b05-72e78bdeb7e4",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "destination" : {
            "id" : "d45d0cba-5039-3204-a3aa-c6e9183f1751",
            "type" : "FUNNEL",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Funnel",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "493709c9-357f-3264-8ad9-71e610a93810",
          "name" : "",
          "source" : {
            "id" : "c4467dea-3359-3f6f-ae7e-c5d35e033b2d",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "destination" : {
            "id" : "8c5cf5a1-95e7-32bb-8786-6af279e64e03",
            "type" : "FUNNEL",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Funnel",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "b99045a8-084a-39c1-a811-c8f21ea2c114",
          "name" : "",
          "source" : {
            "id" : "510612f5-6948-3e7e-a87f-4e159a3d8564",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "destination" : {
            "id" : "8c5cf5a1-95e7-32bb-8786-6af279e64e03",
            "type" : "FUNNEL",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Funnel",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "dd5fb6e9-c49d-37bc-acce-2ba5cc3aeef7",
          "name" : "",
          "source" : {
            "id" : "e168f08c-7c42-3eeb-b918-eba4d59cdb6e",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Populate Request",
            "comments" : ""
          },
          "destination" : {
            "id" : "1d2f8a6b-649f-304d-a9d8-0c018572e407",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "PUT ElasticSearch Attachment",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "0f134784-febc-3d4b-b71c-a78635804e2a",
          "name" : "",
          "source" : {
            "id" : "ae03c2eb-ef3c-375d-b6f2-7794547d308c",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "destination" : {
            "id" : "d45d0cba-5039-3204-a3aa-c6e9183f1751",
            "type" : "FUNNEL",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Funnel",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "fce44a40-3d1b-3f52-ba6b-a3ed886258c5",
          "name" : "",
          "source" : {
            "id" : "2df5fe0b-8fb3-315d-840d-6bf6fa3a2177",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Execute SQL",
            "comments" : ""
          },
          "destination" : {
            "id" : "5a3254df-ad56-35ad-b903-8068dad16aa4",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "failure" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "67982d83-5607-3bb1-b277-2b3ebf84165b",
          "name" : "",
          "source" : {
            "id" : "d45d0cba-5039-3204-a3aa-c6e9183f1751",
            "type" : "FUNNEL",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Funnel",
            "comments" : ""
          },
          "destination" : {
            "id" : "eb523345-9e71-3fef-9661-b54d5b67d915",
            "type" : "OUTPUT_PORT",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "ERROR",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "bc704d3e-7dd0-39e4-8f69-82771c67e013",
          "name" : "",
          "source" : {
            "id" : "ea363017-0ead-3b96-a847-84933bd62fe4",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Increment Counter",
            "comments" : ""
          },
          "destination" : {
            "id" : "8ee6e776-383d-345c-ae59-e2d819144db4",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Continue if More",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ {
            "x" : -4448.0,
            "y" : 356.0
          } ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "51583b45-f64f-3f59-8e9f-464c1fdda045",
          "name" : "",
          "source" : {
            "id" : "691e3f77-f2f3-3264-b401-53a4e2f2cabf",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "destination" : {
            "id" : "d45d0cba-5039-3204-a3aa-c6e9183f1751",
            "type" : "FUNNEL",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Funnel",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "270b331b-ef34-3de6-a46e-3779dba12e87",
          "name" : "",
          "source" : {
            "id" : "0d93456c-cd41-38e3-9828-ac7d5c0666b9",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "UpdateAttribute",
            "comments" : ""
          },
          "destination" : {
            "id" : "c6e8e742-7ef4-3ef3-b2ef-ac2edeb2d36a",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "AttributesToJSON",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "acadd6f6-55bd-385c-89c1-7ca50f16e25d",
          "name" : "",
          "source" : {
            "id" : "97da8c69-6061-313a-9f7c-373195f3dd79",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "destination" : {
            "id" : "d45d0cba-5039-3204-a3aa-c6e9183f1751",
            "type" : "FUNNEL",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Funnel",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "e6edcc99-6517-3619-87f9-0b8848b1eefe",
          "name" : "",
          "source" : {
            "id" : "e9d2e108-dcd5-3043-8652-36dafeac779a",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Get Count from json",
            "comments" : ""
          },
          "destination" : {
            "id" : "8ee6e776-383d-345c-ae59-e2d819144db4",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Continue if More",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "matched" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "2a84dbed-be89-3b61-91aa-43f63194fc18",
          "name" : "",
          "source" : {
            "id" : "8c5cf5a1-95e7-32bb-8786-6af279e64e03",
            "type" : "FUNNEL",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Funnel",
            "comments" : ""
          },
          "destination" : {
            "id" : "eb523345-9e71-3fef-9661-b54d5b67d915",
            "type" : "OUTPUT_PORT",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "ERROR",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "f49c086c-ce42-3c34-a47e-ad954caea820",
          "name" : "",
          "source" : {
            "id" : "cfc7daca-1b47-3ac1-9a21-fde8671d923d",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "destination" : {
            "id" : "d45d0cba-5039-3204-a3aa-c6e9183f1751",
            "type" : "FUNNEL",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Funnel",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "6aecfda8-14a4-33cc-804c-1e622b1f0dac",
          "name" : "",
          "source" : {
            "id" : "990600eb-d635-39f0-8cbd-4aad5da25db2",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "FetchFile",
            "comments" : ""
          },
          "destination" : {
            "id" : "cfc7daca-1b47-3ac1-9a21-fde8671d923d",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "failure", "permission.denied", "not.found" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "3e01b7ba-801d-394c-a59c-f3ab60b6799c",
          "name" : "",
          "source" : {
            "id" : "90950ead-0a1f-3ce6-b972-1793e65bc97e",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Count Rows",
            "comments" : ""
          },
          "destination" : {
            "id" : "97da8c69-6061-313a-9f7c-373195f3dd79",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "failure" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "722c932a-2af4-3eef-b09c-569895991107",
          "name" : "",
          "source" : {
            "id" : "9cd8fa8c-8475-34f4-89b7-ed022f9127ec",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "ReplaceText",
            "comments" : ""
          },
          "destination" : {
            "id" : "55e2213f-1068-323c-aa5a-1122ff9e8716",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "ExtractText",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "c2904096-f30f-3f59-a667-daa034c4d069",
          "name" : "",
          "source" : {
            "id" : "3ed46d18-c289-388c-a17b-94f6e3d5588e",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Set Attribute",
            "comments" : ""
          },
          "destination" : {
            "id" : "90950ead-0a1f-3ce6-b972-1793e65bc97e",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Count Rows",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "725dc6e1-0266-3c13-a386-72924ec89c3d",
          "name" : "",
          "source" : {
            "id" : "1d2f8a6b-649f-304d-a9d8-0c018572e407",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "PUT ElasticSearch Attachment",
            "comments" : ""
          },
          "destination" : {
            "id" : "85546e4a-4513-3336-8615-00f2922adbff",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "Response" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "ae0e739c-41f2-35bb-8285-9e439745d212",
          "name" : "",
          "source" : {
            "id" : "0827185b-cc63-31c4-b162-cb779add70f8",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "destination" : {
            "id" : "8c5cf5a1-95e7-32bb-8786-6af279e64e03",
            "type" : "FUNNEL",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Funnel",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "8008668a-433e-3d82-bf18-6b3b99de39f9",
          "name" : "",
          "source" : {
            "id" : "3f02d34d-32b9-3c3e-952d-cafb662511b3",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "ConvertAvroToJSON",
            "comments" : ""
          },
          "destination" : {
            "id" : "e9d2e108-dcd5-3043-8652-36dafeac779a",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Get Count from json",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "c4d5f2ec-4c90-3c82-b0c4-0d33c27cf769",
          "name" : "",
          "source" : {
            "id" : "990600eb-d635-39f0-8cbd-4aad5da25db2",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "FetchFile",
            "comments" : ""
          },
          "destination" : {
            "id" : "8dc06759-5f7e-35fb-ab36-01528819a52a",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Base64EncodeContent",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "8644a895-49fb-32de-8907-0d396cb80a39",
          "name" : "",
          "source" : {
            "id" : "85546e4a-4513-3336-8615-00f2922adbff",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "destination" : {
            "id" : "2f734255-89e7-3e9f-9470-c8d7891d8cb6",
            "type" : "OUTPUT_PORT",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "SUCCESS",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "af2c7322-d06c-31fa-a840-476a200a9358",
          "name" : "",
          "source" : {
            "id" : "8dc06759-5f7e-35fb-ab36-01528819a52a",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Base64EncodeContent",
            "comments" : ""
          },
          "destination" : {
            "id" : "7a167c25-b8ae-37bf-9b05-72e78bdeb7e4",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "failure" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "f262b279-c11e-3fd6-9f20-3a12759c36cd",
          "name" : "",
          "source" : {
            "id" : "c075ef48-52df-392b-94da-3934b4d139eb",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "destination" : {
            "id" : "8c5cf5a1-95e7-32bb-8786-6af279e64e03",
            "type" : "FUNNEL",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Funnel",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "fcbefc37-ac44-3820-87e1-c4ddbcb7c507",
          "name" : "",
          "source" : {
            "id" : "8dc06759-5f7e-35fb-ab36-01528819a52a",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Base64EncodeContent",
            "comments" : ""
          },
          "destination" : {
            "id" : "9cd8fa8c-8475-34f4-89b7-ed022f9127ec",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "ReplaceText",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "32be75de-1556-3b46-a105-614168921628",
          "name" : "",
          "source" : {
            "id" : "419bdefa-d74d-3a84-8f62-9cef4d9cb803",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "EvaluateJsonPath",
            "comments" : ""
          },
          "destination" : {
            "id" : "c075ef48-52df-392b-94da-3934b4d139eb",
            "type" : "PROCESSOR",
            "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
            "name" : "Log error message",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "failure", "unmatched" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        } ],
        "labels" : [ ],
        "funnels" : [ {
          "identifier" : "d45d0cba-5039-3204-a3aa-c6e9183f1751",
          "position" : {
            "x" : -2400.0,
            "y" : 1040.0
          },
          "componentType" : "FUNNEL",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        }, {
          "identifier" : "8c5cf5a1-95e7-32bb-8786-6af279e64e03",
          "position" : {
            "x" : -6115.733958368788,
            "y" : 1334.2782472695326
          },
          "componentType" : "FUNNEL",
          "groupIdentifier" : "711a6206-be31-3171-9dc3-6d8143d4a26c"
        } ],
        "controllerServices" : [ ],
        "variables" : { },
        "componentType" : "PROCESS_GROUP",
        "groupIdentifier" : "b48af0a7-75cb-36d9-a294-ef37b9bc2810"
      } ],
      "remoteProcessGroups" : [ {
        "identifier" : "04e763f2-fe1e-3fa4-8755-1413179da303",
        "name" : "NiFi Flow",
        "comments" : "",
        "position" : {
          "x" : 440.0,
          "y" : -824.0
        },
        "targetUri" : "http://localhost:30600/nifi",
        "targetUris" : "http://localhost:30600/nifi",
        "communicationsTimeout" : "30 sec",
        "yieldDuration" : "10 sec",
        "transportProtocol" : "RAW",
        "proxyHost" : "",
        "proxyUser" : "",
        "inputPorts" : [ {
          "identifier" : "daa7970c-129d-3691-b4fe-de2615b20d15",
          "name" : "Bulk Description INPUT",
          "comments" : "",
          "remoteGroupId" : "04e763f2-fe1e-3fa4-8755-1413179da303",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "3f99c419-0177-1000-fb5b-f5ed07076172",
          "groupIdentifier" : "04e763f2-fe1e-3fa4-8755-1413179da303"
        }, {
          "identifier" : "2b906033-f476-30ce-9898-428aeffe65cc",
          "name" : "Bulk Catalog INPUT",
          "comments" : "",
          "remoteGroupId" : "04e763f2-fe1e-3fa4-8755-1413179da303",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "3f99c3be-0177-1000-baa6-16b938a37a95",
          "groupIdentifier" : "04e763f2-fe1e-3fa4-8755-1413179da303"
        }, {
          "identifier" : "4bb09ea1-420a-365a-8a04-244c07497cba",
          "name" : "Bulk Store INPUT",
          "comments" : "",
          "remoteGroupId" : "04e763f2-fe1e-3fa4-8755-1413179da303",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "3f99c3a9-0177-1000-9e71-0ce581d84cfa",
          "groupIdentifier" : "04e763f2-fe1e-3fa4-8755-1413179da303"
        }, {
          "identifier" : "2410e45c-6c2e-3c2b-b729-71be3f0712f7",
          "name" : "Bulk URL INPUT",
          "comments" : "",
          "remoteGroupId" : "04e763f2-fe1e-3fa4-8755-1413179da303",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "3f99c433-0177-1000-155b-bfefcfa647df",
          "groupIdentifier" : "04e763f2-fe1e-3fa4-8755-1413179da303"
        }, {
          "identifier" : "2723b7e8-d8be-3e63-b67a-d7879261d866",
          "name" : "Run INPUT",
          "comments" : "",
          "remoteGroupId" : "04e763f2-fe1e-3fa4-8755-1413179da303",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "3f99c377-0177-1000-ede8-0560d4605961",
          "groupIdentifier" : "04e763f2-fe1e-3fa4-8755-1413179da303"
        }, {
          "identifier" : "290b456c-b445-3f42-99a3-161e16c1731d",
          "name" : "Logger INPUT",
          "comments" : "",
          "remoteGroupId" : "04e763f2-fe1e-3fa4-8755-1413179da303",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "3f99c33c-0177-1000-d495-4d5cad3146da",
          "groupIdentifier" : "04e763f2-fe1e-3fa4-8755-1413179da303"
        }, {
          "identifier" : "0e2887e5-205a-3b25-9188-1d322785d9ce",
          "name" : "Bulk Category INPUT",
          "comments" : "",
          "remoteGroupId" : "04e763f2-fe1e-3fa4-8755-1413179da303",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "3f99c3e5-0177-1000-cf89-02b00c53e536",
          "groupIdentifier" : "04e763f2-fe1e-3fa4-8755-1413179da303"
        }, {
          "identifier" : "441a7980-5abe-35f8-a146-fb1104463b7d",
          "name" : "Bulk Product INPUT",
          "comments" : "",
          "remoteGroupId" : "04e763f2-fe1e-3fa4-8755-1413179da303",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "3f99c3fa-0177-1000-d742-1bce892cc483",
          "groupIdentifier" : "04e763f2-fe1e-3fa4-8755-1413179da303"
        }, {
          "identifier" : "c76eb61d-838e-3b02-a3d6-5ff31752f51b",
          "name" : "Terminal INPUT",
          "comments" : "",
          "remoteGroupId" : "04e763f2-fe1e-3fa4-8755-1413179da303",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "3f99c38f-0177-1000-7b71-6a10910d542c",
          "groupIdentifier" : "04e763f2-fe1e-3fa4-8755-1413179da303"
        }, {
          "identifier" : "782a9d44-2c24-398f-8242-3fb9e1a781cc",
          "name" : "Bulk Attribute INPUT",
          "comments" : "",
          "remoteGroupId" : "04e763f2-fe1e-3fa4-8755-1413179da303",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "3f99c3cf-0177-1000-580b-b4abc90f38c3",
          "groupIdentifier" : "04e763f2-fe1e-3fa4-8755-1413179da303"
        } ],
        "outputPorts" : [ ],
        "componentType" : "REMOTE_PROCESS_GROUP",
        "groupIdentifier" : "b48af0a7-75cb-36d9-a294-ef37b9bc2810"
      } ],
      "processors" : [ ],
      "inputPorts" : [ {
        "identifier" : "3546f6f1-f693-3ae2-a3af-cc49cf8b25ec",
        "name" : "INPUT",
        "comments" : "",
        "position" : {
          "x" : 1232.0,
          "y" : -1016.0
        },
        "type" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "allowRemoteAccess" : false,
        "componentType" : "INPUT_PORT",
        "groupIdentifier" : "b48af0a7-75cb-36d9-a294-ef37b9bc2810"
      } ],
      "outputPorts" : [ {
        "identifier" : "27ef224f-0791-3aa6-a788-83a97ba13753",
        "name" : "OUTPUT",
        "comments" : "",
        "position" : {
          "x" : 1232.0,
          "y" : -496.0
        },
        "type" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "groupIdentifier" : "b48af0a7-75cb-36d9-a294-ef37b9bc2810"
      } ],
      "connections" : [ {
        "identifier" : "4b46fd55-4608-3fdb-b8ee-914e2094a0d0",
        "name" : "",
        "source" : {
          "id" : "2f734255-89e7-3e9f-9470-c8d7891d8cb6",
          "type" : "OUTPUT_PORT",
          "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
          "name" : "SUCCESS",
          "comments" : ""
        },
        "destination" : {
          "id" : "27ef224f-0791-3aa6-a788-83a97ba13753",
          "type" : "OUTPUT_PORT",
          "groupId" : "b48af0a7-75cb-36d9-a294-ef37b9bc2810",
          "name" : "OUTPUT",
          "comments" : ""
        },
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "" ],
        "backPressureObjectThreshold" : 10000,
        "backPressureDataSizeThreshold" : "1 GB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ ],
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute" : "",
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "componentType" : "CONNECTION",
        "groupIdentifier" : "b48af0a7-75cb-36d9-a294-ef37b9bc2810"
      }, {
        "identifier" : "ff8dded0-735c-3ea8-b4a7-30954a3a3101",
        "name" : "",
        "source" : {
          "id" : "eb523345-9e71-3fef-9661-b54d5b67d915",
          "type" : "OUTPUT_PORT",
          "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
          "name" : "ERROR",
          "comments" : ""
        },
        "destination" : {
          "id" : "290b456c-b445-3f42-99a3-161e16c1731d",
          "type" : "REMOTE_INPUT_PORT",
          "groupId" : "04e763f2-fe1e-3fa4-8755-1413179da303",
          "name" : "Logger INPUT",
          "comments" : ""
        },
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "" ],
        "backPressureObjectThreshold" : 10000,
        "backPressureDataSizeThreshold" : "1 GB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ ],
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute" : "",
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "componentType" : "CONNECTION",
        "groupIdentifier" : "b48af0a7-75cb-36d9-a294-ef37b9bc2810"
      }, {
        "identifier" : "8f50b202-4e60-32d1-b118-2210b7827c04",
        "name" : "",
        "source" : {
          "id" : "3546f6f1-f693-3ae2-a3af-cc49cf8b25ec",
          "type" : "INPUT_PORT",
          "groupId" : "b48af0a7-75cb-36d9-a294-ef37b9bc2810",
          "name" : "INPUT",
          "comments" : ""
        },
        "destination" : {
          "id" : "92ff5a3d-928a-3cf4-9fb8-5603cfe54902",
          "type" : "INPUT_PORT",
          "groupId" : "711a6206-be31-3171-9dc3-6d8143d4a26c",
          "name" : "INPUT",
          "comments" : ""
        },
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "" ],
        "backPressureObjectThreshold" : 10000,
        "backPressureDataSizeThreshold" : "1 GB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ ],
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute" : "",
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "componentType" : "CONNECTION",
        "groupIdentifier" : "b48af0a7-75cb-36d9-a294-ef37b9bc2810"
      } ],
      "labels" : [ {
        "identifier" : "52fb5b76-c6be-340f-b1c1-31e01a60aad8",
        "position" : {
          "x" : 384.0,
          "y" : -944.0
        },
        "label" : "ExecuteSQL And Invoke Search",
        "width" : 1280.0,
        "height" : 408.0,
        "style" : {
          "font-size" : "20px"
        },
        "componentType" : "LABEL",
        "groupIdentifier" : "b48af0a7-75cb-36d9-a294-ef37b9bc2810"
      } ],
      "funnels" : [ ],
      "controllerServices" : [ ],
      "variables" : { },
      "componentType" : "PROCESS_GROUP",
      "groupIdentifier" : "f0d44d61-5f12-341c-a3cf-39707c9f4e82"
    } ],
    "remoteProcessGroups" : [ ],
    "processors" : [ ],
    "inputPorts" : [ {
      "identifier" : "aac39888-c9f2-334f-8fb4-249eda63f2fe",
      "name" : "INPUT",
      "comments" : "",
      "position" : {
        "x" : 1952.0,
        "y" : -680.0
      },
      "type" : "INPUT_PORT",
      "concurrentlySchedulableTaskCount" : 1,
      "allowRemoteAccess" : false,
      "componentType" : "INPUT_PORT",
      "groupIdentifier" : "f0d44d61-5f12-341c-a3cf-39707c9f4e82"
    } ],
    "outputPorts" : [ {
      "identifier" : "a6773122-8203-3d7d-b845-a0c84b8a204f",
      "name" : "OUTPUT",
      "comments" : "",
      "position" : {
        "x" : 1952.0,
        "y" : 40.0
      },
      "type" : "OUTPUT_PORT",
      "concurrentlySchedulableTaskCount" : 1,
      "allowRemoteAccess" : false,
      "componentType" : "OUTPUT_PORT",
      "groupIdentifier" : "f0d44d61-5f12-341c-a3cf-39707c9f4e82"
    } ],
    "connections" : [ {
      "identifier" : "c84bb355-e99d-3d69-a535-191727997ec6",
      "name" : "",
      "source" : {
        "id" : "27ef224f-0791-3aa6-a788-83a97ba13753",
        "type" : "OUTPUT_PORT",
        "groupId" : "b48af0a7-75cb-36d9-a294-ef37b9bc2810",
        "name" : "OUTPUT",
        "comments" : ""
      },
      "destination" : {
        "id" : "a6773122-8203-3d7d-b845-a0c84b8a204f",
        "type" : "OUTPUT_PORT",
        "groupId" : "f0d44d61-5f12-341c-a3cf-39707c9f4e82",
        "name" : "OUTPUT",
        "comments" : ""
      },
      "labelIndex" : 1,
      "zIndex" : 0,
      "selectedRelationships" : [ "" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "f0d44d61-5f12-341c-a3cf-39707c9f4e82"
    }, {
      "identifier" : "d4fae3ce-707c-3f11-b2e2-23cbb9ea2daf",
      "name" : "",
      "source" : {
        "id" : "aac39888-c9f2-334f-8fb4-249eda63f2fe",
        "type" : "INPUT_PORT",
        "groupId" : "f0d44d61-5f12-341c-a3cf-39707c9f4e82",
        "name" : "INPUT",
        "comments" : ""
      },
      "destination" : {
        "id" : "3546f6f1-f693-3ae2-a3af-cc49cf8b25ec",
        "type" : "INPUT_PORT",
        "groupId" : "b48af0a7-75cb-36d9-a294-ef37b9bc2810",
        "name" : "INPUT",
        "comments" : ""
      },
      "labelIndex" : 1,
      "zIndex" : 0,
      "selectedRelationships" : [ "" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "f0d44d61-5f12-341c-a3cf-39707c9f4e82"
    } ],
    "labels" : [ {
      "identifier" : "73a00de0-36e6-3632-8e06-8f191440f708",
      "position" : {
        "x" : 1808.0,
        "y" : -456.0
      },
      "label" : "Custom Connector Pipe (Database)",
      "width" : 528.0,
      "height" : 336.0,
      "style" : {
        "background-color" : "#cceeff",
        "font-size" : "24px"
      },
      "componentType" : "LABEL",
      "groupIdentifier" : "f0d44d61-5f12-341c-a3cf-39707c9f4e82"
    } ],
    "funnels" : [ ],
    "controllerServices" : [ {
      "identifier" : "efdd999a-d8a6-3af0-9c72-c7a927c233c5",
      "name" : "Database Connection Pool",
      "comments" : "",
      "type" : "org.apache.nifi.dbcp.DBCPConnectionPool",
      "bundle" : {
        "group" : "org.apache.nifi",
        "artifact" : "nifi-dbcp-service-nar",
        "version" : "1.11.4"
      },
      "controllerServiceApis" : [ {
        "type" : "org.apache.nifi.dbcp.DBCPService",
        "bundle" : {
          "group" : "org.apache.nifi",
          "artifact" : "nifi-standard-services-api-nar",
          "version" : "1.11.4"
        }
      } ],
      "properties" : {
        "dbcp-min-idle-conns" : "0",
        "Max Wait Time" : "500 millis",
        "Database Driver Class Name" : "com.ibm.db2.jcc.DB2Driver",
        "dbcp-min-evictable-idle-time" : "30 mins",
        "Database Driver Location(s)" : "${AUTH_JDBC_DRIVER_LOCATION}",
        "Max Total Connections" : "8",
        "dbcp-max-conn-lifetime" : "-1",
        "Database Connection URL" : "${AUTH_JDBC_URL}",
        "dbcp-time-between-eviction-runs" : "-1",
        "Database User" : "${AUTH_JDBC_USER_NAME}",
        "dbcp-soft-min-evictable-idle-time" : "-1",
        "database-driver-locations" : "${AUTH_JDBC_DRIVER_LOCATION}",
        "dbcp-max-idle-conns" : "8"
      },
      "propertyDescriptors" : {
        "dbcp-min-idle-conns" : {
          "name" : "dbcp-min-idle-conns",
          "displayName" : "Minimum Idle Connections",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "Max Wait Time" : {
          "name" : "Max Wait Time",
          "displayName" : "Max Wait Time",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "Database Driver Class Name" : {
          "name" : "Database Driver Class Name",
          "displayName" : "Database Driver Class Name",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "dbcp-min-evictable-idle-time" : {
          "name" : "dbcp-min-evictable-idle-time",
          "displayName" : "Minimum Evictable Idle Time",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "Database Driver Location(s)" : {
          "name" : "Database Driver Location(s)",
          "displayName" : "Database Driver Location(s)",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "Max Total Connections" : {
          "name" : "Max Total Connections",
          "displayName" : "Max Total Connections",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "kerberos-credentials-service" : {
          "name" : "kerberos-credentials-service",
          "displayName" : "Kerberos Credentials Service",
          "identifiesControllerService" : true,
          "sensitive" : false
        },
        "dbcp-max-conn-lifetime" : {
          "name" : "dbcp-max-conn-lifetime",
          "displayName" : "Max Connection Lifetime",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "Validation-query" : {
          "name" : "Validation-query",
          "displayName" : "Validation query",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "Database Connection URL" : {
          "name" : "Database Connection URL",
          "displayName" : "Database Connection URL",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "dbcp-time-between-eviction-runs" : {
          "name" : "dbcp-time-between-eviction-runs",
          "displayName" : "Time Between Eviction Runs",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "Database User" : {
          "name" : "Database User",
          "displayName" : "Database User",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "dbcp-soft-min-evictable-idle-time" : {
          "name" : "dbcp-soft-min-evictable-idle-time",
          "displayName" : "Soft Minimum Evictable Idle Time",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "database-driver-locations" : {
          "name" : "database-driver-locations",
          "displayName" : "Database Driver Location(s)",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "dbcp-max-idle-conns" : {
          "name" : "dbcp-max-idle-conns",
          "displayName" : "Max Idle Connections",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "Password" : {
          "name" : "Password",
          "displayName" : "Password",
          "identifiesControllerService" : false,
          "sensitive" : true
        }
      },
      "componentType" : "CONTROLLER_SERVICE",
      "groupIdentifier" : "f0d44d61-5f12-341c-a3cf-39707c9f4e82"
    }, {
      "identifier" : "3dd3e9b0-805a-3960-bf24-042d2bc47cef",
      "name" : "Json Record Set Writer",
      "comments" : "",
      "type" : "org.apache.nifi.json.JsonRecordSetWriter",
      "bundle" : {
        "group" : "org.apache.nifi",
        "artifact" : "nifi-record-serialization-services-nar",
        "version" : "1.11.4"
      },
      "controllerServiceApis" : [ {
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory",
        "bundle" : {
          "group" : "org.apache.nifi",
          "artifact" : "nifi-standard-services-api-nar",
          "version" : "1.11.4"
        }
      } ],
      "properties" : {
        "compression-level" : "1",
        "Pretty Print JSON" : "false",
        "compression-format" : "none",
        "Schema Write Strategy" : "schema-name",
        "suppress-nulls" : "never-suppress",
        "output-grouping" : "output-array",
        "schema-name" : "output_schema",
        "schema-registry" : "16a07256-9b4e-3ed5-b7aa-1f7d9a4cd3d7",
        "schema-access-strategy" : "schema-name",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "schema-branch" : {
          "name" : "schema-branch",
          "displayName" : "Schema Branch",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "compression-level" : {
          "name" : "compression-level",
          "displayName" : "Compression Level",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "schema-cache" : {
          "name" : "schema-cache",
          "displayName" : "Schema Cache",
          "identifiesControllerService" : true,
          "sensitive" : false
        },
        "Timestamp Format" : {
          "name" : "Timestamp Format",
          "displayName" : "Timestamp Format",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "Date Format" : {
          "name" : "Date Format",
          "displayName" : "Date Format",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "Pretty Print JSON" : {
          "name" : "Pretty Print JSON",
          "displayName" : "Pretty Print JSON",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "compression-format" : {
          "name" : "compression-format",
          "displayName" : "Compression Format",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "name" : "Schema Write Strategy",
          "displayName" : "Schema Write Strategy",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "suppress-nulls" : {
          "name" : "suppress-nulls",
          "displayName" : "Suppress Null Values",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "output-grouping" : {
          "name" : "output-grouping",
          "displayName" : "Output Grouping",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "schema-name" : {
          "name" : "schema-name",
          "displayName" : "Schema Name",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "schema-registry" : {
          "name" : "schema-registry",
          "displayName" : "Schema Registry",
          "identifiesControllerService" : true,
          "sensitive" : false
        },
        "Time Format" : {
          "name" : "Time Format",
          "displayName" : "Time Format",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "name" : "schema-access-strategy",
          "displayName" : "Schema Access Strategy",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "schema-version" : {
          "name" : "schema-version",
          "displayName" : "Schema Version",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "schema-text" : {
          "name" : "schema-text",
          "displayName" : "Schema Text",
          "identifiesControllerService" : false,
          "sensitive" : false
        }
      },
      "componentType" : "CONTROLLER_SERVICE",
      "groupIdentifier" : "f0d44d61-5f12-341c-a3cf-39707c9f4e82"
    }, {
      "identifier" : "bb657b8d-c808-3055-b9df-14e877031635",
      "name" : "Json Tree Reader",
      "comments" : "",
      "type" : "org.apache.nifi.json.JsonTreeReader",
      "bundle" : {
        "group" : "org.apache.nifi",
        "artifact" : "nifi-record-serialization-services-nar",
        "version" : "1.11.4"
      },
      "controllerServiceApis" : [ {
        "type" : "org.apache.nifi.serialization.RecordReaderFactory",
        "bundle" : {
          "group" : "org.apache.nifi",
          "artifact" : "nifi-standard-services-api-nar",
          "version" : "1.11.4"
        }
      } ],
      "properties" : {
        "schema-name" : "input_schema",
        "schema-registry" : "16a07256-9b4e-3ed5-b7aa-1f7d9a4cd3d7",
        "schema-access-strategy" : "schema-name",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "Timestamp Format" : {
          "name" : "Timestamp Format",
          "displayName" : "Timestamp Format",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "schema-inference-cache" : {
          "name" : "schema-inference-cache",
          "displayName" : "Schema Inference Cache",
          "identifiesControllerService" : true,
          "sensitive" : false
        },
        "Date Format" : {
          "name" : "Date Format",
          "displayName" : "Date Format",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "schema-branch" : {
          "name" : "schema-branch",
          "displayName" : "Schema Branch",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "schema-name" : {
          "name" : "schema-name",
          "displayName" : "Schema Name",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "schema-registry" : {
          "name" : "schema-registry",
          "displayName" : "Schema Registry",
          "identifiesControllerService" : true,
          "sensitive" : false
        },
        "Time Format" : {
          "name" : "Time Format",
          "displayName" : "Time Format",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "name" : "schema-access-strategy",
          "displayName" : "Schema Access Strategy",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "schema-version" : {
          "name" : "schema-version",
          "displayName" : "Schema Version",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "schema-text" : {
          "name" : "schema-text",
          "displayName" : "Schema Text",
          "identifiesControllerService" : false,
          "sensitive" : false
        }
      },
      "componentType" : "CONTROLLER_SERVICE",
      "groupIdentifier" : "f0d44d61-5f12-341c-a3cf-39707c9f4e82"
    }, {
      "identifier" : "16a07256-9b4e-3ed5-b7aa-1f7d9a4cd3d7",
      "name" : "AvroSchemaRegistry",
      "comments" : "",
      "type" : "org.apache.nifi.schemaregistry.services.AvroSchemaRegistry",
      "bundle" : {
        "group" : "org.apache.nifi",
        "artifact" : "nifi-registry-nar",
        "version" : "1.11.4"
      },
      "controllerServiceApis" : [ {
        "type" : "org.apache.nifi.schemaregistry.services.SchemaRegistry",
        "bundle" : {
          "group" : "org.apache.nifi",
          "artifact" : "nifi-standard-services-api-nar",
          "version" : "1.11.4"
        }
      } ],
      "properties" : {
        "avro-reg-validated-field-names" : "true",
        "input_schema" : "{\n  \"name\": \"catentry_attach_input\",\n  \"namespace\": \"nifi\",\n  \"type\": \"record\",\n  \"fields\": [\n    { \"name\": \"CATENTRY_ID\", \"type\": \"long\" },\n    { \"name\": \"PARTNUMBER\", \"type\": \"string\" },\n\t{ \"name\": \"FIELD4\", \"type\": \"string\" },\n\t{ \"name\": \"NAME\", \"type\": \"string\" },\n\t{ \"name\": \"SHORTDESCRIPTION\", \"type\": \"string\" }\n  ]\n}",
        "output_schema" : "{\n  \"name\": \"catentry_attach_output\",\n  \"namespace\": \"nifi\",\n  \"type\": \"record\",\n  \"fields\": [\n    { \"name\": \"CATENTRY_ID\", \"type\": \"long\" },\n    { \"name\": \"PARTNUMBER\", \"type\": \"string\" },\n\t{ \"name\": \"FIELD4\", \"type\": \"string\" },\n\t{ \"name\": \"NAME\", \"type\": \"string\" },\n\t{ \"name\": \"SHORTDESCRIPTION\", \"type\": \"string\" }\n  ]\n}"
      },
      "propertyDescriptors" : {
        "avro-reg-validated-field-names" : {
          "name" : "avro-reg-validated-field-names",
          "displayName" : "Validate Field Names",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "input_schema" : {
          "name" : "input_schema",
          "displayName" : "input_schema",
          "identifiesControllerService" : false,
          "sensitive" : false
        },
        "output_schema" : {
          "name" : "output_schema",
          "displayName" : "output_schema",
          "identifiesControllerService" : false,
          "sensitive" : false
        }
      },
      "componentType" : "CONTROLLER_SERVICE",
      "groupIdentifier" : "f0d44d61-5f12-341c-a3cf-39707c9f4e82"
    } ],
    "variables" : {
      "connector.name" : "custom"
    },
    "componentType" : "PROCESS_GROUP"
  },
  "externalControllerServices" : { },
  "parameterContexts" : { },
  "flowEncodingVersion" : "1.0"
}