Search_UnstructuredContent/Nifi_Flows/custom-UnstructuredIndexSchemaUpdate.json
{
  "snapshotMetadata" : {
    "version" : 1,
    "timestamp" : 1626275730008,
    "author" : "anonymous",
    "comments" : ""
  },
  "flowContents" : {
    "identifier" : "05e2cbdb-2683-39dc-baff-ec85e6ce19d7",
    "name" : "custom - SchemaUpdateCustomConnector",
    "comments" : "{\n  \"version\": \"9.1.5.0\",\n  \"level\": \"9.1/search-registry-app=v9-1-5-0\"\n}",
    "position" : {
      "x" : 6632.0,
      "y" : 544.0
    },
    "processGroups" : [ {
      "identifier" : "3c4f4a88-68d2-34d2-80c1-248f2f7eab4e",
      "name" : "Unstructured Update",
      "comments" : "",
      "position" : {
        "x" : 2456.0,
        "y" : -384.0
      },
      "processGroups" : [ {
        "identifier" : "a9b40107-13b1-3893-ab5e-76057c9985a1",
        "name" : "Setup Elasticsearch Index Schema",
        "comments" : "",
        "position" : {
          "x" : 1152.0,
          "y" : -824.0
        },
        "processGroups" : [ ],
        "remoteProcessGroups" : [ ],
        "processors" : [ {
          "identifier" : "72706781-0c72-3678-9cd5-f7c0fefd7252",
          "name" : "Log info message",
          "comments" : "",
          "position" : {
            "x" : 1168.0,
            "y" : 776.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.11.4"
          },
          "style" : {
            "background-color" : "#ff0000"
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "properties" : {
            "logger.message.text" : "Successfully initialized ${index.name} index schema",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "logger.message.severity" : "I",
            "logger.message.code" : "DI1002I",
            "logger.message.parameter" : "[ \"${index.name}\" ]"
          },
          "propertyDescriptors" : {
            "logger.message.text" : {
              "name" : "logger.message.text",
              "displayName" : "logger.message.text",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.severity" : {
              "name" : "logger.message.severity",
              "displayName" : "logger.message.severity",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.code" : {
              "name" : "logger.message.code",
              "displayName" : "logger.message.code",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.parameter" : {
              "name" : "logger.message.parameter",
              "displayName" : "logger.message.parameter",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "NONE",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "a9b40107-13b1-3893-ab5e-76057c9985a1"
        }, {
          "identifier" : "0e5bc637-964e-3021-8d02-31f34c477ebe",
          "name" : "Populate Unstructured Index schema",
          "comments" : "",
          "position" : {
            "x" : -176.0,
            "y" : 760.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ReplaceText",
          "properties" : {
            "Regular Expression" : "(?s)(^.*$)",
            "Replacement Value" : "{\n  \"settings\": {\n    \"number_of_shards\": \"3\",\n\t\"number_of_replicas\": 0,\n\t\"refresh_interval\": \"10s\",\n    \"max_result_window\": 20000,\n\t\"index.store.type\": \"niofs\",\n    \"analysis\": {\n      \"normalizer\": {\n        \"lowercase\": {\n          \"type\": \"custom\",\n          \"char_filter\": [],\n          \"filter\": [\n            \"lowercase\",\n            \"asciifolding\"\n          ]\n        }\n      }\n    }\n  }\n}\n",
            "Evaluation Mode" : "Entire text",
            "Line-by-Line Evaluation Mode" : "All",
            "Character Set" : "UTF-8",
            "Maximum Buffer Size" : "1 MB",
            "Replacement Strategy" : "Always Replace"
          },
          "propertyDescriptors" : {
            "Regular Expression" : {
              "name" : "Regular Expression",
              "displayName" : "Search Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Replacement Value" : {
              "name" : "Replacement Value",
              "displayName" : "Replacement Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Evaluation Mode" : {
              "name" : "Evaluation Mode",
              "displayName" : "Evaluation Mode",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Line-by-Line Evaluation Mode" : {
              "name" : "Line-by-Line Evaluation Mode",
              "displayName" : "Line-by-Line Evaluation Mode",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Character Set" : {
              "name" : "Character Set",
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Maximum Buffer Size" : {
              "name" : "Maximum Buffer Size",
              "displayName" : "Maximum Buffer Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Replacement Strategy" : {
              "name" : "Replacement Strategy",
              "displayName" : "Replacement Strategy",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "NONE",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ "failure" ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "a9b40107-13b1-3893-ab5e-76057c9985a1"
        }, {
          "identifier" : "f7c300bc-9c8f-3f77-8ee6-54f1ec1d8dee",
          "name" : "Set unstructured index name",
          "comments" : "",
          "position" : {
            "x" : -896.0,
            "y" : 480.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "properties" : {
            "index.name" : ".${environment.name}.${param.storeId}.unstructured",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "index.name" : {
              "name" : "index.name",
              "displayName" : "index.name",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "a9b40107-13b1-3893-ab5e-76057c9985a1"
        }, {
          "identifier" : "4d719dc6-091d-376d-ac64-f0cc8622a712",
          "name" : "Check index existence",
          "comments" : "",
          "position" : {
            "x" : -904.0,
            "y" : 824.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.11.4"
          },
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "properties" : {
            "use-etag" : "false",
            "Proxy Type" : "http",
            "Connection Timeout" : "5 secs",
            "send-message-body" : "true",
            "Always Output Response" : "false",
            "etag-max-cache-size" : "10MB",
            "Use Chunked Encoding" : "false",
            "Follow Redirects" : "True",
            "Remote URL" : "${SEARCH_URL}/_cat/indices/${index.name}",
            "Content-Type" : "application/json",
            "Read Timeout" : "15 secs",
            "Max Length To Put In Attribute" : "256",
            "ignore-response-content" : "false",
            "Digest Authentication" : "false",
            "HTTP Method" : "GET",
            "Add Response Headers to Request" : "false",
            "Include Date Header" : "True",
            "Penalize on \"No Retry\"" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "name" : "Proxy Host",
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Attributes to Send" : {
              "name" : "Attributes to Send",
              "displayName" : "Attributes to Send",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "use-etag" : {
              "name" : "use-etag",
              "displayName" : "Use HTTP ETag",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "name" : "proxy-configuration-service",
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "sensitive" : false
            },
            "Proxy Type" : {
              "name" : "Proxy Type",
              "displayName" : "Proxy Type",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Basic Authentication Password" : {
              "name" : "Basic Authentication Password",
              "displayName" : "Basic Authentication Password",
              "identifiesControllerService" : false,
              "sensitive" : true
            },
            "Connection Timeout" : {
              "name" : "Connection Timeout",
              "displayName" : "Connection Timeout",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "send-message-body" : {
              "name" : "send-message-body",
              "displayName" : "Send Message Body",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Always Output Response" : {
              "name" : "Always Output Response",
              "displayName" : "Always Output Response",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "etag-max-cache-size" : {
              "name" : "etag-max-cache-size",
              "displayName" : "Maximum ETag Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Put Response Body In Attribute" : {
              "name" : "Put Response Body In Attribute",
              "displayName" : "Put Response Body In Attribute",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Use Chunked Encoding" : {
              "name" : "Use Chunked Encoding",
              "displayName" : "Use Chunked Encoding",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Follow Redirects" : {
              "name" : "Follow Redirects",
              "displayName" : "Follow Redirects",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Remote URL" : {
              "name" : "Remote URL",
              "displayName" : "Remote URL",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Content-Type" : {
              "name" : "Content-Type",
              "displayName" : "Content-Type",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "invokehttp-proxy-user" : {
              "name" : "invokehttp-proxy-user",
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Read Timeout" : {
              "name" : "Read Timeout",
              "displayName" : "Read Timeout",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Max Length To Put In Attribute" : {
              "name" : "Max Length To Put In Attribute",
              "displayName" : "Max Length To Put In Attribute",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "invokehttp-proxy-password" : {
              "name" : "invokehttp-proxy-password",
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "sensitive" : true
            },
            "ignore-response-content" : {
              "name" : "ignore-response-content",
              "displayName" : "Ignore response's content",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Proxy Port" : {
              "name" : "Proxy Port",
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "SSL Context Service" : {
              "name" : "SSL Context Service",
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "sensitive" : false
            },
            "Digest Authentication" : {
              "name" : "Digest Authentication",
              "displayName" : "Use Digest Authentication",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "HTTP Method" : {
              "name" : "HTTP Method",
              "displayName" : "HTTP Method",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Add Response Headers to Request" : {
              "name" : "Add Response Headers to Request",
              "displayName" : "Add Response Headers to Request",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Basic Authentication Username" : {
              "name" : "Basic Authentication Username",
              "displayName" : "Basic Authentication Username",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Include Date Header" : {
              "name" : "Include Date Header",
              "displayName" : "Include Date Header",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Penalize on \"No Retry\"" : {
              "name" : "Penalize on \"No Retry\"",
              "displayName" : "Penalize on \"No Retry\"",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ "Original" ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "a9b40107-13b1-3893-ab5e-76057c9985a1"
        }, {
          "identifier" : "2de223a2-7bf5-36e5-ba12-78baace7c480",
          "name" : "Log error message",
          "comments" : "",
          "position" : {
            "x" : 552.0,
            "y" : 528.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-update-attribute-nar",
            "version" : "1.11.4"
          },
          "style" : {
            "background-color" : "#ff0000"
          },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "properties" : {
            "logger.message.text" : "Update request sent to Elasticsearch in ${stage.name} cannot be completed with ${invokehttp.status.message} (${invokehttp.status.code}) status",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "logger.message.severity" : "E",
            "logger.message.response" : "${invokehttp.response.body}",
            "logger.message.code" : "DI2003E",
            "logger.message.parameter" : "[ \"${stage.name}\", \"${invokehttp.status.message}\", \"${invokehttp.status.code}\" ]"
          },
          "propertyDescriptors" : {
            "logger.message.text" : {
              "name" : "logger.message.text",
              "displayName" : "logger.message.text",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "name" : "Delete Attributes Expression",
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Store State" : {
              "name" : "Store State",
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "name" : "canonical-value-lookup-cache-size",
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.severity" : {
              "name" : "logger.message.severity",
              "displayName" : "logger.message.severity",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.response" : {
              "name" : "logger.message.response",
              "displayName" : "logger.message.response",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.code" : {
              "name" : "logger.message.code",
              "displayName" : "logger.message.code",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "logger.message.parameter" : {
              "name" : "logger.message.parameter",
              "displayName" : "logger.message.parameter",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "name" : "Stateful Variables Initial Value",
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "NONE",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "a9b40107-13b1-3893-ab5e-76057c9985a1"
        }, {
          "identifier" : "a72e2521-8253-3c26-a09e-dd8afb32661c",
          "name" : "PUT Elasticsearch",
          "comments" : "",
          "position" : {
            "x" : 560.0,
            "y" : 768.0
          },
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-nar",
            "version" : "1.11.4"
          },
          "style" : {
            "background-color" : "#005555"
          },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "properties" : {
            "use-etag" : "false",
            "Proxy Type" : "http",
            "Connection Timeout" : "15 secs",
            "send-message-body" : "true",
            "Always Output Response" : "false",
            "etag-max-cache-size" : "10MB",
            "Use Chunked Encoding" : "false",
            "Follow Redirects" : "False",
            "Remote URL" : "${SEARCH_URL}/${index.name}",
            "Content-Type" : "application/json",
            "Read Timeout" : "45 secs",
            "Max Length To Put In Attribute" : "256",
            "ignore-response-content" : "false",
            "Digest Authentication" : "false",
            "HTTP Method" : "PUT",
            "Add Response Headers to Request" : "false",
            "Include Date Header" : "True",
            "Penalize on \"No Retry\"" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "name" : "Proxy Host",
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Attributes to Send" : {
              "name" : "Attributes to Send",
              "displayName" : "Attributes to Send",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "use-etag" : {
              "name" : "use-etag",
              "displayName" : "Use HTTP ETag",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "name" : "proxy-configuration-service",
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "sensitive" : false
            },
            "Proxy Type" : {
              "name" : "Proxy Type",
              "displayName" : "Proxy Type",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Basic Authentication Password" : {
              "name" : "Basic Authentication Password",
              "displayName" : "Basic Authentication Password",
              "identifiesControllerService" : false,
              "sensitive" : true
            },
            "Connection Timeout" : {
              "name" : "Connection Timeout",
              "displayName" : "Connection Timeout",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "send-message-body" : {
              "name" : "send-message-body",
              "displayName" : "Send Message Body",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Always Output Response" : {
              "name" : "Always Output Response",
              "displayName" : "Always Output Response",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "etag-max-cache-size" : {
              "name" : "etag-max-cache-size",
              "displayName" : "Maximum ETag Cache Size",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Put Response Body In Attribute" : {
              "name" : "Put Response Body In Attribute",
              "displayName" : "Put Response Body In Attribute",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Use Chunked Encoding" : {
              "name" : "Use Chunked Encoding",
              "displayName" : "Use Chunked Encoding",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Follow Redirects" : {
              "name" : "Follow Redirects",
              "displayName" : "Follow Redirects",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Remote URL" : {
              "name" : "Remote URL",
              "displayName" : "Remote URL",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Content-Type" : {
              "name" : "Content-Type",
              "displayName" : "Content-Type",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "invokehttp-proxy-user" : {
              "name" : "invokehttp-proxy-user",
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Read Timeout" : {
              "name" : "Read Timeout",
              "displayName" : "Read Timeout",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Max Length To Put In Attribute" : {
              "name" : "Max Length To Put In Attribute",
              "displayName" : "Max Length To Put In Attribute",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "invokehttp-proxy-password" : {
              "name" : "invokehttp-proxy-password",
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "sensitive" : true
            },
            "ignore-response-content" : {
              "name" : "ignore-response-content",
              "displayName" : "Ignore response's content",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Proxy Port" : {
              "name" : "Proxy Port",
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "SSL Context Service" : {
              "name" : "SSL Context Service",
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "sensitive" : false
            },
            "Digest Authentication" : {
              "name" : "Digest Authentication",
              "displayName" : "Use Digest Authentication",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "HTTP Method" : {
              "name" : "HTTP Method",
              "displayName" : "HTTP Method",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Add Response Headers to Request" : {
              "name" : "Add Response Headers to Request",
              "displayName" : "Add Response Headers to Request",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Basic Authentication Username" : {
              "name" : "Basic Authentication Username",
              "displayName" : "Basic Authentication Username",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Include Date Header" : {
              "name" : "Include Date Header",
              "displayName" : "Include Date Header",
              "identifiesControllerService" : false,
              "sensitive" : false
            },
            "Penalize on \"No Retry\"" : {
              "name" : "Penalize on \"No Retry\"",
              "displayName" : "Penalize on \"No Retry\"",
              "identifiesControllerService" : false,
              "sensitive" : false
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "executionNode" : "ALL",
          "penaltyDuration" : "0 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : [ "Original" ],
          "scheduledState" : "ENABLED",
          "componentType" : "PROCESSOR",
          "groupIdentifier" : "a9b40107-13b1-3893-ab5e-76057c9985a1"
        } ],
        "inputPorts" : [ {
          "identifier" : "2e33f842-1c0f-30d0-9603-86e05a426d37",
          "name" : "INPUT",
          "comments" : "",
          "position" : {
            "x" : -1392.0,
            "y" : 832.0
          },
          "type" : "INPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "allowRemoteAccess" : false,
          "componentType" : "INPUT_PORT",
          "groupIdentifier" : "a9b40107-13b1-3893-ab5e-76057c9985a1"
        } ],
        "outputPorts" : [ {
          "identifier" : "037969c3-7f15-31db-a933-570904d8c7ad",
          "name" : "SUCCESS",
          "comments" : "",
          "position" : {
            "x" : 2088.0,
            "y" : 952.0
          },
          "type" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "allowRemoteAccess" : false,
          "componentType" : "OUTPUT_PORT",
          "groupIdentifier" : "a9b40107-13b1-3893-ab5e-76057c9985a1"
        }, {
          "identifier" : "d7aad4df-e4b9-3d09-a073-4182c591b9e8",
          "name" : "ERROR",
          "comments" : "",
          "position" : {
            "x" : 2064.0,
            "y" : 592.0
          },
          "type" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "allowRemoteAccess" : false,
          "componentType" : "OUTPUT_PORT",
          "groupIdentifier" : "a9b40107-13b1-3893-ab5e-76057c9985a1"
        } ],
        "connections" : [ {
          "identifier" : "41098ce8-0dd3-3a10-90a8-73a4bb438208",
          "name" : "",
          "source" : {
            "id" : "72706781-0c72-3678-9cd5-f7c0fefd7252",
            "type" : "PROCESSOR",
            "groupId" : "a9b40107-13b1-3893-ab5e-76057c9985a1",
            "name" : "Log info message",
            "comments" : ""
          },
          "destination" : {
            "id" : "4d0bf053-17df-351e-9fa2-94b9c6ea0218",
            "type" : "FUNNEL",
            "groupId" : "a9b40107-13b1-3893-ab5e-76057c9985a1",
            "name" : "Funnel",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "a9b40107-13b1-3893-ab5e-76057c9985a1"
        }, {
          "identifier" : "de6caf69-6904-3263-bebc-d185d17ebffd",
          "name" : "",
          "source" : {
            "id" : "a72e2521-8253-3c26-a09e-dd8afb32661c",
            "type" : "PROCESSOR",
            "groupId" : "a9b40107-13b1-3893-ab5e-76057c9985a1",
            "name" : "PUT Elasticsearch",
            "comments" : ""
          },
          "destination" : {
            "id" : "72706781-0c72-3678-9cd5-f7c0fefd7252",
            "type" : "PROCESSOR",
            "groupId" : "a9b40107-13b1-3893-ab5e-76057c9985a1",
            "name" : "Log info message",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "Response" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "a9b40107-13b1-3893-ab5e-76057c9985a1"
        }, {
          "identifier" : "6445aa57-81c2-38a0-87b8-09c229fdf1f1",
          "name" : "",
          "source" : {
            "id" : "4d0bf053-17df-351e-9fa2-94b9c6ea0218",
            "type" : "FUNNEL",
            "groupId" : "a9b40107-13b1-3893-ab5e-76057c9985a1",
            "name" : "Funnel",
            "comments" : ""
          },
          "destination" : {
            "id" : "d7aad4df-e4b9-3d09-a073-4182c591b9e8",
            "type" : "OUTPUT_PORT",
            "groupId" : "a9b40107-13b1-3893-ab5e-76057c9985a1",
            "name" : "ERROR",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "a9b40107-13b1-3893-ab5e-76057c9985a1"
        }, {
          "identifier" : "bf5df97c-28b0-31a9-8050-c8ac1c1bc830",
          "name" : "",
          "source" : {
            "id" : "4d719dc6-091d-376d-ac64-f0cc8622a712",
            "type" : "PROCESSOR",
            "groupId" : "a9b40107-13b1-3893-ab5e-76057c9985a1",
            "name" : "Check index existence",
            "comments" : ""
          },
          "destination" : {
            "id" : "0e5bc637-964e-3021-8d02-31f34c477ebe",
            "type" : "PROCESSOR",
            "groupId" : "a9b40107-13b1-3893-ab5e-76057c9985a1",
            "name" : "Populate Unstructured Index schema",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "No Retry" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "a9b40107-13b1-3893-ab5e-76057c9985a1"
        }, {
          "identifier" : "b8a0f8e8-d025-3b91-9443-1c47a8a16c84",
          "name" : "",
          "source" : {
            "id" : "af1f8d41-3a50-30ed-bae6-544c336f3924",
            "type" : "FUNNEL",
            "groupId" : "a9b40107-13b1-3893-ab5e-76057c9985a1",
            "name" : "Funnel",
            "comments" : ""
          },
          "destination" : {
            "id" : "ea643875-c4b8-3304-bd3b-c27e20c543b0",
            "type" : "FUNNEL",
            "groupId" : "a9b40107-13b1-3893-ab5e-76057c9985a1",
            "name" : "Funnel",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "a9b40107-13b1-3893-ab5e-76057c9985a1"
        }, {
          "identifier" : "5ea7b171-9cba-3c5f-a7fd-87e5dc806254",
          "name" : "",
          "source" : {
            "id" : "a72e2521-8253-3c26-a09e-dd8afb32661c",
            "type" : "PROCESSOR",
            "groupId" : "a9b40107-13b1-3893-ab5e-76057c9985a1",
            "name" : "PUT Elasticsearch",
            "comments" : ""
          },
          "destination" : {
            "id" : "2de223a2-7bf5-36e5-ba12-78baace7c480",
            "type" : "PROCESSOR",
            "groupId" : "a9b40107-13b1-3893-ab5e-76057c9985a1",
            "name" : "Log error message",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "No Retry", "Retry", "Failure" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "a9b40107-13b1-3893-ab5e-76057c9985a1"
        }, {
          "identifier" : "c2b34972-bb18-35ac-bc1e-342a2419b307",
          "name" : "",
          "source" : {
            "id" : "2de223a2-7bf5-36e5-ba12-78baace7c480",
            "type" : "PROCESSOR",
            "groupId" : "a9b40107-13b1-3893-ab5e-76057c9985a1",
            "name" : "Log error message",
            "comments" : ""
          },
          "destination" : {
            "id" : "4d0bf053-17df-351e-9fa2-94b9c6ea0218",
            "type" : "FUNNEL",
            "groupId" : "a9b40107-13b1-3893-ab5e-76057c9985a1",
            "name" : "Funnel",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "a9b40107-13b1-3893-ab5e-76057c9985a1"
        }, {
          "identifier" : "d057cfd7-9c4f-3d7e-856b-ec460cbe6279",
          "name" : "",
          "source" : {
            "id" : "72706781-0c72-3678-9cd5-f7c0fefd7252",
            "type" : "PROCESSOR",
            "groupId" : "a9b40107-13b1-3893-ab5e-76057c9985a1",
            "name" : "Log info message",
            "comments" : ""
          },
          "destination" : {
            "id" : "ea643875-c4b8-3304-bd3b-c27e20c543b0",
            "type" : "FUNNEL",
            "groupId" : "a9b40107-13b1-3893-ab5e-76057c9985a1",
            "name" : "Funnel",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "a9b40107-13b1-3893-ab5e-76057c9985a1"
        }, {
          "identifier" : "cd9b7e7a-c1e7-345c-b215-1ae85c0ecaa2",
          "name" : "",
          "source" : {
            "id" : "2e33f842-1c0f-30d0-9603-86e05a426d37",
            "type" : "INPUT_PORT",
            "groupId" : "a9b40107-13b1-3893-ab5e-76057c9985a1",
            "name" : "INPUT",
            "comments" : ""
          },
          "destination" : {
            "id" : "f7c300bc-9c8f-3f77-8ee6-54f1ec1d8dee",
            "type" : "PROCESSOR",
            "groupId" : "a9b40107-13b1-3893-ab5e-76057c9985a1",
            "name" : "Set unstructured index name",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "a9b40107-13b1-3893-ab5e-76057c9985a1"
        }, {
          "identifier" : "23e762f8-e7ce-3bf8-a7b3-c3ad8efb4157",
          "name" : "",
          "source" : {
            "id" : "ea643875-c4b8-3304-bd3b-c27e20c543b0",
            "type" : "FUNNEL",
            "groupId" : "a9b40107-13b1-3893-ab5e-76057c9985a1",
            "name" : "Funnel",
            "comments" : ""
          },
          "destination" : {
            "id" : "037969c3-7f15-31db-a933-570904d8c7ad",
            "type" : "OUTPUT_PORT",
            "groupId" : "a9b40107-13b1-3893-ab5e-76057c9985a1",
            "name" : "SUCCESS",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "a9b40107-13b1-3893-ab5e-76057c9985a1"
        }, {
          "identifier" : "009c7e25-6cd9-3c82-89d9-5579596e66ae",
          "name" : "",
          "source" : {
            "id" : "4d719dc6-091d-376d-ac64-f0cc8622a712",
            "type" : "PROCESSOR",
            "groupId" : "a9b40107-13b1-3893-ab5e-76057c9985a1",
            "name" : "Check index existence",
            "comments" : ""
          },
          "destination" : {
            "id" : "af1f8d41-3a50-30ed-bae6-544c336f3924",
            "type" : "FUNNEL",
            "groupId" : "a9b40107-13b1-3893-ab5e-76057c9985a1",
            "name" : "Funnel",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "Response", "Retry", "Failure" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "a9b40107-13b1-3893-ab5e-76057c9985a1"
        }, {
          "identifier" : "f9ff5fc7-fa7b-318c-9bb1-75809dd8e875",
          "name" : "",
          "source" : {
            "id" : "0e5bc637-964e-3021-8d02-31f34c477ebe",
            "type" : "PROCESSOR",
            "groupId" : "a9b40107-13b1-3893-ab5e-76057c9985a1",
            "name" : "Populate Unstructured Index schema",
            "comments" : ""
          },
          "destination" : {
            "id" : "a72e2521-8253-3c26-a09e-dd8afb32661c",
            "type" : "PROCESSOR",
            "groupId" : "a9b40107-13b1-3893-ab5e-76057c9985a1",
            "name" : "PUT Elasticsearch",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "a9b40107-13b1-3893-ab5e-76057c9985a1"
        }, {
          "identifier" : "7d3a9839-0911-3964-8a13-732c513051c4",
          "name" : "",
          "source" : {
            "id" : "f7c300bc-9c8f-3f77-8ee6-54f1ec1d8dee",
            "type" : "PROCESSOR",
            "groupId" : "a9b40107-13b1-3893-ab5e-76057c9985a1",
            "name" : "Set unstructured index name",
            "comments" : ""
          },
          "destination" : {
            "id" : "4d719dc6-091d-376d-ac64-f0cc8622a712",
            "type" : "PROCESSOR",
            "groupId" : "a9b40107-13b1-3893-ab5e-76057c9985a1",
            "name" : "Check index existence",
            "comments" : ""
          },
          "labelIndex" : 1,
          "zIndex" : 0,
          "selectedRelationships" : [ "success" ],
          "backPressureObjectThreshold" : 10000,
          "backPressureDataSizeThreshold" : "1 GB",
          "flowFileExpiration" : "0 sec",
          "prioritizers" : [ ],
          "bends" : [ ],
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute" : "",
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "componentType" : "CONNECTION",
          "groupIdentifier" : "a9b40107-13b1-3893-ab5e-76057c9985a1"
        } ],
        "labels" : [ {
          "identifier" : "36d3cd6e-8c3f-3abe-952a-40404e3982f7",
          "position" : {
            "x" : -1936.0,
            "y" : 384.0
          },
          "label" : "Setup Elasticsearch Index Schema",
          "width" : 4504.0,
          "height" : 768.0,
          "style" : {
            "background-color" : "#ffffff",
            "font-size" : "24px"
          },
          "componentType" : "LABEL",
          "groupIdentifier" : "a9b40107-13b1-3893-ab5e-76057c9985a1"
        } ],
        "funnels" : [ {
          "identifier" : "ea643875-c4b8-3304-bd3b-c27e20c543b0",
          "position" : {
            "x" : 1368.0,
            "y" : 1024.0
          },
          "componentType" : "FUNNEL",
          "groupIdentifier" : "a9b40107-13b1-3893-ab5e-76057c9985a1"
        }, {
          "identifier" : "4d0bf053-17df-351e-9fa2-94b9c6ea0218",
          "position" : {
            "x" : 1328.0,
            "y" : 584.0
          },
          "componentType" : "FUNNEL",
          "groupIdentifier" : "a9b40107-13b1-3893-ab5e-76057c9985a1"
        }, {
          "identifier" : "af1f8d41-3a50-30ed-bae6-544c336f3924",
          "position" : {
            "x" : -768.0,
            "y" : 1032.0
          },
          "componentType" : "FUNNEL",
          "groupIdentifier" : "a9b40107-13b1-3893-ab5e-76057c9985a1"
        } ],
        "controllerServices" : [ ],
        "variables" : { },
        "componentType" : "PROCESS_GROUP",
        "groupIdentifier" : "3c4f4a88-68d2-34d2-80c1-248f2f7eab4e"
      } ],
      "remoteProcessGroups" : [ {
        "identifier" : "128902e7-06c1-3405-8baa-85fd1bac058e",
        "name" : "NiFi Flow",
        "comments" : "",
        "position" : {
          "x" : 440.0,
          "y" : -824.0
        },
        "targetUri" : "http://localhost:30600/nifi",
        "targetUris" : "http://localhost:30600/nifi",
        "communicationsTimeout" : "30 sec",
        "yieldDuration" : "10 sec",
        "transportProtocol" : "RAW",
        "proxyHost" : "",
        "proxyUser" : "",
        "inputPorts" : [ {
          "identifier" : "8878b1ef-f496-3e1f-ba41-9fdb7eed7de3",
          "name" : "Bulk Description INPUT",
          "comments" : "",
          "remoteGroupId" : "128902e7-06c1-3405-8baa-85fd1bac058e",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "3f99c419-0177-1000-fb5b-f5ed07076172",
          "groupIdentifier" : "128902e7-06c1-3405-8baa-85fd1bac058e"
        }, {
          "identifier" : "1dc11d12-1aba-3de2-93cb-964503fc2feb",
          "name" : "Bulk Store INPUT",
          "comments" : "",
          "remoteGroupId" : "128902e7-06c1-3405-8baa-85fd1bac058e",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "3f99c3a9-0177-1000-9e71-0ce581d84cfa",
          "groupIdentifier" : "128902e7-06c1-3405-8baa-85fd1bac058e"
        }, {
          "identifier" : "fee909b4-3923-3657-a00b-14c82c4d7a02",
          "name" : "Bulk Catalog INPUT",
          "comments" : "",
          "remoteGroupId" : "128902e7-06c1-3405-8baa-85fd1bac058e",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "3f99c3be-0177-1000-baa6-16b938a37a95",
          "groupIdentifier" : "128902e7-06c1-3405-8baa-85fd1bac058e"
        }, {
          "identifier" : "5ebdfdcf-88ce-3711-946c-5dee74d2ca57",
          "name" : "Run INPUT",
          "comments" : "",
          "remoteGroupId" : "128902e7-06c1-3405-8baa-85fd1bac058e",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "3f99c377-0177-1000-ede8-0560d4605961",
          "groupIdentifier" : "128902e7-06c1-3405-8baa-85fd1bac058e"
        }, {
          "identifier" : "79158158-6481-32c2-8342-f12742b417ca",
          "name" : "Bulk URL INPUT",
          "comments" : "",
          "remoteGroupId" : "128902e7-06c1-3405-8baa-85fd1bac058e",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "3f99c433-0177-1000-155b-bfefcfa647df",
          "groupIdentifier" : "128902e7-06c1-3405-8baa-85fd1bac058e"
        }, {
          "identifier" : "047f80db-49b9-3290-8949-5ca4eae38312",
          "name" : "Logger INPUT",
          "comments" : "",
          "remoteGroupId" : "128902e7-06c1-3405-8baa-85fd1bac058e",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "3f99c33c-0177-1000-d495-4d5cad3146da",
          "groupIdentifier" : "128902e7-06c1-3405-8baa-85fd1bac058e"
        }, {
          "identifier" : "b4f44093-c143-3287-b4c5-5c3723ba91f2",
          "name" : "Bulk Category INPUT",
          "comments" : "",
          "remoteGroupId" : "128902e7-06c1-3405-8baa-85fd1bac058e",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "3f99c3e5-0177-1000-cf89-02b00c53e536",
          "groupIdentifier" : "128902e7-06c1-3405-8baa-85fd1bac058e"
        }, {
          "identifier" : "625f1321-64e6-3c76-8edc-8ba3a3b7d5cc",
          "name" : "Bulk Product INPUT",
          "comments" : "",
          "remoteGroupId" : "128902e7-06c1-3405-8baa-85fd1bac058e",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "3f99c3fa-0177-1000-d742-1bce892cc483",
          "groupIdentifier" : "128902e7-06c1-3405-8baa-85fd1bac058e"
        }, {
          "identifier" : "fa210f8b-7c9c-3675-89c7-2b07ebd48d6a",
          "name" : "Terminal INPUT",
          "comments" : "",
          "remoteGroupId" : "128902e7-06c1-3405-8baa-85fd1bac058e",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "3f99c38f-0177-1000-7b71-6a10910d542c",
          "groupIdentifier" : "128902e7-06c1-3405-8baa-85fd1bac058e"
        }, {
          "identifier" : "4aa77478-c9c4-397f-9ed8-2cc26cf85215",
          "name" : "Bulk Attribute INPUT",
          "comments" : "",
          "remoteGroupId" : "128902e7-06c1-3405-8baa-85fd1bac058e",
          "concurrentlySchedulableTaskCount" : 1,
          "useCompression" : false,
          "batchSize" : { },
          "componentType" : "REMOTE_INPUT_PORT",
          "targetId" : "3f99c3cf-0177-1000-580b-b4abc90f38c3",
          "groupIdentifier" : "128902e7-06c1-3405-8baa-85fd1bac058e"
        } ],
        "outputPorts" : [ ],
        "componentType" : "REMOTE_PROCESS_GROUP",
        "groupIdentifier" : "3c4f4a88-68d2-34d2-80c1-248f2f7eab4e"
      } ],
      "processors" : [ ],
      "inputPorts" : [ {
        "identifier" : "b30827e4-8846-3198-950f-0b2bb2771650",
        "name" : "INPUT",
        "comments" : "",
        "position" : {
          "x" : 1224.0,
          "y" : -968.0
        },
        "type" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "allowRemoteAccess" : false,
        "componentType" : "INPUT_PORT",
        "groupIdentifier" : "3c4f4a88-68d2-34d2-80c1-248f2f7eab4e"
      } ],
      "outputPorts" : [ {
        "identifier" : "793100e6-d017-3e9c-8062-8ad107106166",
        "name" : "OUTPUT",
        "comments" : "",
        "position" : {
          "x" : 1224.0,
          "y" : -520.0
        },
        "type" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "groupIdentifier" : "3c4f4a88-68d2-34d2-80c1-248f2f7eab4e"
      } ],
      "connections" : [ {
        "identifier" : "cbb702ff-e9c3-36fd-bb37-0b352b699c7b",
        "name" : "",
        "source" : {
          "id" : "d7aad4df-e4b9-3d09-a073-4182c591b9e8",
          "type" : "OUTPUT_PORT",
          "groupId" : "a9b40107-13b1-3893-ab5e-76057c9985a1",
          "name" : "ERROR",
          "comments" : ""
        },
        "destination" : {
          "id" : "047f80db-49b9-3290-8949-5ca4eae38312",
          "type" : "REMOTE_INPUT_PORT",
          "groupId" : "128902e7-06c1-3405-8baa-85fd1bac058e",
          "name" : "Logger INPUT",
          "comments" : ""
        },
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "" ],
        "backPressureObjectThreshold" : 10000,
        "backPressureDataSizeThreshold" : "1 GB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ ],
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute" : "",
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "componentType" : "CONNECTION",
        "groupIdentifier" : "3c4f4a88-68d2-34d2-80c1-248f2f7eab4e"
      }, {
        "identifier" : "55d01e2e-d54a-36f3-8c81-9fcc2341562c",
        "name" : "",
        "source" : {
          "id" : "037969c3-7f15-31db-a933-570904d8c7ad",
          "type" : "OUTPUT_PORT",
          "groupId" : "a9b40107-13b1-3893-ab5e-76057c9985a1",
          "name" : "SUCCESS",
          "comments" : ""
        },
        "destination" : {
          "id" : "793100e6-d017-3e9c-8062-8ad107106166",
          "type" : "OUTPUT_PORT",
          "groupId" : "3c4f4a88-68d2-34d2-80c1-248f2f7eab4e",
          "name" : "OUTPUT",
          "comments" : ""
        },
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "" ],
        "backPressureObjectThreshold" : 10000,
        "backPressureDataSizeThreshold" : "1 GB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ ],
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute" : "",
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "componentType" : "CONNECTION",
        "groupIdentifier" : "3c4f4a88-68d2-34d2-80c1-248f2f7eab4e"
      }, {
        "identifier" : "6be8e4d1-b45a-32ca-8d5d-749274d977d0",
        "name" : "",
        "source" : {
          "id" : "b30827e4-8846-3198-950f-0b2bb2771650",
          "type" : "INPUT_PORT",
          "groupId" : "3c4f4a88-68d2-34d2-80c1-248f2f7eab4e",
          "name" : "INPUT",
          "comments" : ""
        },
        "destination" : {
          "id" : "2e33f842-1c0f-30d0-9603-86e05a426d37",
          "type" : "INPUT_PORT",
          "groupId" : "a9b40107-13b1-3893-ab5e-76057c9985a1",
          "name" : "INPUT",
          "comments" : ""
        },
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "" ],
        "backPressureObjectThreshold" : 10000,
        "backPressureDataSizeThreshold" : "1 GB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ ],
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute" : "",
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "componentType" : "CONNECTION",
        "groupIdentifier" : "3c4f4a88-68d2-34d2-80c1-248f2f7eab4e"
      } ],
      "labels" : [ {
        "identifier" : "59e1938c-886b-374b-beb3-f79fe4e36bfa",
        "position" : {
          "x" : 360.0,
          "y" : -896.0
        },
        "label" : "Unstructured Schema",
        "width" : 1256.0,
        "height" : 336.0,
        "style" : {
          "background-color" : "#ffffff",
          "font-size" : "24px"
        },
        "componentType" : "LABEL",
        "groupIdentifier" : "3c4f4a88-68d2-34d2-80c1-248f2f7eab4e"
      } ],
      "funnels" : [ ],
      "controllerServices" : [ ],
      "variables" : { },
      "componentType" : "PROCESS_GROUP",
      "groupIdentifier" : "05e2cbdb-2683-39dc-baff-ec85e6ce19d7"
    } ],
    "remoteProcessGroups" : [ ],
    "processors" : [ ],
    "inputPorts" : [ {
      "identifier" : "865eacbe-7e40-3cc6-98c9-2a657bd4672e",
      "name" : "INPUT",
      "comments" : "",
      "position" : {
        "x" : 2528.0,
        "y" : -680.0
      },
      "type" : "INPUT_PORT",
      "concurrentlySchedulableTaskCount" : 1,
      "allowRemoteAccess" : false,
      "componentType" : "INPUT_PORT",
      "groupIdentifier" : "05e2cbdb-2683-39dc-baff-ec85e6ce19d7"
    } ],
    "outputPorts" : [ {
      "identifier" : "b2cff885-c974-344f-9385-cff51a22c84e",
      "name" : "OUTPUT",
      "comments" : "",
      "position" : {
        "x" : 2528.0,
        "y" : 24.0
      },
      "type" : "OUTPUT_PORT",
      "concurrentlySchedulableTaskCount" : 1,
      "allowRemoteAccess" : false,
      "componentType" : "OUTPUT_PORT",
      "groupIdentifier" : "05e2cbdb-2683-39dc-baff-ec85e6ce19d7"
    } ],
    "connections" : [ {
      "identifier" : "a2b1d36f-ca8d-37ad-b6b7-c6d3b3eb1afe",
      "name" : "",
      "source" : {
        "id" : "793100e6-d017-3e9c-8062-8ad107106166",
        "type" : "OUTPUT_PORT",
        "groupId" : "3c4f4a88-68d2-34d2-80c1-248f2f7eab4e",
        "name" : "OUTPUT",
        "comments" : ""
      },
      "destination" : {
        "id" : "b2cff885-c974-344f-9385-cff51a22c84e",
        "type" : "OUTPUT_PORT",
        "groupId" : "05e2cbdb-2683-39dc-baff-ec85e6ce19d7",
        "name" : "OUTPUT",
        "comments" : ""
      },
      "labelIndex" : 1,
      "zIndex" : 0,
      "selectedRelationships" : [ "" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "05e2cbdb-2683-39dc-baff-ec85e6ce19d7"
    }, {
      "identifier" : "4e45b638-b699-3a2d-a1a5-98ffe1c8c773",
      "name" : "",
      "source" : {
        "id" : "865eacbe-7e40-3cc6-98c9-2a657bd4672e",
        "type" : "INPUT_PORT",
        "groupId" : "05e2cbdb-2683-39dc-baff-ec85e6ce19d7",
        "name" : "INPUT",
        "comments" : ""
      },
      "destination" : {
        "id" : "b30827e4-8846-3198-950f-0b2bb2771650",
        "type" : "INPUT_PORT",
        "groupId" : "3c4f4a88-68d2-34d2-80c1-248f2f7eab4e",
        "name" : "INPUT",
        "comments" : ""
      },
      "labelIndex" : 1,
      "zIndex" : 0,
      "selectedRelationships" : [ "" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "05e2cbdb-2683-39dc-baff-ec85e6ce19d7"
    } ],
    "labels" : [ {
      "identifier" : "4f0046db-f147-3fe8-b2a0-e019d95b3c82",
      "position" : {
        "x" : 2384.0,
        "y" : -464.0
      },
      "label" : "Unstructured Schema",
      "width" : 528.0,
      "height" : 328.0,
      "style" : {
        "background-color" : "#cceeff",
        "font-size" : "24px"
      },
      "componentType" : "LABEL",
      "groupIdentifier" : "05e2cbdb-2683-39dc-baff-ec85e6ce19d7"
    } ],
    "funnels" : [ ],
    "controllerServices" : [ ],
    "variables" : {
      "connector.name" : "custom"
    },
    "componentType" : "PROCESS_GROUP"
  },
  "externalControllerServices" : { },
  "parameterContexts" : { },
  "flowEncodingVersion" : "1.0"
}